{% load magazine_tags %}
<div class="modal hide fade" id="upload-publication-modal" style="display: none;">
  <form enctype="multipart/form-data" method="POST" action="{% url upload_module_publication publisher.id 'magazine' %}" id="upload-publication-form">
    <div class="modal-header"><a class="close" href="#">×</a><h3>Upload magazine issue</h3></div>
    <div class="modal-body">
      <div class="inputs">
        {% csrf_token %}
        {% if not magazine %}
          <div class="clearfix"><label for="id_magazine">Magazine</label><div class="input"><select name="magazine" id="id_magazine">{% generate_magazine_option_list publisher %}</select></div></div>
        {% else %}
          <div class="parent_name">{{magazine.title}}</div>
          <input type="hidden" name="magazine" id="id_magazine" value="{{magazine.id}}" />
        {% endif %}
        <div class="clearfix"><label for="id_publication">Publication file</label><div class="input"><input type="file" id="id_publication" name="publication"></div></div>
        <input type="hidden" id="X-Progress-ID" name="X-Progress-ID" value=""/>
        <input type="hidden" id="id_module" name="module" value="magazine"/>
      </div>
    </div>
    <div class="modal-footer actions"><input class="btn primary" type="submit" value="Upload" /></div>
  </form>
</div>