{% extends 'base_authenticated.html' %}
{% load helper_tags magazine_tags %}

{% block head_title %}{{magazine.title}}{% endblock %}
{% block topnav %}{% include 'publisher/snippets/publisher_topnav.html' with active_menu='magazine' %}{% endblock %}

{% block html_head %}
{{block.super}}
<script>
$(document).ready(function () {
  {% can user 'edit' publisher %}
  bind_all_upload_publication_modal();
  bind_all_upload_publication_form();

  $('.upload_publication_button').on('click', function(e) {
    open_upload_publication_modal('upload-magazine-form');
    return false;
  });

  bind_publication_actions();
  {% endcan %}
})
</script>
{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body publisher_magazine_page">

  <div class="sidebar">
    <div class="head"><a href="{% url view_magazines publisher.id %}">รายชื่อนิตยสาร</a></div>
    <ul>
      {% generate_magazine_nav_list publisher magazine %}
      {% can user 'manage' publisher %}<li class="add"><a href="{% url create_magazine publisher.id %}">สร้างนิตยสารใหม่</a></li>{% endcan %}
    </ul>  
  </div>

  <div class="content"><div class="content-inner">

    <h2><span>นิตยสาร</span>{{magazine.title}}</h2>

    {% can user 'edit,manage' publisher %}
    <div class="page_actions">
      <button class="btn primary upload_publication_button"><span>อัพโหลดไฟล์นิตยสาร</span></button>
      {% can user 'manage' publisher %}<a href="{% url edit_magazine magazine.id %}" class="btn">แก้ไขข้อมูลนิตยสาร</a>{% endcan %}
    </div>
    {% endcan %}
  
    <h3>ไฟล์นิตยสาร</h3>

    {% if magazine.issues %}
    <div class="publications">
      <ul>
        {% for issue in magazine.issues %}
        <li class="publication{% if forloop.last %} last{% endif %}">
          <div class="cover"></div>
          <div class="right">
            {% if issue.publication.publish_status == PUBLISH_STATUS_PUBLISHED %}<div class="statistics"></div>{% endif %}
            <div class="name">{% if issue.publication.publish_status == PUBLISH_STATUS_UPLOADING %}{{issue.publication.original_file_name}}.{{issue.publication.file_ext}}{% else %}<a href="{% url view_publication issue.publication.id %}">{{issue.publication.title}}</a>{% endif %}</div>
            <div class="details">อัพโหลดเมื่อวันที่ {{issue.publication.uploaded|format_abbr_datetime}}</div>
            <div class="publish_status">สถานะ - {% print_publication_status issue.publication %}</div>
            {% can user 'edit' publisher %}<div class="links">{% generate_publication_actions issue.publication %}</div>{% endcan %}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    {% else %}
    <div class="no_row">ไม่มีไฟล์นิตยสาร</div>
    {% endif %}

    {% can user 'edit' publisher %}{% generate_publication_module_upload_modal 'magazine' %}{% endcan %}

  </div></div>

</div>
{% endblock %}