{% extends 'base_authenticated.html' %}
{% load helper_tags magazine_tags %}

{% block head_title %}นิตยสาร{% endblock %}
{% block topnav %}{% include 'publisher/snippets/publisher_topnav.html' with active_menu='magazine' %}{% endblock %}

{% block html_head %}
{{block.super}}
<script>
$(document).ready(function () {
  {% can user 'upload' publisher %}
  bind_all_upload_publication_modal();
  bind_all_upload_publication_form();

  $('.upload_publication_button').on('click', function(e) {
    open_upload_publication_modal('upload-magazine-form');
    return false;
  });
  {% endcan %}
  
})
</script>
{% endblock %}

{% block body_authenticated %}

{% if magazines %}
  <div class="container-fluid container-body publisher_magazines_page">

    <div class="sidebar">
      <div class="head"><a href="{% url view_magazines publisher.id %}">รายชื่อนิตยสาร</a></div>
      <ul>
        {% generate_magazine_nav_list publisher %}
        <li class="add"><a href="{% url create_magazine publisher.id %}">สร้างนิตยสารใหม่</a></li>
      </ul>
    </div>

    <div class="content"><div class="content-inner">
      <h2>นิตยสาร</h2>
      
      {% if magazines %}{% can user 'upload' publisher %}
      <div class="page_actions">
        <button class="btn primary upload_publication_button"><span>อัพโหลดไฟล์นิตยสาร</span></button>
      </div>
      {% endcan %}{% endif %}

      {% if orphan_publications %}
      <h3>ไฟล์ที่ข้อมูลยังไม่ครบ</h3>
      <div class="orphan_publications">
        <ul class="unfinished_list">
          {% for publication in orphan_publications %}
          <li class="publication">
              <div class="cover"></div>
              <div class="right">
                <div class="name">{{publication.original_file_name}}.{{publication.file_ext}}</div>
                <div class="details">อัพโหลดเมื่อวันที่ <span>{{publication.uploaded|format_abbr_datetime}}</span> โดย <span>{{publication.uploaded_by.get_profile.get_fullname}}</span></div>
                <div class="links">
                  <a href="{% url finishing_upload_publication publication.id %}" class="small btn">แก้ไขข้อมูลหนังสือ</a>
                </div>
              </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <h3>ไฟล์นิตยสารล่าสุด</h3>
      {% if recent_issues %}
        <ul class="recent_publications">
        {% for issue in recent_issues %}
          <li>
            <div><a href="{% url view_publication issue.publication.id %}" class="title">{{issue.magazine.title}} - {{issue.publication.title}}</a></div>
            <div><span class="uploaded">อัพโหลดเมื่อวันที่ {{issue.publication.uploaded|format_abbr_datetime}}</span></div>
          </li>
        {% endfor %}
        </ul>
      {% else %}
      <div class="no_row">ยังไม่มีไฟล์นิตยสาร</div>
      {% endif %}

      {% can user 'upload' publisher %}{% generate_publication_module_upload_modal 'magazine' %}{% endcan %}

    </div></div>
  </div>
{% else %}
  <div class="container-fluid container-body publisher_magazines_page">
    <div class="content-full"><div class="content-inner">
      {% can user 'manage' publisher %}
      <div class="no_magazine">
        <p>ยังไม่มีนิตยสาร ต้องการสร้างนิตยสาร?</p>
        <div><a href="{% url create_magazine publisher.id %}" class="btn primary create_magazine"><span>สร้างนิตยสาร</span></a></div>
      </div>
      {% else %}
      <div class="no_row">ไม่มีนิตยสาร</div>
      {% endcan %}
    </div></div>
  </div>
{% endif %}

{% endblock %}