{% extends 'base_authenticated.html' %}
{% load helper_tags page_tags module_tags magazine_tags %}

{% block head_title %}{{magazine.title}}{% endblock %}
{% block topnav %}{% include 'publisher/snippets/publisher_topnav.html' with active_menu='magazine' %}{% endblock %}

{% block html_head %}
{{block.super}}
<script>
$(document).ready(function () {
  {% can user 'upload' publisher %}
  bind_all_upload_publication_modal();
  bind_all_upload_publication_form();

  $('.upload_publication_button').on('click', function(e) {
    open_upload_publication_modal('upload-magazine-form');
    return false;
  });
  {% endcan %}

  {% if outstandings %}
  bind_publication_outstandings();
  {% endif %}
})
</script>
{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body publisher_magazine_page">

  <div class="sidebar">
    <div class="head"><a href="{% url view_magazines publisher.id %}">รายชื่อนิตยสาร</a></div>
    <ul>
      {% generate_magazine_nav_list publisher magazine %}
      <li class="add"><a href="{% url create_magazine publisher.id %}">สร้างนิตยสารใหม่</a></li>
    </ul>  
  </div>

  <div class="content"><div class="content-inner">

    <h2><span>นิตยสาร</span>{{magazine.title}}</h2>

    {% can user 'upload,manage' publisher %}
    <div class="page_actions">
      {% can user 'upload' publisher %}<button class="btn primary upload_publication_button"><span>อัพโหลดไฟล์นิตยสาร</span></button>{% endcan %}
      {% can user 'manage' publisher %}<a href="{% url edit_magazine magazine.id %}" class="btn">แก้ไขข้อมูลนิตยสาร</a>{% endcan %}
    </div>
    {% endcan %}

    <h3>สรุปสถานะ</h3>
    {% if outstandings.unfinished or outstandings.scheduled or outstandings.unpublished %}
      {% include 'publisher/snippets/publication_outstandings.html' with module_name='magazine' unfinished=outstandings.unfinished scheduled=outstandings.scheduled unpublished=outstandings.unpublished %}
    {% endif %}
  
    <h3>ไฟล์นิตยสาร</h3>

    {% if magazine.issues %}
    <div class="publications">
      {% if magazine.issues %}
      <ul>
        {% for issue in magazine.issues %}
        <li class="publication{% if forloop.last %} last{% endif %}">
          <div class="cover"></div>
          <div class="right">
            <div class="statistics"></div>
            <div class="name"><a href="{% url view_publication issue.publication.id %}">{{issue.publication.title}}</a></div>
            <div class="details">อัพโหลดเมื่อวันที่ {{issue.publication.uploaded|format_abbr_datetime}}</div>
            <div class="publish_status">สถานะ - {% print_publication_status issue.publication %}</div>
            <div class="stats"></div>
            {% can user 'upload,publish' publisher %}<div class="links"><a href="{% url edit_publication issue.publication.id %}" class="link">แก้ไขรายละเอียด</a></div>{% endcan %}
          </div>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    {% else %}
    <div class="no_row">ไม่มีไฟล์นิตยสาร</div>
    {% endif %}
  

    {% can user 'upload' publisher %}{% generate_publication_module_upload_modal 'magazine' %}{% endcan %}

  </div></div>

</div>
{% endblock %}