{% extends 'base_authenticated.html' %}
{% load page_tags helper_tags magazine_tags %}

{% block head_title %}Finishing upload{% endblock %}
{% block topnav %}{% include 'snippets/topnav.html' with active_menu='magazine' %}{% endblock %}

{% block html_head %}
{{block.super}}

<script>
$(document).ready(function () {
  
})
</script>
{% endblock %}

{% block body_authenticated %}
<div class="alert-message block-message success">
  <p><strong>Uploaded successfully!</strong> Please fill in these necessary information to complete your upload.</p>
</div>

<div class="container-fluid container-body finishing_upload_publication_page">

  <div class="sidebar">
    <div class="cover"></div>
  </div>

  <div class="content"><div class="content-inner">

    <h2>กรอกรายละเอียด</h2>

    <div class="file_name">
      <h3>ชื่อไฟล์ต้นฉบับ</h3>
      <div>{{uploading_publication.original_file_name}}.{{uploading_publication.file_ext}}</div>
    </div>

    <form class="form-stacked" action="." method="post">
      {% csrf_token %}

      {% if uploading_publication.parent_id %}
      <div class="clearfix"><label for="id_magazine">นิตยสาร</label><div class="input magazine_name">{% print_magazine_name uploading_publication.parent_id %}</div></div>
      {% else %}
      <div class="clearfix"><label for="id_magazine">นิตยสาร</label><div class="input">{{form.magazine}}</div></div>
      {% endif %}

      <div class="clearfix"><label for="id_title">ฉบับที่</label><div class="input">{{form.title}}{{form.title.errors}}</div></div>
      <div class="clearfix"><label for="id_description">คำอธิบาย</label><div class="input">{{form.description}}<span class="help-block">ไม่จำเป็นต้องกรอก</span>{{form.description.errors}}</div></div>

      {% can user 'publish' publisher %}{% include 'publisher/snippets/publish_status.html' with form=form %}{% endcan %}

      <div class="form_actions">
        <button type="submit" class="btn primary">บันทึกข้อมูล</button>

        {% if uploading_pubilcation.parent_id %}
        <a href="{% url delete_uploading_publication uploading_publication.id %}?next={% url view_magazine uploading_pubilcation.parent_id %}" title="Delete uploaded file permanently">ยกเลิกการอัพโหลดไฟล์</a>
        {% else %}
        <a href="{% url delete_uploading_publication uploading_publication.id %}?next={% url view_magazines uploading_publication.publisher.id %}" title="Delete uploaded file permanently">ยกเลิกการอัพโหลดไฟล์</a>
        {% endif %}
      </div>
    </form>
    

  </div></div>
</div>
{% endblock %}