{% extends 'base_authenticated.html' %}
{% load helper_tags %}

{% block head_title %}Upload magazine issue{% endblock %}

{% block html_head %}
{{block.super}}
<script>
$(document).ready(function () {
  bind_upload_publication_form();
})
</script>
{% endblock %}

{% block body_authenticated %}
<div class="upload_publication_page">
  <ul class="breadcrumb">
    <li><a href="{% url view_magazines publisher.id %}">Magazines</a> <span class="divider">/</span></li>
    <li class="active">Upload magazine issue</li>
  </ul>

  <form id="upload-publication-form" action="{% url upload_module_publication publisher.id 'magazine' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
      <legend>Magazine issue</legend>
      
      {{form.errors}}

      <div class="inputs">
          <div class="clearfix">
            <label for="id_magazine">Magazine</label>
            <div class="input">
              {{form.magazine}}
            </div>
          </div>
        
        <div class="clearfix">
          <label for="id_publication">Publication file</label>
          <div class="input">
            {{form.publication}}
          </div>
        </div>

        {{form.module}}
        <input type="hidden" id="X-Progress-ID" name="X-Progress-ID" value=""/>
      </div>

      <div class="actions">
        <input type="submit" value="Upload" class="btn primary span2">
        <input type="reset" value="Reset" class="btn">
      </div>
    
    </fieldset>
  </form>
</div>

{% endblock %}