{% extends 'base_authenticated.html' %}
{% load helper_tags %}

{% block head_title %}{{publication.magazineissue.magazine.title}} - {{publication.title}} | แก้ไขรายละเอียด{% endblock %}
{% block topnav %}{% include 'publisher/snippets/publisher_topnav.html' with active_menu='magazine' %}{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body">
  <div class="content-full"><div class="content-inner">

    <ul class="breadcrumb">
      <li><a href="{% url view_magazines publisher.id %}">นิตยสารทั้งหมด</a> <span class="divider">/</span></li>
      <li><a href="{% url view_magazine publication.magazineissue.magazine.id %}">{{publication.magazineissue.magazine.title}}</a> <span class="divider">/</span></li>
      <li><a href="{% url view_publication publication.id %}">{{publication.title}}</a> <span class="divider">/</span></li>
      <li class="active">ลบไฟล์นิตยสาร</li>
    </ul>

    <h2>ลบไฟล์นิตยสาร</h2>

    <form method="POST" action=".">
      {% csrf_token %}
      {{form.non_field_errors}}

      <ul class="form_data">
        <li>นิตยสาร: <span>{{publication.magazineissue.magazine.title}}</span></li>
        <li>ฉบับที่: <span>{{publication.title}}</span></li>
      </ul>

      <div class="note">
        <p>คำสั่งลบไฟล์ไม่สามารถย้อนกลับคืนได้ กรุณายืนยันว่าต้องการที่จะลบไฟล์ดังกล่าว</p>
      </div>

      <div class="form_actions left_form_actions">
        <button type="submit" name="submit-delete" class="btn danger">ยืนยันการลบไฟล์</button>
        <button type="submit" name="submit-cancel" class="btn">ยกเลิก</button>
      </div>
    </form>
  </div></div>
</div>
{% endblock %}