{% extends 'base_authenticated.html' %}
{% load helper_tags %}

{% block head_title %}Edit Magazine - {{publication.title}}{% endblock %}
{% block topnav %}{% include 'snippets/topnav.html' with active_menu='magazine' %}{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body publisher_magazines_page">
  <div class="content-full"><div class="content-inner">

    <ul class="breadcrumb">
      <li><a href="{% url view_magazines publisher.id %}">นิตยสารทั้งหมด</a> <span class="divider">/</span></li>
      <li><a href="{% url view_magazine publication.magazineissue.magazine.id %}">{{publication.magazineissue.magazine.title}}</a> <span class="divider">/</span></li>
      <li><a href="{% url view_publication publication.id %}">{{publication.title}}</a> <span class="divider">/</span></li>
      <li class="active">แก้ไขรายละเอียด</li>
    </ul>

    <h2>แก้ไขรายละเอียด</h2>

    <form method="POST" action="{% url edit_publication publication.id %}">
      {% csrf_token %}
      {{form.non_field_errors}}
      <fieldset>
        <legend>{{publication.magazineissue.magazine.title}}</legend>

        <div class="clearfix"><label for="id_title">ฉบับที่</label><div class="input">{{form.title}}{{form.title.errors}}</div></div>
        <div class="clearfix"><label for="id_description">คำอธิบาย</label><div class="input">{{form.description}}<span class="help-block">ไม่จำเป็นต้องกรอก</span>{{form.description.errors}}</div></div>

        {% can user 'publish' publisher %}{% include 'publisher/snippets/publish_status.html' with form=form %}{% endcan %}

        <div class="form_actions">
          <button type="submit" class="btn primary">บันทึกข้อมูล</button>
          <button type="reset" class="btn">ล้างข้อมูล</button>
        </div>
      </fieldset>
    </form>

  </div></div>
</div>
{% endblock %}