{% extends 'base_authenticated.html' %}
{% load helper_tags %}
{% load i18n %}

{% block head_title %}{% trans 'Organization information' %}{% endblock %}
{% block topnav %}{% include 'snippets/organization_topnav.html' with active_menu='organization' %}{% endblock %}

{% block body_authenticated %}
{% include 'manage/snippets/manage_organization_topnav.html' %}
<div class="container-fluid organization_profile_page"><div class="row-fluid">
    <div class="content"><div class="inner-content">
        <h2>{% trans 'Payment' %}: {% if organization.prefix %}{{ organization.prefix }}{% endif %} {{ organization.name }}</h2>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>{% trans 'Invoice' %}</th>
                    <td>{{ invoice.start_date|format_date }} {% trans 'to' %} {{ invoice.end_date|format_date }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Invoice code' %}</th>
                    <td>{{ invoice.invoice_code }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Total users' %}</th>
                    <td>{{ invoice.new_people }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Price rate' %}</th>
                    <td>&#8364; {{ invoice.price }} / {% trans 'users' %}</td>
                </tr>
                <tr>
                    <th>{% trans 'Total' %}</th>
                    <td>&#8364; {{ invoice.total }}</td>
                </tr>
            </tbody>
        </table>

        {% if is_paymentable %}
        <div class="page_actions">
            {{form.sandbox}}
        </div>
        {% endif %}
    </div></div>
</div></div>
{% endblock %}