{% extends 'base_authenticated.html' %}
{% load helper_tags %}
{% load i18n %}

{% block head_title %}Knowledge{% endblock %}
{% block topnav %}{% include 'snippets/organization_topnav.html' with active_menu='knowledge' %}{% endblock %}

{% block extra_head %}
<script>
$(document).ready(function () {
    $('#knowledge-list td:last a').on('click', function() {
        knowledge_id = $(this).attr('id');
        row = $(this).closest('tr');
    });

    $('#delete-knowledge-modal button[type="submit"]').on('click', function(e) {
        var url = '{% url ajax_organization_knowledge_delete organization.slug 98769999 %}'.replace (98769999, knowledge_id);
        $.post(url, {}, function(response) {
            if(response.status == 'success'){
                $('#delete-knowledge-modal').modal('hide');
                _showAlertBar('ลบสาระน่ารู้เรียบร้อย', 'success', true);
                row.remove();
            }
        }, 'json');
        return false;
    });
});
</script>
{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body">
    <div class="content-full"><div class="content-inner">
        <legend>{{ organization.name }}'s Knowledge</legend>
        <div class="page_actions"><a href="{% url organization_knowledge_create organization.slug %}" class="btn">Add knowledge</a></div>

        <table class="table" id="knowledge-list">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Weight</th>
                    <th>Image</th>
                    <th>Link</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for knowledge in knowledge_list %}
                <tr>
                    <td>{{ knowledge.title }}</td>
                    <td>{{ knowledge.weight }}</td>
                    <td><a href="{{ knowledge.image.url }}">{{ knowledge.image }}</a></td>
                    <td><a href="{{ knowledge.link }}">{{ knowledge.link }}</a></td>
                    <td><a href="{% url organization_knowledge_edit organization.slug knowledge.id %}" class="btn">Edit</a></td>
                    <td><a href="#delete-knowledge-modal" id="{{ knowledge.id }}" data-toggle="modal" class="btn btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div></div>
</div>

<div class="modal hide" id="delete-knowledge-modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Delete knowledge ?</h3>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">{% trans 'Cancel' %}</button>
        <button type="submit" class="btn btn-danger">{% trans 'Confirm' %}</button>
    </div>
</div>
{% endblock %}