{% extends 'base_authenticated.html' %}
{% load helper_tags pagination_tags %}
{% load i18n %}

{% block head_title %}{% trans 'User invitation' %}{% endblock %}
{% block topnav %}{% if user.is_superuser %}{% include 'manage/snippets/manage_topnav.html' with active_menu='management' %}{% else %}{% include 'snippets/organization_topnav.html' with active_menu='user' %}{% endif %}{% endblock %}

{% block body_authenticated %}
{% include 'manage/snippets/manage_organization_topnav.html' %}
<div class="container-fluid organization_users_page"><div class="row-fluid">
    <div class="content"><div class="inner-content">
        <ul class="breadcrumb">
            <li><a href="{% url view_organization_users organization.slug %}">{% trans 'Users and groups' %}</a> <span class="divider">/</span></li>
            <li class="active">{% trans 'User invitation' %}</li>
        </ul>

        <h2>{% trans 'User invitation' %}</h2>

        {% if invited_users %}
            {% autopaginate invited_users 50 %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>{% trans 'Email' %}</th>
                    <th>{% trans 'Sent at' %}</th>
                    <th class="edit_column"></th>
                </tr>
                </thead>
                <tbody>
                {% for invitation in invited_users %}
                    <tr>
                        <td>{{invitation.email}}</td>
                        <td>{{invitation.created|format_abbr_datetime}}</td>
                        <td class="row_actions"><a href="{% url edit_user_invitation invitation.id %}" class="btn btn-small">แก้ไข</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% paginate %}
        {% else %}
            <div class="no_information">{% trans 'No user invitations' %}</div>
        {% endif %}

    </div></div>
</div></div>
{% endblock %}