{% extends 'base_authenticated.html' %}
{% load helper_tags pagination_tags %}

{% block head_title %}แก้ไขคำขอเพิ่มผู้ใช้{% endblock %}
{% block topnav %}{% if user.is_superuser %}{% include 'manage/snippets/manage_topnav.html' with active_menu='management' %}{% else %}{% include 'snippets/organization_topnav.html' with active_menu='user' %}{% endif %}{% endblock %}

{% block extra_head %}
<script>
$(document).ready(function () {
  $("#id_groups").chosen();

  $('#resend-invitation-modal button[type="submit"]').on('click', function(e) {
    $.post('{% url ajax_resend_user_invitation invitation.id %}', {}, function(response) {
        if(response.status == 'success') {
            $('#resend-invitation-modal').modal('hide');
            _showAlertBar('ส่งคำขอถึงผู้ใช้เรียบร้อย', 'success', true);
        } else if(response.status == 'error') {
            if(response.error == 'send-invitation-failed') _addModalMessage('resend-invitation-modal', 'ไม่สามารถส่งอีเมลได้', 'error');
        }
    }, 'json');
    return false;
  });

    //เพิกถอนคำขอเรียบร้อย

  $('#cancel-invitation-modal button[type="submit"]').on('click', function(e) {
    $.post('{% url ajax_cancel_user_invitation invitation.id %}', {}, function(response) {
      window.location = response.redirect_url;
    }, 'json');
    return false;
  });
});
</script>
{% endblock %}

{% block body_authenticated %}
{% include 'manage/snippets/manage_organization_topnav.html' %}
<div class="container-fluid organization_users_page"><div class="row-fluid">
    <div class="content"><div class="inner-content">
        <ul class="breadcrumb">
            <li><a href="{% url view_organization_users organization.slug %}">รายชื่อและกลุ่มผู้ใช้</a> <span class="divider">/</span></li>
            <li><a href="{% url view_organization_invited_users organization.slug %}">คำขอเพิ่มผู้ใช้</a> <span class="divider">/</span></li>
            <li class="active">แก้ไขคำขอเพิ่มผู้ใช้</li>
        </ul>

        <h2>แก้ไขคำขอเพิ่มผู้ใช้ <span>{{ invitation.email }}</span></h2>

        <div class="page_actions">
            <a href="#resend-invitation-modal" class="btn" data-toggle="modal"><i class="icon-envelope"></i> ส่งคำขออีกครั้ง</a>
            <a href="#cancel-invitation-modal" class="btn" data-toggle="modal"><i class="icon-trash"></i> เพิกถอนคำขอ</a>
        </div>

        <form method="POST" action=".">
            {% csrf_token %}
            {{form.non_field_errors}}

            <div class="control-group">
                <label class="control-label" for="id_email">อีเมลผู้ใช้</label>
                <div class="fixed-controls controls">{{invitation.email}}</div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_groups">กลุ่มผู้ใช้</label>
                <div class="controls">{{form.groups}}{{form.groups.errors}}</div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> บันทึกข้อมูล</button>
                <button type="reset" class="btn">ล้างข้อมูล</button>
            </div>
        </form>
    </div></div>
</div></div>

<div class="modal hide" id="resend-invitation-modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>ส่งคำขออีกครั้ง</h3>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">ยกเลิก</button>
        <button type="submit" class="btn btn-primary">ยืนยันส่งคำขออีกครั้ง</button>
    </div>
</div>

<div class="modal hide" id="cancel-invitation-modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>เพิกถอนคำขอ</h3>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">ยกเลิก</button>
        <button type="submit" class="btn btn-danger">ยืนยันเพิกถอนคำขอ</button>
    </div>
</div>
{% endblock %}