{% extends 'base_authenticated.html' %}
{% load i18n %}

{% block head_title %}Summarize user{% endblock %}
{% block topnav %}{% if user.is_superuser %}{% include 'manage/snippets/manage_topnav.html' with active_menu='management' %}{% else %}{% include 'snippets/organization_topnav.html' with active_menu='user' %}{% endif %}{% endblock %}

{% block body_authenticated %}
{% include 'manage/snippets/manage_organization_topnav.html' %}
<div class="container-fluid organization_users_page"><div class="row-fluid">
    <div class="content"><div class="inner-content">
        <ul class="breadcrumb">
            <li><a href="{% url view_organization_users organization.slug %}">{% trans 'Users and groups' %}</a> <span class="divider">/</span></li>
            {% if action == 'invite-confirm' %}
            <li><a href="{% url invite_organization_user organization.slug %}">{% trans 'Invite new user' %}</a> <span class="divider">/</span></li>
            {% else %}
            <li><a href="{% url edit_organization_user user_organization_id %}">{% trans 'Edit users' %}</a> <span class="divider">/</span></li>
            {% endif %}
            <li class="active">Summarize user</li>
        </ul>

        <h2>Summarize user</h2>
        
        <h4>{{ action_title }}</h4>

        <form method="POST" action="{% url summarize_organization_users organization.slug %}">
            {% csrf_token %}
            {{form.non_field_errors}}

            <h4>Email list</h4>
            <ul>
                {% for email in emails %}
                <li>{{ email }}</li>
                {% endfor %}
            </ul>

            <h4>Total current user</h4>
            <p>{{ invoice.new_people }}</p>
            {% if invited_users %}
            <h4>Total invited user</h4>
            <p>{{ invited_users }}</p>
            {% endif %}
            <h4>Change</h4>
            <p>{% if action == 'remove-user-confirm' %}-{% else %}+{% endif %}{{ emails|length }}</p>
            <h4>Current total service price</h4>
            <p>&#8364; {{ invoice.price }}</p>
            <h4>Expected total service price</h4>
            <p>&#8364; {{ new_price }}</p>
            
            <input type="hidden" name="emails" value="{{emails}}"/>
            <input type="hidden" name="groups" value="{{groups}}"/>
            <input type="hidden" name="action" value="{{action}}"/>
            <input type="hidden" name="user_organization_id" value="{{user_organization_id}}"/>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {% trans 'Confirm' %}</button>
                <a href="{% url view_user_home %}" class="btn">{% trans 'Cancel' %}</a>
            </div>
        </form>
    </div></div>
</div></div>
{% endblock %}