{% extends 'base_authenticated.html' %}
{% load helper_tags %}

{% block head_title %}ข้อมูลบริษัท{% endblock %}
{% block topnav %}{% include 'snippets/organization_topnav.html' with active_menu='organization' %}{% endblock %}

{% block body_authenticated %}
<div class="container-fluid organization_profile_page"><div class="row-fluid">
    <div class="content"><div class="inner-content">
        <h2>ข้อมูล{{ organization.prefix }} {{ organization.name }}</h2>
        <div class="statistics">
            <h3>สถิติการใช้งาน</h3>
            <h4>ไฟล์เอกสาร</h4>
            <ul>
                <li>จำนวนไฟล์ <strong>{{ statistics.publication_count }} ไฟล์</strong></li>
                <li>จำนวนชั้นหนังสือ <strong>{{ statistics.shelf_count }} ชั้น</strong></li>
            </ul>
        </div>
    </div></div>
</div></div>
{% endblock %}