{% extends 'base_authenticated.html' %}
{% load i18n %}

{% block head_title %}{% trans 'Invite new user' %}{% endblock %}
{% block topnav %}{% if user.is_superuser %}{% include 'manage/snippets/manage_topnav.html' with active_menu='management' %}{% else %}{% include 'snippets/organization_topnav.html' with active_menu='user' %}{% endif %}{% endblock %}

{% block html_head %}
{{block.super}}
<script>
$(document).ready(function () {
  $("#id_groups").chosen();
});
</script>
{% endblock %}

{% block body_authenticated %}
{% include 'manage/snippets/manage_organization_topnav.html' %}
<div class="container-fluid organization_users_page"><div class="row-fluid">
    <div class="content"><div class="inner-content">
        <ul class="breadcrumb">
            <li><a href="{% url view_organization_users organization.slug %}">{% trans 'Users and groups' %}</a> <span class="divider">/</span></li>
            <li class="active">{% trans 'Invite new user' %}</li>
        </ul>

        <h2>{% trans 'Invite new user' %}</h2>

        <form method="POST" action=".">
            {% csrf_token %}
            {{form.non_field_errors}}

            <div class="control-group">
                <label class="control-label" for="id_email">{% trans 'Email' %}</label>
                <div class="controls">{{form.emails}}{{form.emails.errors}}</div>
                <div>{% trans 'Seperate each email with colon' %} (,)</div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_groups">{% trans 'Groups' %}</label>
                <div class="controls">{{form.groups}}{{form.groups.errors}}</div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {% trans 'Next' %}</button>
                <button type="reset" class="btn">{% trans 'Clear' %}</button>
            </div>
        </form>
    </div></div>
</div></div>
{% endblock %}