{% extends 'base_authenticated.html' %}
{% load presentation_tags %}
{% load i18n %}

{% block head_title %}{% trans 'Edit group' %}{% endblock %}
{% block topnav %}{% if user.is_superuser %}{% include 'manage/snippets/manage_topnav.html' with active_menu='management' %}{% else %}{% include 'snippets/organization_topnav.html' with active_menu='user' %}{% endif %}{% endblock %}

{% block extra_head %}
<script>
$(document).ready(function () {
  {% if group %}
  $('#remove-group-modal button[type="submit"]').on('click', function(e) {
    $.post('{% url ajax_remove_organization_group group.id %}', {}, function(response) {
      window.location = response.redirect_url;
    }, 'json');
    return false;
  });
  {% endif %}
});
</script>
{% endblock %}

{% block body_authenticated %}
{% include 'manage/snippets/manage_organization_topnav.html' %}
<div class="container-fluid organization_users_page"><div class="row-fluid">
    <div class="content"><div class="inner-content">
        <ul class="breadcrumb">
            <li><a href="{% url view_organization_groups organization.slug %}">{% trans 'Users and groups' %}</a> <span class="divider">/</span></li>
            <li class="active">{% if not group %}{% trans 'Add group' %}{% else %}{% trans 'Edit group' %}{% endif %}</li>
        </ul>

        <h2>{% if not group %}{% trans 'Add group' %}{% else %}{% trans 'Edit group' %}{% endif %}</h2>

        <form method="POST" action=".">
            {% csrf_token %}
            {{form.non_field_errors}}

            <div class="control-group">
                <label class="control-label" for="id_name">{% trans 'Group name' %}</label>
                <div class="controls">{{form.name}}{{form.name.errors}}</div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_description">{% trans 'Description' %}</label>
                <div class="controls">{{form.description}}{{form.description.errors}}</div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_is_admin">{% trans 'System permission' %}</label>
                <div class="controls row-controls">{{form.admin_permissions}}{{form.admin_permissions.errors}}</div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {% if not group %}{% trans 'Add group' %}{% else %}{% trans 'Edit group' %}{% endif %}</button>
                <button type="reset" class="btn">{% trans 'Clear' %}</button>
            </div>
        </form>

        {% if group %}
            <div class="delete-panel">
                <a href="#remove-group-modal" class="danger" data-toggle="modal">{% trans 'Delete group' %}</a>
            </div>
        {% endif %}
    </div></div>
</div></div>

<div class="modal hide fade" id="remove-group-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>{% trans 'Delete group' %}</h3>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">{% trans 'Cancel' %}</button>
    <button type="submit" class="btn btn-danger">{% trans 'Confirm delete group' %}</button>
  </div>
</div>
{% endblock %}