{% extends 'base_authenticated.html' %}
{% load helper_tags %}
{% load i18n %}

{% block head_title %}{% trans 'Remove organization' %}{% endblock %}
{% block topnav %}{% if user.is_superuser %}{% include 'manage/snippets/manage_topnav.html' with active_menu='organization' %}{% else %}{% include 'snippets/organization_topnav.html' with active_menu='organization' %}{% endif %}{% endblock %}

{% block body_authenticated %}
{% include 'manage/snippets/manage_organization_topnav.html' %}
<div class="container-fluid remove_organization_page"><div class="row-fluid">
    <div class="content"><div class="inner-content">
        <h2>{% trans 'Remove' %} {{ organization.name }}</h2>
        <div class="remove-organization">
            {% trans 'Do you want to remove this organization with all shelves and document ?' %}
            <form method="post">
                {% csrf_token %}
                <div class="form-actions">
                    <button type="submit" class="btn btn-danger"><i class="icon-ok icon-white"></i> {% trans 'Confirm' %}</button>
                    <a href="{% url view_organization_front organization.slug %}" class="btn">{% trans 'Cancel' %}</a>
                </div>
            </form>
        </div>
    </div></div>
</div></div>
{% endblock %}