{% extends 'base_single.html' %}
{% load i18n %}

{% block head_title %}{% trans 'Accept invitation' %}{% endblock %}

{% block body_single %}
<div class="outer-container span6 offset3">
  <div class="inner-container">
    <h1>{% trans 'Accept invitation' %}</h1>

    {% if logout_first %}
      <p class="headline">{% trans 'This logged in account is not match to accepted invitation account' %}<br/>{% trans 'Please log out' %}</p>
      <p><a href="{% url auth_logout %}?next={% url claim_user_invitation invitation.invitation_key %}" class="btn btn-danger">{% trans 'Logout' %}</a></p>
      <p>{% trans 'or' %} <a href="/" class="link">{% trans 'Back to homepage' %}</a></p>
    {% endif %}

    {% if first_time %}
      <form method="POST" action=".">
        {% csrf_token %}
        {{form.non_field_errors}}

        <div class="item"><label for="id_first_name">{% trans 'Firstname' %}</label><div class="input">{{form.first_name}}{{form.first_name.errors}}</div></div>
        <div class="item"><label for="id_last_name">{% trans 'Lastname' %}</label><div class="input">{{form.last_name}}{{form.last_name.errors}}</div></div>
        <div class="item"><label for="id_id_no">{% trans 'Passport / ID Number' %}</label><div class="input">{{form.id_no}}{{form.id_no.errors}}</div></div>
        <div class="item"><label for="id_country">{% trans 'Passport / ID Number Country' %}</label><div class="input">{{form.country}}{{form.country.errors}}</div></div>

        <div class="item"><label for="id_password1">{% trans 'Password' %}</label><div class="input">{{form.password1}}{{form.password1.errors}}</div></div>
        <div class="item"><label for="id_password2">{% trans 'Retype password' %}</label><div class="input">{{form.password2}}{{form.password2.errors}}</div></div>

        <div class="form_actions">
          <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {% trans 'Agree and login' %}</button>
        </div>
     </form>
    {% endif %}
  </div>
</div>
{% endblock %}