{% load helper_tags pagination_tags presentation_tags %}
{% load i18n %}

<div class="page_actions">
    <a href="{% url invite_organization_user organization.slug %}" class="btn"><i class="icon-user"></i> {% trans 'Invite new user' %}</a>
    <a href="{% url add_organization_user organization.slug %}" class="btn"><i class="icon-plus"></i> {% trans 'Add new user' %}</a>
    <!--<a href="{% url invite_organization_user organization.slug %}" class="btn"><i class="icon-file"></i> เพิ่มผู้ใช้จากไฟล์ CSV</a>-->
</div>

{% return_user_invitation_count organization as invited_user_count %}

{% if invited_user_count %}
    <div class="user_invitations"><a href="{% url view_organization_invited_users organization.slug %}">
        {% if invited_user_count > 1 %}
        {% trans 'There are' context 'there are user' %} {{ invited_user_count }} {% trans 'users that not accept user invitation' context 'users invitation' %}
        {% else %}
        {% trans 'There is' context 'there is user' %} {{invited_user_count}} {% trans 'user that not accept user invitation' context 'user invitation' %}
        {% endif %}</a></div>
{% endif %}

{% autopaginate organization_users 50 %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Email' %}</th>
        <th>{% trans 'Status' %}</th>
        <th class="edit_column"></th>
    </tr>
    </thead>
    <tbody>
    {% for organization_user in organization_users %}
        <tr>
            <td>{{organization_user.user.get_profile.get_fullname}}</td>
            <td>{{organization_user.user.email}}</td>
            <td>
            {% if organization_user.is_active %}
                <span class="label label-success">Active</span>
            {% else %}
                <span class="label label-important">Inactive</span>
            {% endif %}
            </td>
            <td class="row_actions"><a href="{% url edit_organization_user organization_user.id %}" class="btn btn-small">{% trans 'Edit' %}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% paginate %}