{% extends 'base_authenticated.html' %}
{% load helper_tags module_tags %}

{% block head_title %}Books{% endblock %}

{% block html_head %}
{{block.super}}
<script>
$(document).ready(function () {
  bind_upload_publication_modal();
  bind_upload_publication_form();
  bind_publication_outstandings();

  $('.upload_publication_button').on('click', function(e) {
    open_upload_publication_modal();
    return false;
  });
})
</script>
{% endblock %}

{% block body_authenticated %}
<div class="publisher_books_page">
  <ul class="breadcrumb">
    <li class="active">Books</li>
  </ul>

  <div class="table_actions">
    <a href="{% url upload_module_publication publisher.id 'book' %}" class="btn upload_publication_button"><span>Upload book</span></a>
  </div>

  {% include 'publication/snippets/publication_outstandings.html' with ready=publications.ready scheduled=publications.scheduled unpublished=publications.unpublished unknown=publications.unknown %}

  <div class="books">

    <h3>Published books<span>({{books|length}} issues)</span></h3>
    {% if books %}
    <ul class="published_publications">
      {% for publication in books %}
      <li {% if forloop.last %}class="last"{% endif %}>
        <div class="cover"></div>
        <div class="statistics"></div>
        <div class="name"><a href="{% url view_publication publication.id %}">{{publication.title}}</a></div>
        <div class="status">Published on {{publication.published|format_abbr_datetime}}</div>
        <div class="stats"></div>
        <div class="links">
          <a href="{% url edit_publication publication.id %}">Edit publication</a>
        </div>

      </li>
      {% endfor %}
    </ul>
    
    {% else %}
    <div class="no_row">No published books</div>
    {% endif %}
  </div>
  
</div>

{% generate_publication_module_upload_modal 'book' publisher %}

{% endblock %}