{% extends 'base.html' %}
{% load url from future %}

{% block head_title %}Login{% endblock %}
{% block page_title %}Login{% endblock %}

{% block body %}
<form method="POST" action="{% url 'django.contrib.auth.views.login' %}">
  {% csrf_token %}
  {{form.non_field_errors}}
  <fieldset>
    <legend>User Login</legend>
    <div class="clearfix">
      <label for="id_email">Email:</label>
      <div class="input">
        {{form.email}}
      </div>
      {{form.email.errors}}
    </div>

    <div class="clearfix">
      <label for="id_password">Password:</label>
      <div class="input">
        {{form.password}}
      </div>
      {{form.password.errors}}
    </div>

    <div class="actions">
      <input type="submit" value="Login" class="btn primary">
      <a href="{% url 'django.contrib.auth.views.password_reset' %}">Forgot your password?</a>
    </div>
  </fieldset>
</form>
{% endblock %}
