{% extends 'base_single.html' %}
{% load i18n %}

{% block head_title %}{% trans 'Request new password' %}{% endblock %}

{% block body_single %}
<div class="outer-container span6 offset3">
  <div class="inner-container">
    <h1>{% trans 'Set new password' %}</h1>
    
    <form method="POST" action=".">
      {% csrf_token %}
      {{form.non_field_errors}}

      <div class="item"><label for="id_new_password1">{% trans 'New password' %}</label><div class="input">{{form.new_password1}}{{form.new_password1.errors}}</div></div>
      <div class="item"><label for="id_new_password2">{% trans 'Retype new password' %}</label><div class="input">{{form.new_password2}}{{form.new_password2.errors}}</div></div>

      <div class="form_actions">
        <button type="submit" class="btn primary">{% trans 'Set new password' %}</button>
      </div>
    </form>

  </div>
</div>
{% endblock %}
