{% extends 'base_single.html' %}
{% load i18n %}

{% block head_title %}{% trans 'Set new password' %}{% endblock %}

{% block body_single %}
<div class="outer-container span6 offset3">
  <div class="inner-container">
    <h1>{% trans 'Set new password' %}</h1>
    
    <form method="POST" action=".">
      {% csrf_token %}
      {{form.non_field_errors}}

      <div class="item">
        <label for="id_email">{% trans 'Email' %}</label>
        <div class="input">{{form.email}}{{form.email.errors}}</div>
      </div>
      
      <div class="form_actions">
        <button type="submit" class="btn primary">{% trans 'Request new password' %}</button>
      </div>
    </form>

  </div>
</div>
{% endblock %}
