{% extends 'base_authenticated.html' %}
{% load module_tags %}

{% block html_head %}
{{block.super}}
<script>
$(document).ready(function () {
  bind_upload_publication_modal();
  bind_upload_publication_form();

  $('.upload_publication_button').on('click', function(e) {
    open_upload_publication_modal();
    return false;
  });
})
</script>
{% endblock %}

{% block body_authenticated %}
<div class="publisher_dashboard">
  <div class="row">
    <div class="span11">
      TEST
    </div>
    <div class="span5 sidebar">
      <a href="{% url upload_publication publisher.id %}" class="upload_publication_button">Upload Publication</a>
    </div>
  </div>
</div>

{% generate_publication_module_upload_modal '' publisher %}

{% endblock %}