{% extends 'base_authenticated.html' %}

{% block content %}


<div id="block_upload_file">
	<form id="form_upload_file" action="{% url uploading_periodical_issue publisher.id %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="file" name="publication" id="id_publication" />
		<input type="hidden" id="X-Progress-ID" name="X-Progress-ID" value=""/>
		<input type="hidden" id="id" name="id" value=""/>
		<input type="submit" value="Upload" />
	</form>
</div>

<div id="block_upload_details" style="display:none;">
	<form id="form_upload_details" action="{% url upload_periodical_issue publisher.id %}" method="POST">
		{% csrf_token %}
		{{form.periodical}}
		{{form.publication_uid}}
		
		<label for="id_issue_name">Issue Name:</label>
		{{form.issue_name}}

		<label for="id_description">Description:</label>
		{{form.description}}

		{{form.categories}}

		<input type="submit" value="Create Publication" disabled="disabled" />
	</form>
</div>

<!-- JAVASCRIPT -->

<script type="text/javascript" src="{{STATIC_URL}}lib/jquery.form.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}lib/progressbar/jquery.progressbar.js"></script>

<script>
var g_progress_intv;
function startProgressBarUpdate(upload_id) {
	if(g_progress_intv != 0) clearInterval(g_progress_intv);
	g_progress_intv = setInterval(function() {
		$.getJSON("/get_upload_progress?X-Progress-ID=" + upload_id, function(data) {
			if (data == null) {
				$("#upload_progressbar").progressBar(100);
				clearInterval(g_progress_intv);
				g_progress_intv = 0;
				return;
			}
			var percentage = Math.floor(100 * parseInt(data.uploaded) / parseInt(data.length));
			$("#upload_progressbar").progressBar(percentage);
		});
	}, 4000);
}

$('#X-Progress-ID').val((new Date()).getTime());

$('#form_upload_file').submit(function() {
	var options = {
		dataType: 'text',
		url: '{% url uploading_periodical_issue publisher.id %}?X-Progress-ID='+$('#X-Progress-ID').val(),
		beforeSubmit: function() {
			$("#form_upload_file").hide();
			$('#block_upload_file').append('<span id="upload_progressbar"></span>');
			$('#upload_progressbar').progressBar({
				boxImage:'{{STATIC_URL}}lib/progressbar/images/progressbar.gif',
				barImage: {
					0:	'{{STATIC_URL}}lib/progressbar/images/progressbg_red.gif',
					30: '{{STATIC_URL}}lib/progressbar/images/progressbg_orange.gif',
					70: '{{STATIC_URL}}lib/progressbar/images/progressbg_green.gif'
				}
			});
			
			$("#block_upload_details").show();
		},
		success: function(publication_uid) {
			$('#upload_progressbar').remove();
			$('#block_upload_file').append('<div class="progress>Uploaded successfully</div>');

			$('#id_publication_uid').val(publication_uid);
			$('#form_upload_details input[type="submit"]').attr("disabled", false);
		}
	};
	$('#form_upload_file').ajaxSubmit(options);
	startProgressBarUpdate($('#X-Progress-ID').val());
	return false; 
});
</script>

{% endblock %}