{% extends 'base_authenticated.html' %}
{% load helper_tags page_tags %}

{% block head_title %}Periodicals{% endblock %}

{% block html_head %}
{{block.super}}
<script>
$(document).ready(function () {
  $(".publication_outstandings .numbers li a").on('click', function(e) {
    var target = $(this).attr("href");

    $(".publication_outstandings " + target).slideToggle("fast");

    $(".publication_outstandings .list[id!='" + target.substring(1) + "']").hide();

    return false;
  });

  $(".publication_outstandings .list .close_list").on('click', function(e) {
    $(".publication_outstandings .list").slideUp("fast");
    return false;
  });
})
</script>
{% endblock %}

{% block body_authenticated %}
<div class="publisher_periodicals">
  <ul class="breadcrumb">
    <li class="active">Periodicals</li>
  </ul>

  {% if periodicals %}

  <div class="table_actions">
    <a href="{% url upload_publication publisher.id %}?type=periodical" upload-publication="periodical" class="btn upload_publication_button"><span>Upload periodical issue</span></a>
  </div>

  {% if publications.ready or publications.scheduled or publications.unpublished or publications.unknown %}
  <div class="publication_outstandings">
    <div class="numbers">
      <ul>
        {% if publications.ready %}<li class="ready"><a href="#outstanding-ready">Ready to publish ({{publications.ready|length}} issues)</a></li>{% endif %}
        {% if publications.scheduled %}<li class="scheduled"><a href="#outstanding-scheduled">Scheduled to publish ({{publications.scheduled|length}} issues)</a></li>{% endif %}
        {% if publications.unpublished %}<li class="unpublished"><a href="#outstanding-unpublished">Unpublished ({{publications.unpublished|length}} issues)</a></li>{% endif %}
        {% if publications.unknown %}<li class="unknown"><a href="#outstanding-unknown">Unknown ({{publications.unknown|length}} issues)</a></li>{% endif %}
      </ul>
    </div>

    {% if publications.ready %}
    <div class="list" id="outstanding-ready" style="display:none;">
      <div class="close_list"><a href="#">Close List</a></div>
      <ul>
        {% for publication in publications.ready %}
          <li {% if forloop.last %}class="last"{% endif %}>
            <div class="cover"></div>
            <div class="name"><a href="#">{{publication.periodicalissue.periodical.title}} - {{publication.title}}</a></div>
            <div class="status">Marked as ready to publish on {{publication.publish_schedule|format_abbr_datetime}}</div>
            <div class="links">
              <a href="#" class="btn">Publish Now</a>
              <a href="#" class="btn">Schedule to publish</a>
              <a href="#">Revert to In-Progress status</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if publications.scheduled %}
    <div class="list" id="outstanding-scheduled" style="display:none;">
      <div class="close_list"><a href="#">Close List</a></div>
      <ul>
        {% for publication in publications.scheduled %}
          <li {% if forloop.last %}class="last"{% endif %}>
            <div class="cover"></div>
            <div class="name"><a href="#">{{publication.periodicalissue.periodical.title}} - {{publication.title}}</a></div>
            <div class="status">Marked as ready to publish on Thu 14, October 2011 - 12:14</div>
            <div class="links">
              <a href="#" class="btn">Reschedule</a>
              <a href="#">Cancel schedule</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if publications.unpublished %}
    <div class="list" id="outstanding-unpublished" style="display:none;">
      <div class="close_list"><a href="#">Close List</a></div>
      <ul>
        {% for publication in publications.unpublished %}
          <li {% if forloop.last %}class="last"{% endif %}>
            <div class="cover"></div>
            <div class="name"><a href="#">{{publication.periodicalissue.periodical.title}} - {{publication.title}}</a></div>
            <div class="status">Marked as ready to publish on Thu 14, October 2011 - 12:14</div>
            <div class="links">
              <a href="#" class="btn">Edit Issue</a>
              <a href="#" class="btn">Publish Now</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if publications.unknown %}
    <div class="list" id="outstanding-unknown" style="display:none;">
      <div class="close_list"><a href="#">Close List</a></div>
      <ul>
        {% for publication in publications.unknown %}
          <li {% if forloop.last %}class="last"{% endif %}>
            <div class="cover"></div>
            <div class="name">{{publication.original_file_name}}.{{publication.file_ext}}</div>
            <div class="status">Uploaded on Thu 14, October 2011 - 12:14 by panuta</div>
            <div class="links">
              <a href="{% url finishing_upload_publication publication.id %}" class="btn">Finishing Upload</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

  </div>
  {% endif %}

  <div class="periodicals">
    <ul>
      {% for periodical in periodicals %}
      <li {% if forloop.last %}class="last"{% endif %} periodical-id="{{periodical.id}}" periodical-title="{{periodical.title}}">
        <div class="title"><a href="{% url view_periodical periodical.id %}">{{periodical.title}}</a></div>
        <div class="stats"><span class="published">{{periodical.published_count}} issues published</span>{% if periodical.last_published %} (Latest issue is <a href="#">{{periodical.last_published.publication.title}}</a>){% endif %}</div>
        {% if periodical.outstanding.ready and periodical.outstanding.scheduled and periodical.outstanding.unpublished %}
        <div class="outstanding">
          {% if periodical.outstanding.ready %}<span class="ready">{{periodical.outstanding.ready}} ready to publish</span>{% endif %}
          {% if periodical.outstanding.scheduled %}<span class="scheduled">{{periodical.outstanding.scheduled}} scheduled to publish</span>{% endif %}
          {% if periodical.outstanding.unpublished %}<span class="unpublished">{{periodical.outstanding.unpublished}} unpublished</span>{% endif %}
        </div>
        {% endif %}
        <div class="links">
          <a href="{% url upload_publication publisher.id %}?periodical={{periodical.id}}">Edit periodical</a>
          <a href="{% url upload_publication publisher.id %}?type=periodical-issue&periodical={{periodical.id}}" upload-publication="periodical-issue">Upload issue</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="create_periodical">
    <a href="{% url create_publisher_periodical publisher.id %}"><span>Create new periodical</span></a>
  </div>

  {% else %}
  
  <div class="periodicals">
    <div class="no_row">No periodical, <a href="{% url view_publisher_periodicals_create publisher.id %}">upload first one</a></div>
  </div>
  
  {% endif %}
</div>

{% generate_upload_publication_modal publisher csrf_token %}

{% endblock %}