{% extends 'base_authenticated.html' %}

{% block body_authenticated %}

<ul>
<li><input type="radio" name="publication_type" value="periodical" id="id_type_periodical"/><label for="id_type_periodical">Periodical Issue</label></li>
<li><input type="radio" name="publication_type" value="book" id="id_type_book"/><label for="id_type_book">Book</label></li>
<!-- <li><input type="radio" name="publication_type" value="picture" id="id_type_picture"/><label for="id_type_picture">Picture (JPG, GIF, PNG etc.)</label></li> -->
</ul>

<form method="POST" action="{% url finish_upload_publication uploading_publication.id %}">
	{% csrf_token %}
	{{periodical_form.errors}}
	<label>periodical title</label>
	{{periodical_form.periodical_title}}

	<label>periodical</label>
	{{periodical_form.periodical}}

	<label>issue name</label>
	{{periodical_form.title}}

	<label>description</label>
	{{periodical_form.description}}

	<input type="submit" name="periodical_submit_button" value="Submit" />
</form>

<form method="POST" action="{% url finish_upload_publication uploading_publication.id %}">
	{% csrf_token %}
	{{book_form.errors}}

	<label>title</label>
	{{book_form.title}}

	<label>description</label>
	{{book_form.description}}

	<label>author</label>
	{{book_form.author}}

	<label>isbn</label>
	{{book_form.isbn}}

	<label>categories</label>
	{{book_form.categories}}

	<input type="submit" name="book_submit_button" value="Submit" />
</form>

<!-- 
<form method="POST" action="{% url finish_upload_publication uploading_publication.id %}">
	{% csrf_token %}

	<label>title</label>
	{{book_form.title}}

	<label>description</label>
	{{book_form.description}}

	<label>author</label>
	{{book_form.author}}

	<label>isbn</label>
	{{book_form.isbn}}

	<label>categories</label>
	{{book_form.categories}}

	<input type="submit" name="picture_submit_button" value="Submit" />
</form>
-->

<!-- JAVASCRIPT -->

<script>

</script>

{% endblock %}