{% extends 'base_authenticated.html' %}

{% block head_title %}Publisher Management - Shelfs{% endblock %}

{% block body_authenticated %}
<div class="publisher_manage">
  <ul class="breadcrumb">
    <li><a href="{% url view_publisher_management publisher.id %}">Publisher Management</a> <span class="divider">/</span></li>
    <li><a href="{% url view_publisher_shelfs publisher.id %}">Shelfs</a> <span class="divider">/</span></li>
    <li class="active">Create shelf</li>
  </ul>

  <form method="POST" action="{% url view_publisher_shelfs_create publisher.id %}">
    {% csrf_token %}
    {{form.non_field_errors}}
    <fieldset>
      <legend>Shelf</legend>
      <div class="clearfix">
        <label for="id_name">Name:</label>
        <div class="input">
          {{form.name}}
        </div>
        {{form.name.errors}}
      </div>

      <div class="clearfix">
        <label for="id_description">Description:</label>
        <div class="input">
          {{form.description}}
        </div>
        {{form.description.errors}}
      </div>

      <div class="actions">
        <input type="submit" value="Create shelf" class="btn primary">
        <input type="reset" value="Reset" class="btn">
      </div>
    </fieldset>
  </form>

</div>
{% endblock %}