{% extends 'base_authenticated.html' %}

{% block content %}
	<form method="POST">
		{% csrf_token %}
		{{ form.non_field_errors }}
		<div>
			<label for="id_name">Publisher Name:</label>
			{{ form.name.errors }}
			{{ form.name }}
		</div>
		<div>
			<label for="id_address">Address:</label>
			{{ form.address.errors }}
			{{ form.address }}
		</div>
		<div>
			<label for="id_telephone">Telephone:</label>
			{{ form.telephone.errors }}
			{{ form.telephone }}
		</div>
		<div>
			<label for="id_website">Website:</label>
			{{ form.website.errors }}
			{{ form.website }}
		</div>
		<div>
			<input type="submit" value="Save" />
		</div>
	</form>
{% endblock %}