{% extends 'base_authenticated.html' %}

{% block head_title %}Edit publication status - {{publication.title}}{% endblock %}

{% block body_authenticated %}
<div class="publisher_magazines">
  <ul class="breadcrumb">
    <li><a href="{% url view_publisher_magazines publisher.id %}">Magazines</a> <span class="divider">/</span></li>
    <!-- TO FIX -->
    <li><a href="{% url view_magazine publication.magazineissue.magazine.id %}">{{publication.magazineissue.magazine.title}}</a> <span class="divider">/</span></li>
    <li><a href="{% url view_publication publication.id %}">{{publication.title}}</a> <span class="divider">/</span></li>
    <li class="active">Edit publication status</li>
  </ul>

  <form method="POST" action="{% url edit_magazine publication.id %}">
    {% csrf_token %}
    {{form.non_field_errors}}
    <fieldset>
      <div class="clearfix">
          <label id="id_publish_status">Publish status</label>
          <div class="input">
            <ul class="inputs-list">
              <li>
                <label>
                  <input type="radio" value="published" name="publish_status">
                  <span>Published</span>
                </label>
              </li>

              
              <li>
                <label>
                  <input type="radio" value="scheduled" name="publish_status">
                  <span>Schedule to publish</span>
                </label>

                <div class="schedule_date">{{form.schedule_date}}</div>
                {{form.schedule_date.errors}}

                <div class="schedule_time">{{form.schedule_time}}</div>
                {{form.schedule_time.errors}}

              </li>
              <li>
                <label>
                  <input type="radio" value="unpublished" name="publish_status" checked="checked">
                  <span>Unpublished</span>
                </label>
              </li>
            </ul>
          </div>
          {{form.publish_status.errors}}
        </div>

      <div class="actions">
        <input type="submit" value="Update" class="btn primary">
        <input type="reset" value="Reset" class="btn">
      </div>
    </fieldset>
  </form>

</div>
{% endblock %}