{% extends 'base_authenticated.html' %}
{% load page_tags %}

{% block head_title %}Upload publication{% endblock %}

{% block body_authenticated %}
<div class="upload_publication_page">

  <form id="upload-publication-form" action="{% url ajax_upload_publication publisher.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
      <legend>{% print_upload_publication_legend pre_upload_type %}</legend>
      
      {{form.errors}}

      <div class="inputs">
        {% if not pre_upload_type %}
          <div class="clearfix">
            <label id="optionsRadio">Publication type</label>
            <div class="input">
              <ul class="inputs-list">
                <li><label><input type="radio" value="periodical" name="publication_type" checked="true"><span>Magazine</span></label></li>
                <li><label><input type="radio" value="book" name="publication_type"><span>Book</span></label></li>
              </ul>
            </div>
          </div>
        {% endif %}

        {% if pre_upload_type == "periodical" %}
          <div class="clearfix">
            <label for="id_periodical">Periodical</label>
            <div class="input">
              <select id="id_periodical" name="periodical">{% list_periodical publisher %}</select>
            </div>
          </div>
        {% endif %}

        {% if pre_upload_type == "periodical-issue" %}
            <div class="periodical_name">{{pre_upload_periodical.title}}</div>
            <input type="hidden" id="id_periodical_id" name="periodical_id" value="{{pre_upload_periodical.id}}"/>
        {% endif %}

        <div class="clearfix">
          <label for="id_publication">Publication file</label>
          <div class="input">
            {{form.publication}}
          </div>
        </div>

        {{form.upload_type}}
        <input type="hidden" id="X-Progress-ID" name="X-Progress-ID" value=""/>

        <div class="actions">
          <input type="submit" value="Upload" class="btn primary span2">
          <input type="reset" value="Reset" class="btn">
        </div>
      </div>

    </fieldset>
  </form>
</div>

{% endblock %}