{% extends 'accounts/my_base.html' %}

{% block my_account_head_title %}เปลี่ยนรหัสผ่าน{% endblock %}
{% block my_account_sidebar %}{% include 'accounts/snippets/my_sidebar.html' with active_my_menu='account' %}{% endblock %}

{% block my_account_content %}
<ul class="breadcrumb">
  <li><a href="{% url view_my_account %}">บัญชีผู้ใช้</a> <span class="divider">/</span></li>
  <li class="active">เปลี่ยนรหัสผ่าน</li>
</ul>

<h2>เปลี่ยนรหัสผ่าน</h2>

<form method="POST" action=".">
  {% csrf_token %}
  {{form.non_field_errors}}

  <div class="item"><label for="id_old_password">รหัสผ่านปัจจุบัน</label><div class="input">{{form.old_password}}{{form.old_password.errors}}</div></div>
  <div class="item"><label for="id_new_password1">รหัสผ่านใหม่</label><div class="input">{{form.new_password1}}{{form.new_password1.errors}}</div></div>
  <div class="item"><label for="id_new_password2">กรอกรหัสผ่านอีกครั้ง</label><div class="input">{{form.new_password2}}{{form.new_password2.errors}}</div></div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> เปลี่ยนรหัสผ่าน</button>
    <button type="reset" class="btn">ล้างข้อมูล</button>
  </div>

</form>

{% endblock %}