{% extends 'accounts/my_base.html' %}
{% load i18n %}

{% block head_title %}{% trans 'Change password' %}{% endblock %}

{% block body_authenticated %}
<div class="container-fluid organization_users_page"><div class="row-fluid">
    <div class="content"><div class="inner-content">
        <ul class="breadcrumb">
            <li><a href="{% url view_my_profile %}">{% trans 'Account profile' %}</a> <span class="divider">/</span></li>
            <li class="active">{% trans 'Change password' %}</li>
        </ul>

        <h2>{% trans 'Change password' %}</h2>

        <form method="POST" action=".">
            {% csrf_token %}
            {{form.non_field_errors}}

            <div class="control-group">
                <label class="control-label" for="id_old_password">{% trans 'Current password' %}</label>
                <div class="controls">{{form.old_password}}{{form.old_password.errors}}</div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_new_password1">{% trans 'New password' %}</label>
                <div class="controls">{{form.new_password1}}{{form.new_password1.errors}}</div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_new_password2">{% trans 'Retype new password' %}</label>
                <div class="controls">{{form.new_password2}}{{form.new_password2.errors}}</div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {% trans 'Change password' %}</button>
                <button type="reset" class="btn">{% trans 'Clear' %}</button>
            </div>
        </form>
    </div></div>
</div></div>
{% endblock %}