{% extends 'base_authenticated.html' %}
{% load helper_tags %}

{% block head_title %}หน้าแรก{% endblock %}
{% block topnav %}{% include 'publisher/snippets/publisher_topnav.html' with active_menu='dashboard' %}{% endblock %}

{% block html_head %}
{{block.super}}
<script>
$(document).ready(function () {
  {% can user 'edit' publisher %}
  bind_all_upload_publication_modal();
  bind_all_upload_publication_form();

  $('.upload_publication_button').on('click', function(e) {
    open_upload_publication_modal('upload-publication-form');
    return false;
  });
  {% endcan %}

  {% if first_time %}
  {% can user 'edit' publisher %}
  $('#id_welcome_modal').modal({backdrop:'static'});
  $('#id_welcome_modal').modal('show');
  {% endcan %}
  {% endif %}
})
</script>
{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body publisher_dashboard_page">
  <div class="content-full"><div class="content-inner">
    <h2>หน้าแรก</h2>

    {% can user 'edit' publisher %}<div class="page_tables"><button class="btn primary upload_publication_button"><span>อัพโหลดไฟล์</span></button></div>{% endcan %}

    <h3>ไฟล์สิ่งพิมพ์ล่าสุด</h3>
    
    {% if recent_publications %}
    <ul class="recent_publications">
      {% for publication in recent_publications %}
      <li>
        <div><span class="type">{% print_publication_type_name publication %}</span><a href="{% url view_publication publication.id %}" class="title">{% print_publication_title publication '(ยังไม่มีชื่อ)' %}</a></div>
        <div class="uploaded">อัพโหลดเมื่อวันที่ {{publication.uploaded|format_abbr_datetime}}</div>
        <div class="status">สถานะ - {% print_publication_status publication %}</div>
      </li>
      {% endfor %}
    </ul>
    
    {% else %}
    <div class="no_row">ยังไม่มีไฟล์สิ่งพิมพ์</div>
    {% endif %}

    {% can user 'edit' publisher %}{% generate_publication_module_upload_modal '' %}{% endcan %}

  </div></div>
</div>

{% if first_time %}

  {% can user 'edit' publisher %}
  <div class="modal hide fade" id="id_welcome_modal" style="display: none;">
    <div class="modal-header"><a class="close" href="#">×</a><h3>ยินดีต้อนรับเข้าสู่ระบบครั้งแรก!</h3></div>
    <div class="modal-body">
      <div class="title">คุณสามารถเริ่มต้นโดย ...</div>
      <ul>
        {% generate_dashboard_first_time_modal publisher %}
      </ul>
    </div>
  </div>
  {% generate_dashboard_first_time_script publisher %}

  {% endcan %}
  
{% endif %}

{% endblock %}