{% extends 'base_authenticated.html' %}
{% load helper_tags %}

{% block head_title %}ยกเลิกการอัพโหลดไฟล์{% endblock %}
{% block topnav %}{% include 'publisher/snippets/publisher_topnav.html' with active_menu=publication.publication_type %}{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body">
  <div class="content-full"><div class="content-inner">
    <h2>ยกเลิกการอัพโหลดไฟล์</h2>
    <form method="POST" action=".">
      {% csrf_token %}
      {{form.non_field_errors}}

      <ul class="form_data">
        <li>ชื่อไฟล์: <span>{{publication.original_file_name}}.{{publication.file_ext}}</span></li>
      </ul>
      
      <div class="note">
        <p>กรุณายืนยันว่าต้องการที่จะยกเลิกการอัพโหลดไฟล์นี้</p>
      </div>

      <div class="form_actions left_form_actions">
        <button type="submit" class="btn danger" name="submit-delete">ยืนยันการยกเลิก</button>
        <button type="submit" class="btn" name="submit-cancel" >ไม่ต้องการยกเลิก</button>
      </div>
    </form>
    
  </div></div>
</div>
{% endblock %}