{% extends 'base_authenticated.html' %}
{% load helper_tags %}

{% block head_title %}Delete uploading file{% endblock %}

{% block body_authenticated %}
<div class="delete_uploading_page">

  <form method="POST" action=".">
    {% csrf_token %}
    {{form.non_field_errors}}
    <fieldset>
      <legend>คุณแน่ใจว่าจะลบไฟล์ที่อัพโหลดนี้หรือไม่?</legend>
      
      <input type="hidden" name="next" id="id_next" value="{{next}}" />
      <div class="actions">
        <input type="submit" name="submit-delete" value="แน่ใจ ลบได้ทันที" class="btn primary">
        <input type="submit" name="submit-cancel" value="ยกเลิก" class="btn">
      </div>
    </fieldset>
  </form>
</div>

{% endblock %}