{% extends 'base_authenticated.html' %}
{% load helper_tags module_tags %}

{% block head_title %}Magazines{% endblock %}

{% block html_head %}
{{block.super}}
<script>
$(document).ready(function () {
  {% can user 'upload' publisher %}
  bind_upload_publication_modal();
  bind_upload_publication_form();

  $('.upload_publication_button').on('click', function(e) {
    open_upload_publication_modal();
    return false;
  });
  {% endcan %}
  
  {% if outstandings %}
  bind_publication_outstandings();
  {% endif %}
})
</script>
{% endblock %}

{% block body_authenticated %}
<div class="publisher_magazines_page">
  <ul class="breadcrumb">
    <li class="active">Magazines</li>
  </ul>

  {% if magazines %}

    {% can user 'upload' publisher %}
    <div class="table_actions">
      <a href="#" class="btn upload_publication_button"><span>Upload magazine issue</span></a>
    </div>
    {% endcan %}

    {% include 'publication/snippets/publication_outstandings.html' with unfinished=outstandings.unfinished scheduled=outstandings.scheduled unpublished=outstandings.unpublished %}

    <div class="magazines">
      <ul>
        {% for magazine in magazines %}
        <li {% if forloop.last %}class="last"{% endif %} magazine-id="{{magazine.id}}" magazine-title="{{magazine.title}}">
          <div class="title"><a href="{% url view_magazine magazine.id %}">{{magazine.title}}</a></div>
          <div class="stats"><span class="published">{{magazine.published_count}} issues published</span>{% if magazine.last_published %} (Latest issue is <a href="{% url view_publication magazine.last_published.publication.id %}">{{magazine.last_published.publication.title}}</a>){% endif %}</div>
          {% if magazine.outstanding.unfinished or magazine.outstanding.scheduled or magazine.outstanding.unpublished %}
          <div class="outstanding">
            {% if magazine.outstanding.unfinished %}<span class="unfinished">{{magazine.outstanding.unfinished}} unfinished uploading</span>{% endif %}
            {% if magazine.outstanding.scheduled %}<span class="scheduled">{{magazine.outstanding.scheduled}} scheduled to publish</span>{% endif %}
            {% if magazine.outstanding.unpublished %}<span class="unpublished">{{magazine.outstanding.unpublished}} unpublished</span>{% endif %}
          </div>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>

    {% can user 'manage' publisher %}
    <div class="create_magazine"><a href="{% url create_magazine publisher.id %}"><span>Create new magazine</span></a></div>
    {% endcan %}

  {% else %}
    <div class="no_magazine">
      <div class="message">Your publisher currently has no magazine</div>
      {% can user 'manage' publisher %}<div><a href="{% url create_magazine publisher.id %}" class="btn">Create magazine</a></div>{% endcan %}
    </div>  
  {% endif %}

</div>
{% can user 'upload' publisher %}{% generate_publication_module_upload_modal 'magazine' %}{% endcan %}

{% endblock %}