{% extends 'base_authenticated.html' %}
{% load helper_tags module_tags %}

{% block head_title %}นิตยสาร{% endblock %}
{% block topnav %}{% include 'snippets/topnav.html' with active_menu='magazine' %}{% endblock %}

{% block html_head %}
{{block.super}}
<script>
$(document).ready(function () {
  {% can user 'upload' publisher %}
  bind_upload_publication_modal();
  bind_upload_publication_form();

  $('.upload_publication_button').on('click', function(e) {
    open_upload_publication_modal();
    return false;
  });
  {% endcan %}
  
  {% if outstandings %}
  bind_publication_outstandings();
  {% endif %}
})
</script>
{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body publisher_magazines_page">
  <div class="content-full"><div class="content-inner">

    <h2>นิตยสาร</h2>

    {% can user 'upload,manage' publisher %}
    <div class="page_actions">
      {% if magazines %}{% can user 'upload' publisher %}<button class="btn primary upload_publication_button"><span>อัพโหลดนิตยสาร</span></button>{% endcan %}{% endif %}
      {% can user 'manage' publisher %}<a href="{% url create_magazine publisher.id %}" class="btn crate_magazine_button">สร้างนิตยสารใหม่</a>{% endcan %}
    </div>
    {% endcan %}

    {% if magazines %}
      {% include 'publication/snippets/publication_outstandings.html' with unfinished=outstandings.unfinished scheduled=outstandings.scheduled unpublished=outstandings.unpublished %}

      <div class="magazines">
        <h3>นิตยสารทั้งหมด</h3>
        <ul>
          {% for magazine in magazines %}
          <li {% if forloop.last %}class="last"{% endif %} magazine-id="{{magazine.id}}" magazine-title="{{magazine.title}}">
            <div class="inner">
            <div class="title"><a href="{% url view_magazine magazine.id %}">{{magazine.title}}</a></div>
            <div class="stats"><span class="published">ตีพิมพ์ไปแล้ว {{magazine.published_count}} เล่ม</span>{% if magazine.last_published %} (เล่มล่าสุดคือ <a href="{% url view_publication magazine.last_published.publication.id %}">{{magazine.last_published.publication.title}}</a>){% endif %}</div>
            {% if magazine.outstanding.unfinished or magazine.outstanding.scheduled or magazine.outstanding.unpublished %}
            <div class="outstanding">
              {% if magazine.outstanding.unfinished %}<span class="unfinished">{{magazine.outstanding.unfinished}} เล่ม กรอกข้อมูลยังไม่ครบ</span>{% endif %}
              {% if magazine.outstanding.scheduled %}<span class="scheduled">{{magazine.outstanding.scheduled}} เล่ม ตั้งเวลาตีพิมพ์</span>{% endif %}
              {% if magazine.outstanding.unpublished %}<span class="unpublished">{{magazine.outstanding.unpublished}} เล่ม ยังไม่ได้ตีพิมพ์</span>{% endif %}
            </div>
            {% endif %}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>

    {% else %}
      <div class="no_magazine">
        <div class="message">ไม่มีรายการนิตยสาร</div>
        {% can user 'manage' publisher %}<div class="message">ผู้ใช้สามารถสร้างนิตยสารได้จากปุ่ม "สร้างนิตยสารใหม่" ด้านบน</div>{% endcan %}
      </div>
    {% endif %}

    {% can user 'upload' publisher %}{% generate_publication_module_upload_modal 'magazine' %}{% endcan %}

  </div></div>
</div>
{% endblock %}