{% extends 'base_authenticated.html' %}
{% load helper_tags page_tags %}

{% block head_title %}{{magazine.title}}{% endblock %}

{% block html_head %}
{{block.super}}
<script>
$(document).ready(function () {
  $(".publication_outstandings .numbers li a").on('click', function(e) {
    var target = $(this).attr("href");

    $(".publication_outstandings " + target).slideToggle("fast");

    $(".publication_outstandings .list[id!='" + target.substring(1) + "']").hide();

    return false;
  });

  $(".publication_outstandings .list .close_list").on('click', function(e) {
    $(".publication_outstandings .list").slideUp("fast");
    return false;
  });
})
</script>
{% endblock %}

{% block body_authenticated %}
<div class="publisher_magazine_page">
  <ul class="breadcrumb">
    <li><a href="{% url view_publisher_magazines publisher.id %}">Magazines</a> <span class="divider">/</span></li>
    <li class="active">{{magazine.title}}</li>
  </ul>

  <div class="magazine_name">
    <h2>{{magazine.title}}</h2>
    {% if magazine.description %}<div>{{magazine.description}}</div>{% endif %}
  </div>

  <div class="table_actions">
    <a href="{% url upload_publication publisher.id %}?type=magazine-issue&magazine={{magazine.id}}" class="btn">Upload new issue</a>
    <a href="{% url edit_magazine magazine.id %}" class="btn">Edit magazine</a>
  </div>

  <div class="magazine">

    {% if outstandings.ready or outstandings.scheduled or outstandings.unpublished %}
    <div class="publication_outstandings">
      <div class="numbers">
        <ul>
          {% if outstandings.ready %}<li class="ready"><a href="#outstanding-ready">Ready to publish ({{outstandings.ready|length}} issues)</a></li>{% endif %}
          {% if outstandings.scheduled %}<li class="scheduled"><a href="#outstanding-scheduled">Scheduled to publish ({{outstandings.scheduled|length}} issues)</a></li>{% endif %}
          {% if outstandings.unpublished %}<li class="unpublished"><a href="#outstanding-unpublished">Unpublished ({{outstandings.unpublished|length}} issues)</a></li>{% endif %}
        </ul>
      </div>

      {% if outstandings.ready %}
      <div class="list" id="outstanding-ready" style="display:none;">
        <div class="close_list"><a href="#">Close List</a></div>
        <ul>{% for issue in outstandings.ready %}{% generate_ready_to_publish_publication issue.publication %}{% endfor %}</ul>
      </div>
      {% endif %}

      {% if outstandings.scheduled %}
      <div class="list" id="outstanding-scheduled" style="display:none;">
        <div class="close_list"><a href="#">Close List</a></div>
        <ul>{% for issue in outstandings.scheduled %}{% generate_schedule_to_publish_publication issue.publication %}{% endfor %}</ul>
      </div>
      {% endif %}

      {% if outstandings.unpublished %}
      <div class="list" id="outstanding-unpublished" style="display:none;">
        <div class="close_list"><a href="#">Close List</a></div>
        <ul>{% for issue in outstandings.unpublished %}{% generate_unpublish_publication issue.publication %}{% endfor %}</ul>
      </div>
      {% endif %}

    </div>
    {% endif %}

    <h3>Published issues<span>({{magazine.issues|length}} issues)</span></h3>
    {% if magazine.issues %}
    <ul class="published_publications">
      {% for issue in magazine.issues %}
      <li {% if forloop.last %}class="last"{% endif %}>
        <div class="cover"></div>
        <div class="statistics"></div>
        <div class="name"><a href="{% url view_publication issue.publication.id %}">{{issue.publication.title}}</a></div>
        <div class="status">Published on {{issue.publication.published|format_abbr_datetime}}</div>
        <div class="stats"></div>
        <div class="links">
          <a href="{% url edit_publication issue.publication.id %}">Edit publication</a>
        </div>

      </li>
      {% endfor %}
    </ul>
    
    {% else %}
    <div class="no_row">No published issues</div>
    {% endif %}
  </div>
  
</div>
{% endblock %}