{% extends 'base_authenticated.html' %}
{% load helper_tags module_tags %}

{% block head_title %}{{magazine.title}}{% endblock %}

{% block html_head %}
{{block.super}}
<script>
$(document).ready(function () {
  {% can user 'upload' publisher %}
  bind_upload_publication_modal();
  bind_upload_publication_form();

  $('.upload_publication_button').on('click', function(e) {
    open_upload_publication_modal();
    return false;
  });
  {% endcan %}

  {% if outstandings %}
  bind_publication_outstandings();
  {% endif %}
})
</script>
{% endblock %}

{% block body_authenticated %}
<div class="publisher_magazine_page">
  <ul class="breadcrumb">
    <li><a href="{% url view_magazines publisher.id %}">Magazines</a> <span class="divider">/</span></li>
    <li class="active">{{magazine.title}}</li>
  </ul>

  <div class="magazine_name">
    <h2>{{magazine.title}}</h2>
  </div>

  {% can user 'upload,manage' publisher %}
  <div class="table_actions">
    {% can user 'upload' publisher %}<a href="#" class="btn upload_publication_button">Upload new issue</a>{% endcan %}
    {% can user 'manage' publisher %}<a href="{% url edit_magazine magazine.id %}" class="btn">Edit magazine</a>{% endcan %}
  </div>
  {% endcan %}

  {% if magazine.description %}<div class="description">{{magazine.description}}</div>{% endif %}

  {% include 'publication/snippets/publication_outstandings.html' with unfinished=outstandings.unfinished ready=outstandings.ready scheduled=outstandings.scheduled unpublished=outstandings.unpublished %}

  <div class="magazine">
    <h3>Published issues<span>({{magazine.issues|length}} issues)</span></h3>
    {% if magazine.issues %}
    <ul class="published_publications">
      {% for issue in magazine.issues %}
      <li {% if forloop.last %}class="last"{% endif %}>
        <div class="cover"></div>
        <div class="statistics"></div>
        <div class="name"><a href="{% url view_publication issue.publication.id %}">{{issue.publication.title}}</a></div>
        <div class="status">Published on {{issue.publication.published|format_abbr_datetime}}</div>
        <div class="stats"></div>
        <div class="links">
          <a href="{% url edit_publication issue.publication.id %}">Edit publication</a>
        </div>

      </li>
      {% endfor %}
    </ul>
    
    {% else %}
    <div class="no_row">No published issues</div>
    {% endif %}
  </div>
  {% generate_publication_module_upload_modal 'magazine' %}
  
</div>
{% endblock %}