{% extends 'base_authenticated.html' %}
{% load page_tags %}

{% block head_title %}Create Magazine{% endblock %}
{% block topnav %}{% include 'snippets/topnav.html' with active_menu='magazine' %}{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body">
  <div class="content-full"><div class="content-inner">

    {% if not magazine %}
    <ul class="breadcrumb">
      <li><a href="{% url view_magazines publisher.id %}">นิตยสารทั้งหมด</a> <span class="divider">/</span></li>
      <li class="active">สร้างนิตยสารใหม่</li>
    </ul>
    <h2>สร้างนิตยสารใหม่</h2>
    {% else %}
    <ul class="breadcrumb">
      <li><a href="{% url view_magazines publisher.id %}">นิตยสารทั้งหมด</a> <span class="divider">/</span></li>
      <li><a href="{% url view_magazine magazine.id %}">{{magazine.title}}</a> <span class="divider">/</span></li>
      <li class="active">แก้ไขรายละเอียดนิตยสาร</li>
    </ul>
    <h2>แก้ไขรายละเอียดนิตยสาร</h2>
    {% endif %}

    <form method="POST" action=".">
      {% csrf_token %}
      {{form.non_field_errors}}
      
        <div class="clearfix"><label for="id_title">ชื่อนิตยสาร</label><div class="input">{{form.title}}{{form.title.errors}}</div></div>
        <div class="clearfix"><label for="id_description">คำอธิบาย</label><div class="input">{{form.description}}<span class="help-block">ไม่จำเป็นต้องกรอก</span>{{form.description.errors}}</div></div>
        <div class="clearfix"><label for="id_title">ประเภทสิ่งพิมพ์</label><div class="input multiple_checkbox row">{% genetate_publication_category_multiple_checkbox form.categories.value %}</div></div>
        
        <div class="form_actions">
          <button type="submit" class="btn primary">{% if not magazine %}สร้างนิตยสาร{% else %}แก้ไขนิตยสาร{% endif %}</button>
          <button type="reset" class="btn">ล้างข้อมูล</button>
        </div>
      
    </form>
  </div></div>
</div>
{% endblock %}