{% extends 'base_authenticated.html' %}
{% load helper_tags page_tags %}

{% block head_title %}{{publication.title}}{% endblock %}
{% block topnav %}{% include 'snippets/topnav.html' with active_menu='magazine' %}{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body publication_page">
  <div class="sidebar">
    <div class="cover"></div>
  </div>

  <div class="content"><div class="content-inner">
    <ul class="breadcrumb">
      <li><a href="{% url view_magazines publisher.id %}">นิตยสารทั้งหมด</a> <span class="divider">/</span></li>
      <li><a href="{% url view_magazine publication.magazineissue.magazine.id %}">{{publication.magazineissue.magazine.title}}</a> <span class="divider">/</span></li>
      <li class="active">{{publication.title}}</li>
    </ul>

    <h2>
      {{publication.magazineissue.magazine.title}} - {{publication.title}}
      <div>{% print_publication_status publication %} - Uploaded on {{publication.uploaded|format_abbr_datetime}} by {{publication.uploaded_by.get_profile.get_fullname}}</div>
    </h2>

    {% can user 'upload,publish' publisher %}
    <div class="page_actions">
      <a href="{% url edit_publication publication.id %}" class="btn">แก้ไขรายละเอียด</a>
    </div>
    {% endcan %}

    <div class="details">
      <h3>คำอธิบาย</h3>
      {% if publication.description %}
      <p>{{publication.description}}</p>
      {% else %}
      <div class="no">ไม่มีคำอธิบาย</div>
      {% endif %}
    </div>

    <div class="statistics">
      <h3>สถิติ</h3>
      statistics
    </div>

  </div></div>
</div>
{% endblock %}