{% extends 'base_authenticated.html' %}
{% load page_tags magazine_tags %}

{% block head_title %}Finishing upload{% endblock %}

{% block html_head %}
{{block.super}}

<script>
$(document).ready(function () {
  
})
</script>
{% endblock %}

{% block body_authenticated %}
<div class="finishing_upload_publication">

  <div class="alert-message block-message success">
    <p><strong>Uploaded successfully!</strong> Please fill in these necessary information to complete your upload.</p>
  </div>

  <div class="row">
    <div class="span5">
      <div class="cover"></div>
    </div>
    <div class="span11">
      <div class="publication_type">Original filename</div>
      <div class="file_name">{{uploading_publication.original_file_name}}.{{uploading_publication.file_ext}}</div>

      <form class="form-stacked" action="." method="post">
        {% csrf_token %}

        {% if uploading_publication.parent_id %}
        <div class="magazine_name">{% print_magazine_name uploading_publication.parent_id %}</div>
        {% else %}
        <div class="clearfix"><label for="id_magazine">Magazine</label><div class="input">{{form.magazine}}</div></div>
        {% endif %}

        <div class="clearfix"><label for="id_title">Issue name</label><div class="input">{{form.title}}{{form.title.errors}}</div></div>
        <div class="clearfix"><label for="id_description">Description</label><div class="input">{{form.description}}<span class="help-block">Optional</span>{{form.description.errors}}</div></div>

        <div class="clearfix">
          <label id="id_publish_status">Publish status</label>
          <div class="input">
            <ul class="inputs-list publish_status">
              <li>
                <label><input type="radio" value="{{PUBLISH_STATUS_UNPUBLISHED}}" name="publish_status"{% if form.publish_status.value == PUBLISH_STATUS_UNPUBLISHED|slugify %} checked="checked"{% endif %}><span>Unpublished</span></label>
              </li>
              <li>
                <label><input type="radio" value="{{PUBLISH_STATUS_SCHEDULED}}" name="publish_status"{% if form.publish_status.value == PUBLISH_STATUS_SCHEDULED|slugify %} checked="checked"{% endif %}><span>Schedule to publish</span></label>
                <div class="schedule_date">วันที่ {{form.schedule_date}}</div>{{form.schedule_date.errors}}
                <div class="schedule_time">เวลา {{form.schedule_time}}</div>{{form.schedule_time.errors}}
              </li>
              <li>
                <label><input type="radio" value="{{PUBLISH_STATUS_PUBLISHED}}" name="publish_status"{% if form.publish_status.value == PUBLISH_STATUS_PUBLISHED|slugify %} checked="checked"{% endif %}><span>Published</span></label>
              </li>
            </ul>
          </div>
          {{form.publish_status.errors}}
        </div>

        <div class="actions">
          <input type="submit" value="Save publication" class="btn primary">

          {% if uploading_pubilcation.parent_id %}
          <a href="{% url delete_uploading_publication uploading_publication.id %}?next={% url view_magazine uploading_pubilcation.parent_id %}" class="pull-right" title="Delete uploaded file permanently">Cancel this file</a>
          {% else %}
          <a href="{% url delete_uploading_publication uploading_publication.id %}?next={% url view_magazines uploading_publication.publisher.id %}" class="pull-right" title="Delete uploaded file permanently">Cancel this file</a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}