{% load helper_tags %}

{% if publication.is_processing %}<div class="note">ไฟล์กำลังอยู่ในระหว่างการประมวลผล ถ้าเลือกที่จะตั้งเวลาเผยแพร่ หรือเผยแพร่ทันที ระบบจะเผยแพร่ให้เมื่อไฟล์ถูกประมวลผลเสร็จแล้ว</div>{% endif %}

<div class="clearfix">
  <label id="id_status">สถานะ</label>
  <div class="input">
    {% if form.status.errors %}<div class="top_error">{{form.status.errors}}</div>{% endif %}

    <ul class="inputs-list">

      {% if_publish_when_ready publication %}
      <li><label><input type="radio" value="unpublish" name="status">ยังไม่เผยแพร่ <span>(Unpublished)</span></label></li>
      {% else %}
      <li><label><input type="radio" value="unpublish" name="status"{% if form.status.value == 'unpublish' %} checked="checked"{% endif %}>ยังไม่เผยแพร่ <span>(Unpublished)</span></label></li>
      {% endif %}

      <li>
        <label><input type="radio" value="schedule" name="status"{% if form.status.value == 'schedule' %} checked="checked"{% endif %}>ตั้งเวลาเผยแพร่ <span>(Scheduled)</span></label>
        <div class="schedule_date">วันที่ {{form.schedule_date}}</div>{{form.schedule_date.errors}}
        <div class="schedule_time">เวลา {{form.schedule_time}}</div>{{form.schedule_time.errors}}
      </li>
      
      {% if_publish_when_ready publication %}
      <li><label><input type="radio" value="publish" name="status" checked="checked">จะเผยแพร่ทันทีที่ประมวลผลเสร็จ <span>(Publish when ready)</span></label></li>
      {% else %}
      <li><label><input type="radio" value="publish" name="status"{% if form.status.value == 'publish' %} checked="checked"{% endif %}>เผยแพร่ <span>(Published)</span></label></li>
      {% endif %}
      
    </ul>
  </div>
</div>