{% load helper_tags %}
{% if unfinished or scheduled or unpublished %}
<div class="publication_outstandings">
  <div class="numbers">
    <ul>
      {% if unfinished %}<li class="unfinished"><a href="#outstanding-unfinished">Unfinished uploading ({{unfinished|length}} issues)</a></li>{% endif %}
      {% if scheduled %}<li class="scheduled"><a href="#outstanding-scheduled">Scheduled to publish ({{scheduled|length}} issues)</a></li>{% endif %}
      {% if unpublished %}<li class="unpublished"><a href="#outstanding-unpublished">Unpublished ({{unpublished|length}} issues)</a></li>{% endif %}
    </ul>
  </div>

  {% if unfinished %}
  <div class="list" id="outstanding-unfinished" style="display:none;">
    <div class="close_list"><a href="#">Close List</a></div>
    <ul>
      {% for uploading_publication in unfinished %}
      <li>
          <div class="cover"></div>
          <div class="name">{{uploading_publication.original_file_name}}.{{uploading_publication.file_ext}}</div>
          <div class="status">Uploaded on <span>{{uploading_publication.uploaded|format_abbr_datetime}}</span> by <span>{{uploading_publication.uploaded_by.get_profile.get_fullname}}</span></div>
          <div class="links">
            <a href="{% url finishing_upload_publication uploading_publication.id %}" class="btn">Finishing upload</a>
          </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if scheduled %}
  <div class="list" id="outstanding-scheduled" style="display:none;">
    <div class="close_list"><a href="#">Close List</a></div>
    <ul>
      {% for publication in scheduled %}
      <li>
          <div class="cover"></div>
          <div class="name"><a href="{% url view_publication publication.id %}">{{publication.get_publication_title}}</a></div>
          <div class="status">Scheduled to publish on <span>{{publication.publish_schedule|format_abbr_datetime}}</span> by <span>{{publication.published_by.get_profile.get_fullname}}</span></div>

          {% can user 'publish' publisher %}
          <div class="links">
            <a href="{% url set_publication_schedule publication.id %}" class="btn action-schedule">Reschedule</a>
            <a href="{% url set_publication_cancel_schedule publication.id %}" class="link danger action-cancel-schedule">Cancel schedule</a>
          </div>
          {% endcan %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if unpublished %}
  <div class="list" id="outstanding-unpublished" style="display:none;">
    <div class="close_list"><a href="#">Close List</a></div>
    <ul>
      {% for publication in unpublished %}
      <li>
          <div class="cover"></div>
          <div class="name"><a href="{% url view_publication publication.id %}">{{publication.get_publication_title}}</a></div>
          <div class="status">Uploaded on <span>{{publication.uploaded|format_abbr_datetime}}</span> by <span>{{publication.uploaded_by.get_profile.get_fullname}}</span></div>
          <div class="links">
            {% can user 'upload,publish' publisher %}
            {% can user 'publish' publisher %}
            <a href="{% url set_publication_schedule publication.id %}" class="btn action-schedule">Schedule</a>
            <a href="{% url set_publication_published publication.id %}" class="btn action-publish">Publish Now</a>
            {% endcan %}
            <a href="{% url edit_publication publication.id %}" class="link">Edit Issue</a>
            {% endcan %}
          </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
{% endif %}