.widget_hour_only_time {
	/*padding-left:30px;
  background:url(/static/images/input/time_picker.png) left top no-repeat;*/
  font-size:1.2em;
  color:#444;
}

.widget_hour_only_time select {
	width:60px;
	margin:0px 10px 0px 6px;
	
}
