@import "../libs/bootstrap/less/variables.less";

@outstanding-ready: #b6daaf;
@outstanding-ready-light: #d6ead2;
@outstanding-ready-lighter: #e6f2e3;

@outstanding-scheduled: #aed9d7;
@outstanding-scheduled-light: #d1e9e8;
@outstanding-scheduled-lighter: #e2f1f1;

@outstanding-unpublished: #CCC;
@outstanding-unpublished-light: #EEE;
@outstanding-unpublished-lighter: #F3F3F3;

.content_link () {
    a:link, a:active, a:visited {
        text-decoration:underline;
        color:@linkColor;
    }

    a:hover {
        background-color:@linkColor !important;
        color:#FFF !important;
    }
}

/* *************** Common *************** */

form, ul {margin:0px;padding:0px;}
li {list-style:none;}
a.btn:visited {color:#333333;}
form fieldset .actions input {margin-right:10px;}

.page-header h1 {margin-top:10px;}

.no_row {
    text-align:center;
    font-size:1.1em;
    background-color:#F5F5F5;
    padding:10px 0px;
}

.table_actions a {
    margin-right:15px;
}

input, textarea {
    color:#444;
}

select {
    color:#444;
}

ul.errorlist {
    margin-top:5px;

    li {
        color:#c30;
    }
}

.inputs-list .errorlist {
    margin-bottom:20px;
}

ul.breadcrumb {
    a:visited {
        color:@linkColor;
    }
}

/* Publisher Top Navigation Bar */

.publisher-topbar-wrapper {
    height: 40px;
    margin: 5px 0 15px;
    position: relative;
}

.publisher-topbar-wrapper .topbar {
    position: absolute;
}

.publisher-topbar-wrapper .topbar .topbar-inner {
    border-radius: 4px 4px 4px 4px;
    padding-left: 20px;
    padding-right: 20px;
}

.publisher-topbar-wrapper .topbar .topbar-inner .container {
    width:900px;
}

/* Publisher Dashboard */
.publisher_dashboard .sidebar {
  
}

.publication_outstanding_styles() {
    margin:20px 0px;
    background-color:#FFE;
    border:1px solid #DDD;
    padding:10px;

    @outstanding-number-height: 20px;
    @outstanding-number-vertical-padding: 2px;

    .numbers {
        height:@outstanding-number-height + @outstanding-number-vertical-padding * 2;

        li {
            float:left;
            list-style:none;
            padding:@outstanding-number-vertical-padding 28px @outstanding-number-vertical-padding 10px;
            font-weight:bold;
            color:#333;
            margin-right:@outstanding-number-height;
            height:20px;
            background-image:url('/static/images/down_arrow.png');
            background-position:right center;
            background-repeat:no-repeat;

            a {
                color:#333;
            }
        }

        .ready {
            background-color:@outstanding-ready;
        }

        .scheduled {
            background-color:@outstanding-scheduled;
        }

        .unpublished {
            background-color:@outstanding-unpublished;
        }
    }

    #outstanding-ready {
        background-color:@outstanding-ready-lighter;
        border-top:8px solid @outstanding-ready;
    }

    #outstanding-scheduled {
        background-color:@outstanding-scheduled-lighter;
        border-top:8px solid @outstanding-scheduled;
    }

    #outstanding-unpublished {
        background-color:@outstanding-unpublished-lighter;
        border-top:8px solid @outstanding-unpublished;
    }

    .list {
        padding-bottom:15px;

        .close_list {
            float:right;
            margin:10px 15px;

            a {
                text-indent:-9999px;
                background:url('/static/images/close_button.png') center top no-repeat;
                display:block;
                width:48px;
                height:24px;
            }

            a:hover {
                background-position:center bottom;
            }
        }

        li {
            padding:15px 15px 5px;
        }

        .cover {
            width:70px;
            height:85px;
            background-color:#D34;
            float:left;
        }

        .name {
            .content_link;

            margin:0px 0px 7px 85px;
            font-size:1.2em;
            color:#000;
        }

        .status {
            color:#444;
            margin:0px 0px 10px 85px;
        }

        .links {
            margin:0px 0px 0px 85px;

            a {
                margin-right:15px;
            }
        }
    }
}

/* *************** Upload Publication *************** */

#upload-publication-modal {
    
    .uploading {
        font-size:1.2em;
        color:#555;
        margin-bottom:10px;

        #upload_progressbar {
            margin-top:10px;
        }
    }

    .error_message {
        color:#C30;
        font-size:1.1em;
        margin-bottom:10px;

        div {
            margin-top:10px;
        }

        .content_link;
    }
}

.upload_publication_page {
    .uploading {
        margin-left:150px;
    }

    .error_message {
        margin-left:150px;
    }
}

.finishing_upload_publication {
    .cover {
        width:250px;
        height:320px;
        background-color:#ABC;
        border:5px solid #666;
    }

    form {
        margin:0px;
        padding:0px;
    }

    .clearfix {
        margin-bottom:20px;
    }

    label {
        margin-bottom:5px;
    }

    .publication_type {
        margin-bottom:10px;
        color:#666;
        font-size:1.1em;
    }

    .file_name {
        color:#333;
        background:url('/static/images/icons/file.png') left top no-repeat;
        font-size:1.2em;
        padding-left:23px;
        margin-bottom:15px;
        border-bottom:1px solid #CCC;
        padding-bottom:15px;
    }

    .magazine_name {
        font-size:1.5em;
        margin-bottom:15px;
    }

    .schedule_date {
        padding:10px 0px 5px 20px;
        font-size:1.2em;
        color:#444;

        .yui_date_picker_panel {
            margin-left:5px;
        }
    }

    .schedule_time {
        padding:10px 0px 20px 20px;
        font-size:1.2em;
        color:#444;

        select {
            width:60px;
            margin:0px 5px;
        }
    }

    .actions a {
        margin-top:10px;
        color:#C30;
    }
}

/* *************** Publisher Magazines *************** */

/* Magazines */

.publisher_magazines {
    .table_actions {
        .upload_publication_button span {
            background:url('/static/images/icons/button_upload_publication.png') left center no-repeat;
            padding-left:23px;
        }
    }

    .publication_outstandings {
        .publication_outstanding_styles;
    }

    .no_magazine {
        text-align:center;
        margin-top:20px;
        padding:10px 0px;
        background-color:#FFE;

        p {
            font-size:1.2em;
        }

        div {
            margin-top:10px;
        }
    }

    .magazines {

        .content_link;

        margin-top:25px;

        li {
            list-style:none;
            margin-bottom:25px;
            border-bottom:1px dashed #CCC;
            padding-bottom:25px;
        }

        li.last {
            border-bottom:none;
            margin-bottom:10px;
        }

        .title {
            margin-bottom:10px;
        }

        .title a {
            font-size:1.4em;
            font-weight:bold;
        }

        .stats {
            margin-bottom:7px;
        }

        .stats .published {
            font-weight:bold;
            color:#444;
            font-size:1.1em;
        }

        .outstanding {
            margin-bottom:10px;

            span {
                margin-right:15px;
                padding:0px 5px;
                color:#444;
            }

            .ready {
                background-color:@outstanding-ready-light;
            }

            .scheduled {
                background-color:@outstanding-scheduled-light;
            }

            .unpublished {
                background-color:@outstanding-unpublished-light;
            }
        }

        .links a {
            margin-right:15px;
            color:#555;
        }
    }

    .create_magazine {
        border:1px dashed #999;
        padding:15px 15px 15px 50px;
        font-size:1.2em;
        margin-bottom:40px;

        background:url(/static/images/icons/button_create_magazine.png) 15px center no-repeat;

        .content_link;
    }
}

/* Magazine */

.publisher_magazine_page {
    .breadcrumb {
        margin-bottom:7px;
    }

    .magazine_name {
        margin:10px 0px 15px;

        h2 {
            font-size:1.4em;
            padding-right:10px;
        }

        div {
            color:#666;
        }
    }

    .magazine {
        margin-top:15px;
    }

    .publication_outstandings {
        .publication_outstanding_styles;
    }

    h3 {
        font-size:1.2em;
        margin-bottom:15px;

        span {
            font-size:0.9em;
            color:#666;
            padding-left:10px;
        }
    }

    .published_publications {
        .content_link;

        li {
            padding-bottom:10px;
            margin-bottom:15px;
            border-bottom:1px dashed #CCC;
            min-height:95px;
        }

        li.last {
            border-bottom:none;
        }

        .cover {
            width:70px;
            height:85px;
            background-color:#D34;
            float:left;
        }
 
        .name {
            margin:0px 0px 7px 85px;
            font-size:1.2em;
            color:#000;
        }

        .status {
            color:#444;
            margin:0px 0px 10px 85px;
        }

        .links {
            margin:0px 0px 0px 85px;

            a {
                color:#555;
                margin-right:15px;
            }
        }

        .statistics {
            float:right;
            width:300px;
            height:85px;
            background-color:#CCC;
        }
    }
}

/* Magazine Issue */

.magazine_issue_page {
    h2 {
        
    }

    .status {
        font-size:1.1em;
    }

    .page_actions {
        margin:15px 0px;
    }

    .cover {
        width:200px;
        height:250px;
        background-color:#CCC;
    }

    .statistics {
        margin-top:25px;
    }
}

/* *************** Publisher Books *************** */

.publisher_books_page {
    .books {
        margin-top:15px;
    }

    .publication_outstandings {
        .publication_outstanding_styles;
    }

    h3 {
        font-size:1.2em;
        margin-bottom:15px;

        span {
            font-size:0.9em;
            color:#666;
            padding-left:10px;
        }
    }

    .published_publications {
        .content_link;

        li {
            padding-bottom:10px;
            margin-bottom:15px;
            border-bottom:1px dashed #CCC;
            min-height:95px;
        }

        li.last {
            border-bottom:none;
        }

        .cover {
            width:70px;
            height:85px;
            background-color:#D34;
            float:left;
        }
 
        .name {
            margin:0px 0px 7px 85px;
            font-size:1.2em;
            color:#000;
        }

        .status {
            color:#444;
            margin:0px 0px 10px 85px;
        }

        .links {
            margin:0px 0px 0px 85px;

            a {
                color:#555;
                margin-right:15px;
            }
        }

        .statistics {
            float:right;
            width:300px;
            height:85px;
            background-color:#CCC;
        }
    }
}

/* *************** Publisher Management *************** */
.publisher_manage .table_actions {
    margin:25px 0px 15px;
}

/* Footer */

.footer {
    border-top:1px solid #DDD;
    text-align:center;
    padding-top:10px;
    margin-top:20px;
}