.page-header h1 {margin-top:10px;}

form .actions a {margin-left:10px;}

.no_row {
  text-align:center;
  font-size:1.1em;
  background-color:#F5F5F5;
  padding:10px 0px;
}

.table_actions a {
  margin-right:15px;
}

/* Publisher Top Navigation Bar */

.publisher-topbar-wrapper {
  height: 40px;
  margin: 5px 0 15px;
  position: relative;
}

.publisher-topbar-wrapper .topbar {
  position: absolute;
}

.publisher-topbar-wrapper .topbar .topbar-inner {
  border-radius: 4px 4px 4px 4px;
  padding-left: 20px;
  padding-right: 20px;
}

.publisher-topbar-wrapper .topbar .topbar-inner .container {
  width:900px;
}

/* Publisher Dashboard */
.publisher_dashboard .sidebar {
  
}

/* Publisher Periodicals */

.publisher_periodicals .periodicals .no_row {
  margin-top:20px;
}

.publisher_periodicals .periodicals ul {
  margin:0px;
  padding:0px;
}

.publisher_periodicals .periodicals li {
  margin-top:20px;
  list-style:none;
  padding:10px;
  border:1px solid #CCC;
}

.publisher_periodicals .periodicals li .title {
  font-size:1.2em;
  font-weight:bold;

}

.publisher_periodicals .periodicals li .links {
  margin-top:10px;
}

.publisher_periodicals .periodical .description {
  margin-top:10px;
}

.publisher_periodicals .periodical .description h3 {
  color:#666;
  font-size:1.1em;
  
}

.publisher_periodicals .periodical .backissues {
  margin-top:10px;
}

.publisher_periodicals .periodical .backissues h3 {
  color:#666;
  font-size:1.1em;
}

/* Publisher Management */
.publisher_manage .table_actions {
  margin:25px 0px 15px;
}

/* Footer */

.footer {
  border-top:1px solid #DDD;
  text-align:center;
  padding-top:10px;
  margin-top:20px;
}