a {
  color: #725228;
}
a:hover {
  color: #BB8C54;
}
/* DEFAULT
==================================================================================================== */
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
a.btn:visited {
  color: #333333;
}
.clear {
  clear: both;
}
a.danger {
  color: #C30;
}
a.danger:hover {
  background-color: #C30;
  color: #FFF;
}
.nav-tabs a {
  outline: none;
}
.chzn-container {
  margin-bottom: 10px;
}
/* PAGE
==================================================================================================== */
body {
  background: url(../images/bg-wood.jpg);
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  background-color: transparent;
}
.navbar {
  position: relative;
}
.navbar .navbar-inner {
  background: url(../images/bg-topbar.png);
  padding: 10px 0;
}
.navbar .navbar-inner .container {
  margin: 0px;
  padding: 5px 0;
  width: auto;
  border-bottom: 1px dashed #696161;
  border-top: 1px dashed #696161;
}
.navbar h1 {
  margin-left: 10px;
}
.navbar h1 a {
  float: left;
  display: block;
  padding: 8px 20px 12px 8px;
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  background: url(../images/logo-small.png) no-repeat 10px 3px;
  width: 40px;
  height: 20px;
  text-indent: -9999em;
}
.navbar h1 a:hover {
  color: #999;
}
.navbar h1 span {
  color: #CCC;
}
.navbar li a.nav_top_link {
  color: #EEE;
  font-size: 1.1em;
  padding: 12px 10px 8px;
}
.navbar li.active a.nav_top_link {
  background-color: transparent;
  color: #999;
}
.navbar li a.nav_top_link:hover {
  color: #999;
}
.navbar a.logout {
  color: #CCC !important;
  font-size: 1em !important;
  padding: 12px 10px 8px !important;
}
.navbar .dropdown-menu a {
  font-size: 1.1em;
  padding-bottom: 10px;
  padding-top: 10px;
}
.navbar .dropdown-menu a:hover {
  background-color: rgba(29, 25, 18, 0.81);
}
.navbar .accounts {
  padding: 12px 0px 8px;
}
.navbar .accounts a {
  display: inline;
}
.authenticated-container {
  margin-top: 20px;
}
.container-fluid .content {
  padding: 1px;
  border-radius: 10px;
  background: -moz-linear-gradient(90deg, rgba(239, 236, 224, 0.37) 0%, rgba(253, 250, 237, 0.44) 66%);
  background: -webkit-linear-gradient(90deg, rgba(239, 236, 224, 0.37) 0%, rgba(253, 250, 237, 0.44) 66%);
  background: -o-linear-gradient(90deg, rgba(239, 236, 224, 0.37) 0%, rgba(253, 250, 237, 0.44) 66%);
  background: -ms-linear-gradient(90deg, rgba(239, 236, 224, 0.37) 0%, rgba(253, 250, 237, 0.44) 66%);
  background: linear-gradient(90deg, rgba(239, 236, 224, 0.37) 0%, rgba(253, 250, 237, 0.44) 66%);
  box-shadow: 0 0 6px rgba(117, 111, 111, 0.68);
  -webkit-box-shadow: 0 0 6px 0 rgba(117, 111, 111, 0.68);
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.container-fluid .content .inner-content {
  padding: 15px;
  background-color: rgba(252, 251, 250, 0.27);
}
.container-fluid h2 {
  margin-bottom: 20px;
  padding-bottom: 7px;
  font-size: 1.8em;
}
.container-fluid h2 span {
  color: #666;
  margin-right: 8px;
}
.container-fluid h3 {
  margin: 20px 0px 15px;
  line-height: 1;
  font-size: 1.4em;
  color: #11717a;
  font-weight: normal;
}
.container-fluid h3 span {
  color: #666;
  font-size: 0.9em;
}
.container-fluid .breadcrumb {
  margin-bottom: 10px;
  border: none;
  box-shadow: none;
  -moz-border-radius: none;
  -webkit-border-radius: none;
  background: transparent;
  padding-left: 0;
}
.container-fluid .breadcrumb a:link,
.container-fluid .breadcrumb a:active,
.container-fluid .breadcrumb a:visited {
  text-decoration: underline;
  color: #725228;
}
.container-fluid .breadcrumb a:hover {
  color: #bb8c54 !important;
  text-shadow: none;
}
.container-fluid .page_actions {
  margin-bottom: 25px;
}
.container-fluid .page_actions a,
.container-fluid .page_actions button {
  margin-right: 15px;
  vertical-align: top;
}
.container-fluid .page_actions a.btn-primary {
  color: #FFF;
  background-color: #796346;
  background-image: -ms-linear-gradient(top, #796346, #352c20);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#796346), to(#352c20));
  background-image: -webkit-linear-gradient(top, #796346, #352c20);
  background-image: -o-linear-gradient(top, #796346, #352c20);
  background-image: -moz-linear-gradient(top, #796346, #352c20);
  background-image: linear-gradient(top, #796346, #352c20);
  background-repeat: repeat-x;
}
.container-fluid .page_actions a.btn-primary:visited,
.container-fluid .page_actions a.btn-primary:active {
  color: #FFF;
}
/* COMPONENT
==================================================================================================== */
/* No Information */
.no_information {
  font-size: 1.1em;
  background-color: #F5F5F5;
  padding: 10px;
}
/* Modal */
.modal .modal-header {
  padding: 10px 15px;
}
.modal h3 em {
  color: #369;
  font-style: normal;
}
.modal .modal-message {
  color: #FFF;
  padding: 8px 15px;
}
.modal .modal-message i {
  vertical-align: -2px;
}
.modal .modal-message-success {
  background-color: #51a351;
}
.modal .modal-message-error {
  background-color: #e56068;
}
.modal .modal-footer button {
  margin-left: 15px;
}
#message_modal p {
  margin-top: 20px;
  font-size: 1.1em;
}
/* Alert */
.alert {
  margin: 0px 20px 15px;
}
.alert p {
  font-size: 1.1em;
  padding: 5px 45px;
  vertical-align: middle;
  margin: 0px;
}
.alert-success p {
  background: url(../images/messages/success.png) 5px 50% no-repeat;
}
.alert-warning p {
  background: url(../images/messages/warning.png) 5px 50% no-repeat;
}
.alert-error p {
  background: url(../images/messages/error.png) 5px 50% no-repeat;
}
/* Form */
button i,
a i {
  vertical-align: -2px !important;
}
form .control-group {
  padding: 0px 0px 10px 20px;
}
form .control-group label.control-label {
  color: #333;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 8px;
}
form .control-group .row-controls li {
  margin: 0px 0px 7px 10px;
}
form .control-group .row-controls li label {
  color: #444;
  display: inline;
  font-size: 1.1em;
  vertical-align: middle;
}
form .control-group .row-controls li input {
  margin-right: 4px;
  display: inline;
  vertical-align: middle;
}
form .control-group .fixed-controls {
  font-size: 1.1em;
  font-style: italic;
  line-height: 18px;
}
form .controls .input-normal {
  width: 350px;
}
form .controls .input-large {
  width: 500px;
}
form label.checkbox {
  color: #444;
  margin-bottom: 7px;
}
form .form-actions {
  margin-top: 30px;
  border-top: none;
  background-color: transparent;
}
form .form-actions button,
form .form-actions a {
  margin-right: 15px;
  vertical-align: middle;
}
form .form-actions a:link,
form .form-actions a:active,
form .form-actions a:visited {
  text-decoration: underline;
  color: #725228;
}
form .form-actions a:hover {
  color: #bb8c54 !important;
  text-shadow: none;
}
form .form-actions a.danger {
  color: #C30;
}
form .form-actions a.danger:hover {
  background-color: #C30;
  color: #FFF;
}
form ul.errorlist li {
  color: #c30;
}
form .fixed-value {
  font-size: 1.1em;
  line-height: 21px;
}
form .input label.checkbox {
  display: inline;
  margin-left: 0px;
  padding-left: 0px;
}
form .radio input[type="radio"],
form .checkbox input[type="checkbox"] {
  float: none;
  margin-left: 0px;
  display: inline;
  margin-right: 7px;
}
form .row-inputs li {
  margin: 0px 0px 7px 0px;
  line-height: 25px;
}
form .row-inputs label {
  color: #444;
  display: inline;
}
form .row-inputs input {
  margin-right: 4px;
  display: inline;
  vertical-align: middle;
}
form .row-inputs .errorlist {
  margin-bottom: 20px;
}
table th.edit_column {
  width: 70px;
}
table th.datetime_column {
  width: 170px;
}
table th.checkbox_column {
  width: 10px;
}
table td.row_actions {
  text-align: center;
}
table td.row_actions a.link:link,
table td.row_actions a.link:active,
table td.row_actions a.link:visited {
  text-decoration: underline;
  color: #725228;
}
table td.row_actions a.link:hover {
  color: #bb8c54 !important;
  text-shadow: none;
}
table tr.checked td {
  background-color: #FFD !important;
}
.delete-panel {
  border: 1px dashed #CCC;
  padding: 15px 15px 15px 45px;
  margin-bottom: 20px;
  background: url(../images/icons/danger_icon.png) 15px 50% no-repeat;
}
.delete-panel a.danger:link,
.delete-panel a.danger:active,
.delete-panel a.danger:visited {
  text-decoration: underline;
  color: #666;
}
.delete-panel a.danger:hover {
  background-color: #C30;
  color: #FFF;
  text-shadow: none;
}
#select-lang {
  margin-top: 20px;
}
#select-lang ul {
  text-align: center;
}
#select-lang ul li {
  display: inline;
  margin-left: 20px;
}
#select-lang ul li a {
  display: inline;
  padding: 5px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#select-lang ul li a:hover {
  background-color: #BBA57C;
  color: white;
}
#select-lang ul li a.active {
  background-color: #927543;
  color: white;
}
.organization_users_page .nav-tabs {
  margin-bottom: 0;
  border: none;
}
.organization_users_page .nav-tabs ul {
  border-bottom: none;
}
.organization_users_page .nav-tabs ul li.active a {
  border: none;
  background-color: rgba(252, 251, 250, 0.27) !important;
}
.organization_users_page .nav-tabs ul li.active a:hover {
  border: none;
  background-color: rgba(252, 251, 250, 0.27) !important;
}
.organization_users_page .tab-content {
  border: 1px dashed rgba(150, 124, 82, 0.19);
  background-color: rgba(252, 251, 250, 0.27);
  padding: 20px 10px 0;
}
.organization_users_page .tab-content table {
  border: none;
}
.organization_users_page .tab-content table thead {
  background-color: #30281E;
  color: white;
}
.organization_users_page .tab-content table thead tr th {
  text-align: center;
}
.organization_users_page .tab-content table tbody tr,
.organization_users_page .tab-content table td {
  background-color: white;
  border-top: none;
  border-left: none;
  padding: 13px 40px;
  text-align: center;
}
.organization_users_page .tab-content table tbody tr:hover td,
.organization_users_page .tab-content table td:hover td,
.organization_users_page .tab-content table tbody tr:hover tr,
.organization_users_page .tab-content table td:hover tr {
  background-color: rgba(150, 124, 82, 0.19);
  cursor: pointer;
}
.organization_users_page .tab-content table tbody tr.row_actions,
.organization_users_page .tab-content table td.row_actions {
  padding: 5px 40px 8px;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  border: 1px dashed rgba(150, 124, 82, 0.19);
  border-bottom: none;
  background-color: rgba(252, 251, 250, 0.27) !important;
}
.nav-tabs > li > a {
  border: none;
}
.nav-tabs > li > a:hover {
  background-color: rgba(252, 251, 250, 0.27);
}
/*
* Forget Password
*/
#id_email,
#id_password {
  width: 400px;
}
/* Sidebar */
.content-sidebar .buttons {
  margin-bottom: 25px;
}
.content-sidebar .buttons a {
  text-align: center;
  color: white;
}
.content-sidebar .head {
  font-weight: bold;
  color: #666;
  font-size: 1.1em;
  margin: 0px 0px 10px 10px;
}
.content-sidebar .head a {
  color: #666;
}
.content-sidebar ul li {
  margin-bottom: 5px;
  padding: 10px 10px 10px 25px;
}
.content-sidebar ul li a {
  color: #444;
  font-size: 1.1em;
  margin-left: 8px;
  display: block;
}
.content-sidebar ul li.shelf-all {
  background: url(../images/menu/shelf-all.png) 10px 50% transparent no-repeat;
}
.content-sidebar ul li.organization {
  background: url(../images/menu/organization.png) 10px 50% transparent no-repeat;
}
.content-sidebar ul li.user {
  background: url(../images/menu/user.png) 10px 50% transparent no-repeat;
}
.content-sidebar ul li.group {
  background: url(../images/menu/group.png) 10px 50% transparent no-repeat;
}
.content-sidebar ul li.my_profile {
  background: url(../images/menu/my_profile.png) 10px 50% transparent no-repeat;
}
.content-sidebar ul li.my_account {
  background: url(../images/menu/my_account.png) 10px 50% transparent no-repeat;
}
.content-sidebar ul li.add {
  background: url(../images/menu/add.png) 10px 50% transparent no-repeat;
  border: 1px dashed #CCC;
  margin-top: 15px;
}
.content-sidebar ul li.active {
  background-color: #FFF;
  border: 1px solid #CCC;
}
.content-sidebar ul li.active a {
  color: #444;
  font-weight: bold;
}
.content-sidebar ul li span {
  font-size: 0.9em;
  color: #666;
}
.shelf.basic1-006 {
  background: url(../images/shelficons/16/basic1-006.png) 14px 17px transparent no-repeat;
}
.shelf.basic1-041 {
  background: url(../images/shelficons/16/basic1-041.png) 14px 17px transparent no-repeat;
}
.shelf.basic1-049 {
  background: url(../images/shelficons/16/basic1-049.png) 14px 17px transparent no-repeat;
}
.shelf.basic1-052 {
  background: url(../images/shelficons/16/basic1-052.png) 14px 17px transparent no-repeat;
}
.shelf.basic1-054 {
  background: url(../images/shelficons/16/basic1-054.png) 14px 17px transparent no-repeat;
}
.shelf.basic1-106 {
  background: url(../images/shelficons/16/basic1-106.png) 14px 17px transparent no-repeat;
}
.shelf.basic1-129 {
  background: url(../images/shelficons/16/basic1-129.png) 14px 17px transparent no-repeat;
}
.shelf.basic2-001 {
  background: url(../images/shelficons/16/basic2-001.png) 14px 17px transparent no-repeat;
}
.shelf.basic2-011 {
  background: url(../images/shelficons/16/basic2-011.png) 14px 17px transparent no-repeat;
}
.shelf.basic2-018 {
  background: url(../images/shelficons/16/basic2-018.png) 14px 17px transparent no-repeat;
}
.shelf.basic2-057 {
  background: url(../images/shelficons/16/basic2-057.png) 14px 17px transparent no-repeat;
}
.shelf.basic2-092 {
  background: url(../images/shelficons/16/basic2-092.png) 14px 17px transparent no-repeat;
}
.shelf.basic2-096 {
  background: url(../images/shelficons/16/basic2-096.png) 14px 17px transparent no-repeat;
}
.shelf.basic2-102 {
  background: url(../images/shelficons/16/basic2-102.png) 14px 17px transparent no-repeat;
}
.shelf.basic2-106 {
  background: url(../images/shelficons/16/basic2-106.png) 14px 17px transparent no-repeat;
}
.shelf.basic2-114 {
  background: url(../images/shelficons/16/basic2-114.png) 14px 17px transparent no-repeat;
}
.shelf.basic2-117 {
  background: url(../images/shelficons/16/basic2-117.png) 14px 17px transparent no-repeat;
}
.shelf.basic2-142 {
  background: url(../images/shelficons/16/basic2-142.png) 14px 17px transparent no-repeat;
}
.shelf.basic2-197 {
  background: url(../images/shelficons/16/basic2-197.png) 14px 17px transparent no-repeat;
}
.shelf.basic2-238 {
  background: url(../images/shelficons/16/basic2-238.png) 14px 17px transparent no-repeat;
}
.shelf.basic2-253 {
  background: url(../images/shelficons/16/basic2-253.png) 14px 17px transparent no-repeat;
}
.shelf.basic2-256 {
  background: url(../images/shelficons/16/basic2-256.png) 14px 17px transparent no-repeat;
}
.shelf.basic2-258 {
  background: url(../images/shelficons/16/basic2-258.png) 14px 17px transparent no-repeat;
}
.shelf.basic2-267 {
  background: url(../images/shelficons/16/basic2-267.png) 14px 17px transparent no-repeat;
}
.shelf.basic2-268 {
  background: url(../images/shelficons/16/basic2-268.png) 14px 17px transparent no-repeat;
}
/* PAGES
==================================================================================================== */
#publication-modal .panel-message {
  background-color: #EEE;
  padding: 15px 20px ;
  text-align: center;
}
#publication-modal .panel-message i.loading {
  background: url('../images/loading.gif') no-repeat;
  display: inline-block;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  width: 16px;
}
#publication-modal .left {
  float: left;
}
#publication-modal .left .thumbnail {
  border: 1px solid #999;
  background-color: #CCC;
  width: 100px;
}
#publication-modal .left .actions {
  margin-top: 15px;
}
#publication-modal .left .actions a {
  display: block;
  margin-bottom: 10px;
}
#publication-modal .left .file_info {
  margin-top: 10px;
}
#publication-modal .left .file_info li {
  color: #333;
  list-style: none;
  margin-bottom: 5px;
}
#publication-modal .right {
  margin-left: 130px;
}
#publication-modal .right form {
  margin: 0px;
  padding: 0px;
}
#publication-modal .right form .control-group {
  margin-bottom: 7px;
  padding: 0px;
}
#publication-modal .right form label {
  font-weight: normal;
  margin-bottom: 2px;
}
#publication-modal .right form #id_publication_title {
  width: 370px;
}
#publication-modal .right form #id_publication_description {
  height: 60px;
  width: 370px;
}
#publication-modal .right form #id_publication_tags {
  width: 370px;
}
#publication-modal .right form .actions {
  margin-top: 20px;
}
#publication-modal .right form .uploading button {
  margin-top: 10px;
}
#publication-modal .right form button {
  margin-right: 15px;
}
#publication-modal .uploaded {
  line-height: 30px;
  color: #666;
  margin-left: 10px;
}
/* DOCUMENTS PAGE
-------------------------------------------------- */
.documents_page .js-upload-publication {
  width: 180px;
}
.documents_page .upload_tool {
  background-color: #FFD;
  border: 1px dashed #CCC;
  margin-bottom: 20px;
  padding: 15px;
  /*
        .chzn-container {
            margin-bottom: 0px;
            vertical-align: -5px;
        }*/

}
.documents_page .upload_tool label {
  color: #444;
  display: inline;
  font-size: 1.1em;
  margin-right: 8px;
}
.documents_page .upload_tool select {
  margin: 0px 20px 0px 0px;
}
.documents_page .breadcrumb {
  margin-bottom: 20px;
}
.documents_page .shelf_selection a.dropdown-toggle {
  width: 120px;
}
.documents_page .shelf_selection .dropdown-menu {
  right: 0;
  left: auto;
  max-width: none;
}
.documents_page .no_publication {
  font-size: 1.1em;
  background-color: #F5F5F5;
  padding: 10px;
}
.documents_page .js-uploading li.uploading {
  background-color: #F3F3F3;
  border-bottom: 1px solid #DDD;
  border-right: 1px solid #DDD;
  height: 50px;
  margin-bottom: 15px;
  padding: 15px;
}
.documents_page .js-uploading li.uploading .filename {
  color: #555;
  margin-bottom: 5px;
}
.documents_page .js-uploading li.uploading .filename em {
  color: #333;
  font-style: normal;
  font-weight: bold;
}
.documents_page .js-uploading li.uploading .js-cancel-upload {
  float: right;
  margin-top: 5px;
}
.documents_page .js-uploading li.uploading .upload_progressbar {
  margin-top: 10px;
}
.documents_page .js-uploading li.uploading .upload_progressbar span {
  vertical-align: top;
}
.documents_page .js-uploading li.uploaded {
  background-color: #c9edc5;
}
.documents_page .js-uploading li.uploaded .file_title {
  margin-top: 7px;
}
.documents_page .js-uploading li.uploaded label {
  color: #333;
  display: inline;
  margin: 0px;
}
.documents_page .js-uploading li.uploaded input {
  display: inline;
  height: 15px;
  margin: 0px 10px 0px 6px;
  vertical-align: 2px;
  width: 400px;
}
.documents_page .js-uploading li.uploaded button {
  vertical-align: 2px;
}
.documents_page .js-uploading li.failed {
  background-color: #f2dede;
}
.documents_page .js-uploading li.failed button {
  margin-top: 4px;
}
.documents_page .documents_sidebar h3 {
  border-bottom: 1px solid #CCC;
  color: #444;
  font-size: 1.2em;
  margin: 0px 0px 10px 0px;
  padding-bottom: 10px;
}
.documents_page .documents_sidebar h3 i {
  vertical-align: -1px;
}
.documents_page .documents_sidebar .no_recent {
  color: #666;
}
.documents_page .documents_sidebar li {
  list-style: disc;
  margin: 0px 0px 10px 15px;
}
.documents_page .documents_sidebar li .uploaded {
  color: #666;
  margin-top: 3px;
}
.documents_page .documents_sidebar li a:link,
.documents_page .documents_sidebar li a:active,
.documents_page .documents_sidebar li a:visited {
  text-decoration: underline;
  color: #725228;
}
.documents_page .documents_sidebar li a:hover {
  color: #bb8c54 !important;
  text-shadow: none;
}
.documents_page .documents_sidebar .content {
  margin-bottom: 15px;
}
.documents_page .documents_sidebar .decide-on-first-month p {
  text-align: justify;
}
.documents_page .documents_shelves h3 {
  border: none;
  color: #666;
  font-size: 1em;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 10px;
  padding-bottom: 0px;
}
.documents_page .documents_shelves h3 em {
  color: #333;
  font-size: 1.1em;
  font-style: normal;
  margin-right: 5px;
}
.documents_page .documents_shelves li.shelf {
  border-radius: 5px;
  border: none;
  background-color: white;
  margin-bottom: 15px;
  padding: 15px 15px 15px 45px;
  box-shadow: 0px 1px 3px #999;
}
.documents_page .documents_shelves li.shelf .shelf_name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
}
.documents_page .documents_shelves li.shelf .shelf_name a:link,
.documents_page .documents_shelves li.shelf .shelf_name a:active,
.documents_page .documents_shelves li.shelf .shelf_name a:visited {
  text-decoration: underline;
  color: #725228;
}
.documents_page .documents_shelves li.shelf .shelf_name a:hover {
  color: #bb8c54 !important;
  text-shadow: none;
}
.documents_page .documents_shelves li.shelf .num_files {
  margin-right: 15px;
  padding: 0px 5px;
}
.documents_page .documents_shelves li.shelf .latest_file {
  color: #666;
}
.documents_page .documents_shelves li.shelf .latest_file a {
  color: #444 !important;
  font-weight: bold;
}
.documents_page .documents_shelves li.shelf .latest_file a:link,
.documents_page .documents_shelves li.shelf .latest_file a:active,
.documents_page .documents_shelves li.shelf .latest_file a:visited {
  text-decoration: underline;
  color: #725228;
}
.documents_page .documents_shelves li.shelf .latest_file a:hover {
  color: #bb8c54 !important;
  text-shadow: none;
}
.documents_page .documents_shelves .no_shelf {
  background-color: #FFC;
  padding: 20px;
}
.documents_page .documents_shelves .no_shelf .notice {
  font-size: 1.2em;
  margin-bottom: 15px;
}
.documents_page .documents_table tr.uploaded_row {
  background-color: #c9edc5;
}
.documents_page .documents_table td.row_checkbox {
  width: 10px;
}
.documents_page .documents_table td.download {
  padding-top: 10px;
  width: 16px;
}
.documents_page .documents_table td.download a {
  text-indent: -9999px;
  display: block;
  width: 16px;
  height: 16px;
  background: url(../images/ui/row_download.png) no-repeat;
  outline: none;
}
.documents_page .documents_table td.download a:hover {
  background-position: right center;
}
.documents_page .documents_table td.file .filename {
  font-weight: bold;
  margin-bottom: 5px;
}
.documents_page .documents_table td.file .filename a:link,
.documents_page .documents_table td.file .filename a:active,
.documents_page .documents_table td.file .filename a:visited {
  text-decoration: underline;
  color: #725228;
}
.documents_page .documents_table td.file .filename a:hover {
  color: #bb8c54 !important;
  text-shadow: none;
}
.documents_page .documents_table td.file .uploaded {
  color: #777;
  font-size: 0.95em;
  margin-bottom: 5px;
}
.documents_page .documents_table td.file .uploaded .processing {
  color: #b57420;
  margin-left: 5px;
}
.documents_page .documents_table td.file .error_message {
  color: #b94a48;
  margin-top: 5px;
  font-weight: bold;
}
.documents_page .documents_table td.file .tag {
  margin-bottom: 5px;
}
.documents_page .documents_table td.file .tag li {
  background-color: #e2e8ce;
  font-size: 0.9em;
  display: inline-block;
  margin-right: 10px;
  border-radius: 3px;
  padding: 0px 5px;
}
.documents_page .documents_table td.row_actions {
  width: 70px;
}
.documents_page .checkbox_actions {
  background: url(../images/ui/checkbox_down_arrow.png) 0px 0px transparent no-repeat;
  height: 62px;
  margin-bottom: 10px;
}
.documents_page .checkbox_actions .inner {
  line-height: 50px;
  background-color: #EEE;
  margin-bottom: 10px;
}
.documents_page .checkbox_actions span.check {
  padding: 8px;
  margin-right: 5px;
}
.documents_page .checkbox_actions a {
  margin-right: 10px;
}
.documents_page .checkbox_actions_selected {
  background: url(../images/ui/checkbox_down_arrow.png) 0px -62px transparent no-repeat;
}
.documents_page .checkbox_actions_selected .inner {
  background-color: #666;
}
/*
.documents_page {
    .content-sidebar {
        padding-top:10px;
        .head {
            margin:15px 0px 5px 10px;
        }
    }

    .upload_dropzone {
        border:1px dashed #CCC;
        padding:20px 0px;
        text-align:center;
        margin-bottom:20px;
        display:none;

        .dragdrop {
            margin-top:15px;
            color:#555;
            font-size:1.2em;
        }
    }

    #select_files_button {
        width:160px;
        text-align:center;
        overflow: hidden;
        position: relative;
        cursor:pointer;

        input {
            -moz-border-bottom-colors: none;
            -moz-border-image: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            -moz-transform: translate(-400px, 0pt) scale(4);
            border-color: transparent;
            border-style: solid;
            border-width: 0 200px 100px 200px;
            cursor: pointer;
            direction: ltr;
            margin: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .checkbox_actions {
        background:url(../images/ui/checkbox_down_arrow.png) 0px 0px transparent no-repeat;
        height:62px;
        
        .inner {
            line-height:50px;
            background-color:#EEE;
            margin-bottom:10px;
        }
        
        span.check {
            padding:8px;
            margin-right:5px;
        }

        a {
            margin-right:10px;
        }
    }

    .checkbox_actions_selected {
        background:url(../images/ui/checkbox_down_arrow.png) 0px -62px transparent no-repeat;

        .inner {
            background-color:#666;
        }
    }

    .upload_progressbar {
        span {
            vertical-align:top;
        }
    }

    .documents-upload-table {
        .error_row {
            background-color:@errorBackground;

            .error_message {
                color:@errorText;
                margin-top:5px;
                font-weight:bold;
            }
        }

        .progress_column {
            width:320px;
        }

        .action_column {
            width:100px;
        }

        .processing {
            color:#b57420;
        }
    }

    .documents-table {
        margin-top:15px;

        tr.uploaded_row {
            background-color:@success-light-background;
        }

        td {
            &.row_checkbox {
                width:10px;
            }

            &.download {
                padding-top:10px;
                width:16px;

                a {
                    text-indent:-9999px;
                    display:block;
                    width:16px;
                    height:16px;
                    background:url(../images/ui/row_download.png) no-repeat;
                    outline:none;

                    &:hover {
                        background-position:right center;
                    }
                }
            }

            &.file {
                .filename {
                    font-weight:bold;
                    margin-bottom:5px;
                }

                .uploaded {
                    color:#777;
                    font-size:0.95em;
                    margin-bottom:5px;

                    .processing {
                        color:#b57420;
                        margin-left:5px;
                    }
                }

                .error_message {
                    color:@errorText;
                    margin-top:5px;
                    font-weight:bold;
                }

                .tag {
                    li {
                        background-color:#e2e8ce;
                        font-size:0.9em;
                        display: inline-block;
                        margin-right:10px;
                        border-radius:3px;
                        padding:0px 5px;
                    }
                }
            }

            &.row_actions {
                width:70px;
            }
        }

        .editing_row {
            display:none;
            border-left:1px solid #CCC;
            border-right:1px solid #CCC;
            background-color:#faf2e9;

            td {
                padding:15px 15px;

                .cover {
                    float:left;
                    width:200px;
                    height:250px;
                    
                    img {
                        border:1px solid #999;
                        vertical-align:middle;
                    }
                }

                .original_filename {
                    margin:0px 0px 20px 230px;

                    em {
                        font-size:1.2em;
                        font-weight:bold;
                        font-style:normal;
                        margin-right:10px;
                    }

                    a {
                        .content_link;
                    }
                }

                form {
                    padding:0px;
                    margin:0px 0px 30px 230px;

                    .item {
                        margin-bottom:10px;

                        input {
                            width:550px;
                        }

                        textarea {
                            width:550px;
                            height:60px;
                        }
                    }

                    .form_actions {
                        button {
                            margin-right:15px;
                        }

                        .replace_file_input {
                            text-indent:-9999px;
                        }

                        .right_actions {
                            float:right;
                            margin-top:6px;

                            a {
                                text-decoration:underline;
                            }

                            a.link {
                                .content_link;
                            }
                        }
                    }

                    .error_message {
                        color:#C30;
                        margin-left:20px;
                    }
                }

                .ui-menu {
                    .ui-menu-item {
                        float:none;

                        a {
                            font-size:1.1em;
                            color:#333;
                            padding:10px 20px;
                            cursor:pointer;
                        }
                    }
                }
            }
        }
    }

    .no_information {
        margin-top:20px;
    }
}
*/
#add-tags-modal form {
  margin: 0px;
  padding: 0px;
}
#add-tags-modal form .item .input {
  margin-left: 0px;
}
#add-tags-modal form .item input {
  width: 450px;
}
/* MODIFY SHELF PAGE
-------------------------------------------------- */
.modify_shelf_page .shelf-icon-controls img {
  vertical-align: middle;
  margin-right: 15px;
}
.modify_shelf_page .shelf-permission-controls {
  margin: 10px 0px 10px;
}
.modify_shelf_page .shelf-permission-controls table td.group {
  color: #444;
  font-size: 1.1em;
  padding: 10px;
}
.modify_shelf_page .shelf-permission-controls table td.group em {
  color: #333;
  font-weight: bold;
  font-style: normal;
}
.modify_shelf_page .shelf-permission-controls table td.permission {
  padding: 10px;
  width: 455px;
}
.modify_shelf_page .shelf-permission-controls table td.permission label {
  display: inline;
  margin-right: 20px;
}
.modify_shelf_page .shelf-permission-controls table td.permission input {
  margin-right: 2px;
}
.modify_shelf_page .shelf-permission-controls table td.remove {
  text-align: center;
  width: 60px;
}
.modify_shelf_page .shelf-permission-controls .user_permissions h4 {
  color: #555;
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 7px;
}
.modify_shelf_page .shelf-permission-controls .user_permissions table {
  margin-top: 15px;
}
.modify_shelf_page .shelf-permission-controls .user_permissions .permission_panel {
  background-color: #FFC;
  border: 1px solid #CCC;
  padding: 15px;
  margin-top: 10px;
}
.modify_shelf_page .shelf-permission-controls .user_permissions .permission_panel .head {
  color: #555;
  font-size: 1.1em;
  margin-bottom: 10px;
}
.modify_shelf_page .shelf-permission-controls .user_permissions .permission_panel .input label {
  display: inline;
  margin-right: 15px;
}
.modify_shelf_page .shelf-permission-controls .user_permissions .permission_panel .permission_actions {
  margin-top: 20px;
}
.modify_shelf_page .shelf-permission-controls .user_permissions .permission_panel .permission_actions button {
  margin-right: 15px;
}
.modify_shelf_page .shelf-permission-controls .user_permissions .permission_panel .user_selection {
  margin-bottom: 15px;
}
.modify_shelf_page .shelf-permission-controls .user_permissions .permission_panel .user_selection select {
  width: 600px;
}
.modify_shelf_page .shelf-permission-controls .user_permission_head {
  color: #777;
  margin-bottom: 7px;
}
.modify_shelf_page .shelf-permission-controls .permissions li {
  background-color: #FFD;
  list-style: disc;
  margin: 0px 0px 10px 20px;
  padding: 5px 10px;
  border: 1px solid #DDD;
}
.modify_shelf_page .shelf-permission-controls .permissions li span {
  margin-left: 15px;
  font-size: 0.9em;
}
.modify_shelf_page .shelf-permission-controls .permissions li span a:link,
.modify_shelf_page .shelf-permission-controls .permissions li span a:active,
.modify_shelf_page .shelf-permission-controls .permissions li span a:visited {
  text-decoration: underline;
  color: #725228;
}
.modify_shelf_page .shelf-permission-controls .permissions li span a:hover {
  color: #bb8c54 !important;
  text-shadow: none;
}
.modify_shelf_page .shelf-permission-controls .permissions li em {
  font-weight: bold;
  font-style: normal;
  color: #444;
}
.modify_shelf_page .shelf-permission-controls .add_permissions {
  color: #333;
  margin: 20px 0px 0px 20px;
}
.modify_shelf_page .shelf-permission-controls .add_permissions a {
  margin-left: 10px;
}
.modify_shelf_page .delete_documents {
  margin: 20px 0px 10px 20px;
}
.modify_shelf_page .delete_documents input {
  display: inline;
  margin-right: 7px;
  vertical-align: 0px;
}
.modify_shelf_page .delete_documents label {
  display: inline;
  color: #C30;
  font-size: 1.1em;
}
#shelf_icons_modal .modal-body li {
  display: inline-block;
}
#shelf_icons_modal .modal-body li a {
  padding: 5px;
  display: block;
}
#shelf_icons_modal .modal-body li a:hover {
  background-color: #89bdd4;
}
.organization_profile_page .statistics ul {
  margin-top: 10px;
}
.organization_profile_page .statistics ul li {
  list-style: disc;
  font-size: 1.1em;
  color: #555;
  margin: 0px 0px 6px 20px;
}
.organization_users_page .user_invitations {
  border: 1px dashed;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 20px;
}
.organization_users_page .user_invitations a {
  color: #444 !important;
}
.organization_users_page .user_invitations a:link,
.organization_users_page .user_invitations a:active,
.organization_users_page .user_invitations a:visited {
  text-decoration: underline;
  color: #725228;
}
.organization_users_page .user_invitations a:hover {
  color: #bb8c54 !important;
  text-shadow: none;
}
.organization_users_page .chzn-container {
  width: 510px !important;
}
.organization_users_page .chzn-container .chzn-drop {
  width: 508px !important;
}
.organization_users_page form .controls .input-normal {
  width: 500px;
}
/* *************** UI *************** */
.textboxlist input {
  box-shadow: none !important;
}
.textboxlist input[disabled] {
  background-color: #FFF;
  border-color: #FFF;
  cursor: text;
}
.textboxlist .textboxlist-autocomplete-suggest {
  width: 1px;
}
.pagination_bar {
  margin: 30px 0px;
  text-align: center;
}
.pagination_bar .goto {
  width: 76px;
  height: 26px;
  background: url(../images/pagination/nav.png) no-repeat;
  text-align: center;
  display: inline-block;
  line-height: 26px;
  font-size: 0.9em;
  cursor: default;
}
.pagination_bar .prev {
  margin-right: 10px;
}
.pagination_bar .next {
  margin-left: 10px;
}
.pagination_bar .page {
  width: 36px;
  height: 26px;
  background: url(../images/pagination/page.png) center top no-repeat;
  text-align: center;
  display: inline-block;
  line-height: 26px;
  margin: 0px 3px;
  cursor: default;
}
.pagination_bar .current {
  background-position: center bottom;
  font-weight: bold;
  color: #FFF;
}
.pagination_bar a:link,
.pagination_bar a:visited,
.pagination_bar a:active {
  text-decoration: none;
  color: #725228;
}
.pagination_bar a.page:hover {
  background-position: center bottom;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}
.pagination_bar a.goto:hover {
  background-position: center bottom;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}
.documents_sidebar .inner-content {
  background: #EFECE0;
  background: -moz-linear-gradient(90deg, #efece0 0%, #fdfaed 66%);
  background: -webkit-linear-gradient(90deg, #efece0 0%, #fdfaed 66%);
  background: -o-linear-gradient(90deg, #efece0 0%, #fdfaed 66%);
  background: -ms-linear-gradient(90deg, #efece0 0%, #fdfaed 66%);
  background: linear-gradient(90deg, #efece0 0%, #fdfaed 66%);
  overflow: hidden;
  box-shadow: 0 0 6px #B6B6B6;
  -webkit-box-shadow: 0 0 6px #B6B6B6;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.action_title {
  font-size: 18px;
  font-style: italic;
}
.summarize-form h4 {
  margin-top: 20px;
}
.summarize-form li,
.summarize-form p {
  color: #555;
}
.summarize-form .summarize_total {
  width: 500px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background-color: white;
  margin-bottom: 15px;
  padding: 5px 15px 20px;
  box-shadow: 0px 1px 3px #999;
}
.summarize-form .summarize_total .help-text {
  font-style: italic;
  font-size: 12px;
  margin-top: 20px;
  display: block;
}
.summarize-form .form-actions {
  padding-left: 0;
}
.invite-email {
  padding-bottom: 20px;
  border-bottom: 1px dashed #ccc;
}
