@linkColor: #08C;

@success-light-background: #c9edc5;

@errorText: #b94a48;
@errorBackground: #f2dede;

.content_link() {
    &:link, &:active, &:visited {
        text-decoration:underline;
        color:@linkColor;
    }

    &:hover {
        background-color:@linkColor !important;
        color:#FFF !important;
        text-shadow:none;
    }
}

.danger_link() {
    color:#C30;
    text-decoration:underline;

    &:hover {
        background-color:#C30;
        color:#FFF;
    }
}

/* DEFAULT
==================================================================================================== */

ul {
    margin:0px;
    padding:0px;
}

li {
    list-style:none;
}

a.btn:visited {
    color:#333333;
}

.clear {
    clear:both;
}

a.danger {
    color:#C30;

    &:hover {
        background-color:#C30;
        color:#FFF;
    }
}

.nav-tabs {
    a {
        outline: none;
    }
}

.chzn-container {
    margin-bottom: 10px;
}

/* PAGE
==================================================================================================== */

body {
    background:url(/static/images/bg.png);
}

.navbar {
    height:50px;
    position:relative;

    .navbar-inner {
        background:url(/static/images/bg-topbar.png);
        padding-top:5px;

        .container {
            margin:0px;
            width:auto;
        }
    }

    h1 {
        margin-left:10px;

        a {
            float: left;
            display: block;
            padding: 8px 30px 12px 8px;
            color: #ffffff;
            font-size: 20px;
            font-weight:normal;
            line-height: 1;
        }

        span {
            color:#CCC;
        }
    }

    li a {
        color:#EEE !important;
        font-size:1.1em;
        padding:12px 15px 8px !important;
        margin-right:10px;
    }

    li.active a {
        color:#FFF !important;
        background-color:#272e34 !important;
    }

    li a:hover {
        background-color:#272e34 !important;
    }

    a.logout {
        font-size:1em !important;
        color:#CCC !important;
    }

    .dropdown-menu {
        background-color:#555 !important;

        a {
            color:#FFF !important;
            text-decoration:none !important;
            outline:0;
        }
    }

    .accounts {
        padding: 12px 0px 8px;

        a {
            display:inline;
        }
    }
}

.authenticated-container {
    margin-top:20px;
}

.container-fluid {
    .content {
        padding:1px;
        border:1px solid #EEE;
        background-color:#DDD;

        .inner-content {
            border:1px solid #BBB;
            padding:15px;
            background-color:#FFF;
        }
    }

    h2 {
        margin-bottom:20px;
        padding-bottom:7px;
        border-bottom:3px double #BBB;
        font-size:1.8em;

        span {
            color:#666;
            margin-right:8px;
        }
    }

    h3 {
        margin:20px 0px 15px;
        line-height:1;
        font-size:1.4em;
        color:#11717a;
        font-weight:normal;

        span {
            color:#666;
            font-size:0.9em;
        }
    }

    .breadcrumb {
        margin-bottom:10px;

        a {
            .content_link;
        }
    }

    .page_actions {
        margin-bottom:25px;

        a, button {
            margin-right:15px;
            vertical-align:top;
        }

        a.btn-primary {
            color:#FFF;

            &:visited, &:active {
                color:#FFF;
            }
        }
    }
}

/* COMPONENT
==================================================================================================== */

/* No Information */

.no_information {
    font-size:1.1em;
    background-color:#F5F5F5;
    padding:10px;
}

/* Modal */

.modal {
    .modal-header {
        padding:10px 15px;
    }

    h3 {
        em {
            color:#369;
            font-style:normal;
        }
    }

    .modal-error {
        background-color: #e56068;
        color: #FFF;
        padding: 8px 15px;

        i {
            vertical-align: -2px;
        }
    }

    .modal-message {
        padding:10px 15px;
        background-color:#C30;
        color:#FFF;
        border-bottom:1px solid #EEE;
    }

    .modal-footer {
        button {
            margin-left:15px;
        }
    }
}

#message_modal {
    p {
        margin-top:20px;
        font-size:1.1em;
    }
}

/* Alert */

.alert {
    margin:0px 20px 15px;

    p {
        font-size:1.1em;
        padding:5px 45px;
        vertical-align:middle;
        margin:0px;
    }
}

.alert-success p {
    background:url(../images/messages/success.png) 5px 50% no-repeat;
}

.alert-warning p {
    background:url(../images/messages/warning.png) 5px 50% no-repeat;
}

.alert-error p {
    background:url(../images/messages/error.png) 5px 50% no-repeat;
}

/* Form */

button, a {
    i {
        vertical-align:-2px !important;
    }
}

form {
    //padding: 0px 20px 10px;

    .control-group {
        padding: 0px 0px 10px 20px;

        label.control-label {
            color: #333;
            font-size: 1.1em;
            font-weight: bold;
            margin-bottom: 8px;
        }

        .row-controls {
            li {
                margin: 0px 0px 7px 10px;

                label {
                    color: #444;
                    display: inline;
                    font-size: 1.1em;
                    vertical-align: middle;
                }

                input {
                    margin-right: 4px;
                    display: inline;
                    vertical-align: middle;
                }
            }
        }

        .fixed-controls {
            font-size:1.1em;
            font-style: italic;
            line-height:18px;
        }
    }

    .controls {
        .input-normal {
            width: 350px;
        }

        .input-large {
            width: 500px;
        }
    }

    .item {
        //margin-bottom:20px;
    }

    label {

    }

    label.checkbox {
        color:#444;
        margin-bottom:7px;
    }

    .form-actions {
        margin-top:30px;

        button, a {
            margin-right:15px;
            vertical-align:middle;
        }

        a {
            .content_link;
        }

        a.danger {
            color:#C30;

            &:hover {
                background-color:#C30;
                color:#FFF;
            }
        }
    }

    ul.errorlist {
        li {
            color:#c30;
        }
    }

    .fixed-value {
        font-size:1.1em;
        line-height:21px;
    }

    .input {
        label.checkbox {
            display:inline;
            margin-left:0px;
            padding-left:0px;
        }
    }

    .radio input[type="radio"], .checkbox input[type="checkbox"] {
        float: none;
        margin-left: 0px;
        display: inline;
        margin-right:7px;
    }

    .row-inputs {
        li {
            margin:0px 0px 7px 0px;
            line-height:25px;
        }

        label {
            color:#444;
            display:inline;
        }

        input {
            margin-right:4px;
            display:inline;
            vertical-align:middle;
        }

        .errorlist {
            margin-bottom:20px;
        }
    }



}

table {
    th.edit_column {
        width:70px;
    }

    th.datetime_column {
        width:170px;
    }

    th.checkbox_column {
        width:10px;
    }

    td.row_actions {
        text-align:center;

        a.link {
            .content_link;
        }
    }

    tr.checked td {
        background-color:#FFD !important;
    }
}

.delete-panel {
    border:1px dashed #CCC;
    padding:15px 15px 15px 45px;
    margin-bottom:20px;
    background:url(/static/images/icons/danger_icon.png) 15px 50% no-repeat;

    a.danger:link, a.danger:active, a.danger:visited {
        text-decoration:underline;
        color:#666;
    }

    a.danger:hover {
        background-color:#C30;
        color:#FFF;
        text-shadow:none;
    }
}
