@mixin box-gradient-plan {
	background: rgb(239, 236, 224);
	background: -moz-linear-gradient(90deg, rgb(239, 236, 224) 33%, rgb(253, 250, 237) 91%);
	background: -webkit-linear-gradient(90deg, rgb(239, 236, 224) 33%, rgb(253, 250, 237) 91%);
	background: -o-linear-gradient(90deg, rgb(239, 236, 224) 33%, rgb(253, 250, 237) 91%);
	background: -ms-linear-gradient(90deg, rgb(239, 236, 224) 33%, rgb(253, 250, 237) 91%);
	background: linear-gradient(90deg, rgb(239, 236, 224) 33%, rgb(253, 250, 237) 91%);
}
@mixin box-shadow {
	box-shadow: 0 0 6px #B6B6B6;
	-webkit-box-shadow: 0 0 6px #B6B6B6;
}
@mixin font-not-light {
	font-family: Helvetica Neue, HelveticaNeue-Light, 'Helvetica Neue Light', Arial, 'Lucida Grande', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}
body {
	padding: 0;
	margin: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
	color: #725228;
	line-height: 1.5;
}
a {
	color: #F87631;
	text-decoration: none;
}
h2 {
	color: #8a673b;
	text-shadow: -1px 0px 0px #383304;
	font-size: 1.9em;
	font-family: Georgia, Serif;
	letter-spacing: 2px;
	font-weight: bold;
}

@font-face {
    font-family: 'db_moment_xregular';
    src: url('../font/db_moment_x-webfont.eot');
    src: url('../font/db_moment_x-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/db_moment_x-webfont.woff') format('woff'),
         url('../font/db_moment_x-webfont.ttf') format('truetype'),
         url('../font/db_moment_x-webfont.svg#db_moment_xregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ---------------------- Header  ----------------------*/
#header {
	position: fixed;
	width: 100%;
	height: 135px;
	background: #f9f9f4;
	z-index: 9999;
}
#headerWrap {
	overflow: hidden;
	width: 960px;
	margin: 20px auto 0;
	background: url('../images/homepage/border-header.png') no-repeat center bottom;
}
#logo {
	float: left;
	margin-bottom: 10px;
	h1 {
		background: url('../images/logo.png') no-repeat;
		display: block;
		height: 75px;
		width: 245px;
		text-indent: -9999em;
		overflow: hidden;
		margin-top: 10px;
	}
}
/* ---------------------- Navigation  ----------------------*/
#nav {
	float: right;
	margin-top: 40px;
	.menu-big {
		li {
			list-style: none;
			float: left;
			margin-left: 45px;
			font-size: 1.1em;
		 a {
			background-repeat: no-repeat;
			background-position: center 34px;
			display: block;
				&.active, &:hover {
					color: #725228;
				}
			}
		}
	}
}

/* ---------------------- Introduction  ----------------------*/
.sec1, .plan {
	padding-top: 90px;
	background-color: #f9f9f4;		
	position: relative;
	z-index: 99;
	h3 { font-style: italic; }
}
.sec-wrapper, .plan-wrapper, .register-wrapper {
	width: 960px;
	margin: 0 auto;
	text-align: center;
	padding: 90px 0 70px;
	h2 {
		margin-bottom: 20px;
	}
	h3 {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-size: 1.3em;
		font-weight: normal;
		margin-bottom: 20px;
	}
}
.intro-images {
	position: relative;
	.app-store {
		position: absolute;
		right: 70px;
		bottom: 33px;
	}
}

/* ---------------------- Features ----------------------*/
/* body, .bg-pattern, .sec1, .sec3, #header, .feature-item { background: url('../images/homepage/bg-repeat.png') repeat; } */
/* body, #header, .bg-pattern { background: url('../images/homepage/bg-repeat.png') repeat; } */
.sec2 {
	background: url('../images/homepage/feature-head-border.png') no-repeat center -20px;
	background-color: #f9f9f4;
	.sec-wrapper {
		padding-top: 140px;
	}
/*
	width: 960px;
	margin: 0 auto;
*/
}
.feature-desc {
	overflow: hidden;
	width: 510px;
	margin-left: 30px;
	background: url('../images/homepage/feature-list-bottom.png') no-repeat center bottom;
	padding-bottom: 100px;
	margin: 0 auto;
	li {
		background: url("../images/homepage/icon.png") no-repeat 0 -91px;
		list-style: none;
		float: left;
		padding-left: 23px;
		font-size: 1.2em;
		margin-right: 20px;
		&.nav-item-3 { margin-right: 0; }
		&.nav-item-4 { margin-left: 25px; }
	}
}
.features, .enterprise-features, .feature-item {
	overflow: hidden;
	width: 960px;
	margin: 0 auto 0;
	h3 {
		font-size: 1.4em;
		font-weight: normal;
		margin: 20px 0 40px;
		text-align: center;
	}
 ul {
 	overflow: hidden;
 	width: 960px;
 }	
 li {
	 list-style: none;
	 float: left;
	 width: 314px;
	 margin-bottom: 20px;
	 padding: 10px 0 0;
	 text-align: center;
	 .showr {
		background: url('../images/homepage/feature1_3.png') no-repeat 0px 0px;
		display: block;
		width: 134px;
		height: 100px;
		color: #725228;
		padding-top: 140px;
		margin: 0 auto;
	  &:hover, &.active {
		  background-position: -230px 0;
	  }
	 }
 	 .showr-4, .showr-5, .showr-6 {
	 	 background: url('../images/homepage/feature4_6.png') no-repeat 0 0;
	 	  &:hover, &.active {
			  background-position: -230px 0;
		  }
		}
	 .showr-2, .showr-5, .showr-8 {
		  background-position: 0 -246px;
		  &:hover, &.active {
			  background-position: -230px -246px;
		  }
	  }
 	 .showr-3, .showr-6, .showr-9 { 
			background-position: -1px -492px;
		  &:hover, &.active {
			  background-position: -231px -492px;
		  }
		}
	.showr-7, .showr-8, .showr-9 {
		background-image: url('../images/homepage/feature-7-9.png');
		background-repeat: no-repeat;
	}
 }
 .feature-item-1, .feature-item-4, .feature-item-7 {
	 border-left: none;
 }
 .feature-item-3, .feature-item-6, .feature-item-9 {
	 border-right: none;
 }
}
.enterprise-features {
	margin-bottom: 40px;
}
.feature1_3 {
	border-bottom: 1px solid white;
	background: url('../images/homepage/border-header.png') no-repeat center bottom;
/* 	ul {border-bottom: 1px solid #D4CCAC;} */
}
.feature4_6 {
/* 	border-bottom: 1px solid #D4CCAC; */
	margin-top: 50px;
}

/* ---------------------- Features item 1-9  ----------------------*/
.pop-wrapper {
	width: 960px;
	margin: 0 auto;
	position: relative;
	padding-top: 60px;
	img {
		float: left;
		margin-right: 30px;
		box-shadow: 0 0 4px #A3A3A3;
		
	}
	h3 {
		font-size: 1.6em;
		font-family: Georgia, Serif;
		font-weight: bold;
		letter-spacing: 1px;
		text-shadow: 0 1px 0 #fff;
		margin-bottom: 20px;
	}
	.desc-pop {
		line-height: 27px;
		font-size: 1.1em;
		margin-bottom: 20px;
		text-shadow: 0 1px 0 #fff;
	}
	&.feature_4-6 {
		height: 340px;
	} 
}
.feature-item-4 {
	clear: both;
}
.after-click {
	background-color: #f1eae1;
	width: 100%;
	height: 400px;
	margin: 0 0 40px;
	box-shadow: inset 0px 1px 8px #7E7979;
	&.feature-7, &.feature-8, &.feature-9 {
		margin-bottom: 0;
	}
	&.privacy { 
		height: 480px; 
		li { list-style-position: inside; }
	}
}
.hidr {
	display: block;
	margin: 0 auto;
	width: 54px;
	text-align: center;
	background: url('../images/homepage/close-button.png') no-repeat 0 0;
	height: 42px;
	text-indent: -999em;
	margin-bottom: 35px;
	position: absolute;
	top: 0;
	&:hover {
		background-position: -90px 0;
	}
	&.hidr-1, &.hidr-4, &.hidr-7 { left: 127px;	}
	&.hidr-2, &.hidr-5, &.hidr-8  { left: 445px;	}
	&.hidr-3, &.hidr-6, &.hidr-9  { right: 145px;	}
	&.hidr-4, &.hidr-5, &.hidr-6 { 
		background: url('../images/homepage/close-button-rotate.png') no-repeat -90px 0;
		bottom: 0;
		top: auto;
		margin-bottom: 0;
		&:hover {
			background-position: 0 0;
		}
	}
}


/* ---------------------- Price & Plan  ----------------------*/
.sec3 {
	background: #f9f9f4;
	padding: 0px 0 30px;
	.sec-wrapper {
		padding-top: 60px;
	}
	ul {
		overflow: hidden;
		padding: 0;
		width: 960px;
		li {
			list-style: none;
			background: rgb(239, 236, 224);
			background: -moz-linear-gradient(90deg, rgb(239, 236, 224) 0%, rgb(253, 250, 237) 66%);
			background: -webkit-linear-gradient(90deg, rgb(239, 236, 224) 0%, rgb(253, 250, 237) 66%);
			background: -o-linear-gradient(90deg, rgb(239, 236, 224) 0%, rgb(253, 250, 237) 66%);
			background: -ms-linear-gradient(90deg, rgb(239, 236, 224) 0%, rgb(253, 250, 237) 66%);
			background: linear-gradient(90deg, rgb(239, 236, 224) 0%, rgb(253, 250, 237) 66%);		
/* 			background-color: #f7f3e7; */
			overflow: hidden;
			box-shadow: 0 0 6px #B6B6B6;
			-webkit-box-shadow: 0 0 6px #B6B6B6;
			border-radius: 3px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			width: 302px;
			margin: 2px 22px 2px 2px;
			float: left;
			&.last { margin-right: 0;}
			&.peryear {
				.price { 
					width: 200px;
					padding: 15px 30px;
				}
				h3 { background-color: #90a900; border-bottom: 1px solid #6b760e; }
				.more {
					color: white;
					background-color: #798D07;
					background-repeat: repeat-x;
					background-image: -khtml-gradient(linear,left top,left bottom,from(#B7D510),to(#798D07));
					background-image: -moz-linear-gradient(top,#B7D510,#798D07);
					background-image: -ms-linear-gradient(top,#B7D510,#798D07);
					background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#B7D510),color-stop(100%,#798D07));
					background-image: -webkit-linear-gradient(top,#B7D510,#798D07);
					background-image: -o-linear-gradient(top,#B7D510,#798D07);
					background-image: linear-gradient(top,#B7D510,#798D07);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B7D510',endColorstr='#798D07',GradientType=0);
					text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
					border-color: #B7D510 #798D07 #546107;
					border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
					&:hover { 
						background-image: -khtml-gradient(linear,left top,left bottom,from(#B4CF16),to(#798D07));
						background-image: -moz-linear-gradient(top,#B4CF16,#798D07);
						background-image: -ms-linear-gradient(top,#B4CF16,#798D07);
						background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#B4CF16),color-stop(100%,#798D07));
						background-image: -webkit-linear-gradient(top,#B4CF16,#798D07);
						background-image: -o-linear-gradient(top,#B4CF16,#798D07);
						background-image: linear-gradient(top,#B4CF16,#798D07);
					}
				}
			}
			&.permonth {
				.price { padding: 15px; }
				h3 { background-color: #448b0b; border-bottom: 1px solid #2a5607; }		
				.more { 
					color: white;
					background-color: #448B0B;
					background-repeat: repeat-x;
					background-image: -khtml-gradient(linear,left top,left bottom,from(#54AA0F),to(#316D02));
					background-image: -moz-linear-gradient(top,#54AA0F,#316D02);
					background-image: -ms-linear-gradient(top,#54AA0F,#316D02);
					background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#54AA0F),color-stop(100%,#316D02));
					background-image: -webkit-linear-gradient(top,#54AA0F,#316D02);
					background-image: -o-linear-gradient(top,#54AA0F,#316D02);
					background-image: linear-gradient(top,#54AA0F,#316D02);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54AA0F',endColorstr='#316D02',GradientType=0);
					text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
					border-color: #54AA0F #316D02 #546107;
					border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
					&:hover { 
						background-image: -webkit-linear-gradient(top,#569B1E,#316D02);
					}
				}
			}
			&.terms {
			margin-right: 0;
				h3 { 
					color: #8A673B;
					text-shadow: 0 1px 0 #DBD6D6;
					margin-bottom: 0;
					padding: 70px 0 0;
					margin-bottom: 20px;
					font-size: 25px;
					padding-top: 39px;
				}
				.more { 
					margin-top: 45px;
					color: white;
					background-color: #F87631;
					background-repeat: repeat-x;
					background-image: -khtml-gradient(linear,left top,left bottom,from(#FCA374),to(#F77632));
					background-image: -moz-linear-gradient(top,#FCA374,#F77632);
					background-image: -ms-linear-gradient(top,#FCA374,#F77632);
					background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FCA374),color-stop(100%,#F77632));
					background-image: -webkit-linear-gradient(top,#FCA374,#F77632);
					background-image: -o-linear-gradient(top,#FCA374,#F77632);
					background-image: linear-gradient(top,#FCA374,#F77632);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCA374',endColorstr='#F77632',GradientType=0);
					text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
					border-color: #FCA374 #F77632 #546107;
					border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
					&:hover { 
						background-image: -webkit-linear-gradient(top,#F19E71,#F77632);
					}
				}

			}
		}
	}
	.desc {
		padding: 10px 40px 15px;
		margin: 0;
		text-align: left;
		color: #8a673b;
		line-height: 25px;
		font-size: 1.1em;
	}
	.type {
		padding: 15px 0;
		font-size: 1.2em;
		text-shadow: 0 1px 0 #C2BE66;
		margin: 0 10px;
	}
	.price {
		margin: 0 auto;
		width: 230px;
		color: #8a673b;
		line-height: 40px;
		text-align: left;
		font-size: 1.3em;
		border-bottom: 1px solid rgba(190, 185, 177, 0.87);
		span { 
			font-size: 0.65em;
			font-size: 1.2em;
			float: left;
			text-align: center;
		}
	}
	h2 {
		margin-bottom: 50px;
	}
	h3 {
		padding: 15px 0px;
		color: white;
		font-weight: normal;
		text-shadow: 0 1px 0 #7C7373;
		font-size: 1.3em;
		margin-bottom: 0;
	}
	.more {
		display: block;
		width: 150px;
		margin: 0 auto 20px;
		padding: 5px 10px;
		background-color: #90A900;
		border-radius: 5px;
		color: white;
	}
}
.want, .need, .sign-up {
	font-weight: bold;
	color: #FE6035;
}

/* ---------------------- Contact us  ----------------------*/
.sec4 {
	border-top: 1px solid rgba(190, 185, 177, 0.87);
	background-color: #F1EAE1;
	.sec-wrapper { padding-top: 0; }
	ul {
		width: 690px;
		margin: 0 auto 70px;
		overflow: hidden;
		li {
			list-style: none;
			padding-top: 85px;
			float: left;
			width: 230px;
			overflow: hidden;
			a { color: #593b13; }
		}
	}
	.desc {
		clear: both;
		width: 85px;
		margin: 15px auto 0;
		font-size: 0.9em;
	}
	.keep-up-date-img, .get-help-img, .follow-us {
		display: block;
		background: url('../images/homepage/icon-contact-us.png') no-repeat 0 0;
		width: 41px;
		height: 41px;
		margin: 0 auto 15px;
		&:hover { background-position-y: -100px; }
	}
	.get-help-img {
		background-position: -104px 0;
	}
	.follow-us {
		background-position: -193px 0;
	}
	.contact-us {
		font-size: 1.2em;
		margin-bottom: 20px;
	}
}

/* ---------------------- Small Header ----------------------*/
#header.small-header {
	height: 55px;
	#headerWrap {
		margin-top: 0;
		height: 55px;
	}
	#logo {
		margin-top: 8px;
		h1 {
			background: url("../images/logo-small.png") no-repeat;		
			height: 40px;
			width: 40px;
			margin: 0;
		}
	}
	#nav {
		margin-top: 15px;
		ul {
			li {
				a {
					background-position: center 25px;
					&.active, &:hover {
						/* font-weight: bold; */	
						background-position: center -75px;
						&.nav-item-2 {
							background-position: center -175px;
						}
						&.nav-item-3 {
							background-position: center -275px;
						}
						&.nav-item-4 {
							background-position: center -375px;
						}
					}
				}
			}
		}
	}
}
/* Setup Page */
.gradient-box {
	@include box-gradient-plan;
	@include box-shadow;
	overflow: hidden;
	padding: 29px 30px;
	margin-bottom: 30px;
	margin-left: 3px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
#plan-form {
	width: 899px;
	.input {
		float: left;
		width: 580px;
		text-align: left;
		font-size: 1.6em;
		text-shadow: 0 1px 0 white;
		span {
			display: block;
			float: left;
			margin-right: 15px;
		}
		input {
			border: 6px solid #DDD8C4;
			border-radius: 10px;
			padding: 4px 0;
			font-size: 0.8em;
			text-align: center;
		}
		.amount {
			margin-bottom: 20px;
		}
	}
	.radio {
		input { border: none; }
	}
	.register-box {
		float: left;
		width: 299px;
		background: #FAB24F;
		padding: 40px 10px;
		border-radius: 5px;
		.text {
			font-size: 1.2em;
			text-shadow: 0 1px 1px white;
			display: block;
		}
		input {
			border: 4px solid #dd9325;
			border-radius: 10px;
			padding: 5px 10px;
			font-size: 1.2em;
			margin: 20px;
			text-align: center;
		}
		.register {
			background: #BE7D1C;
			padding: 5px 60px;
			border-radius: 5px;
			color: white;
			font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
			&:hover { background: #966722; }
		}
		button{
			.register {
				border: none;
				font-size: 14px;
	    	}
	    }
	}
}	
.plan {
	h2 { margin-bottom: 70px; }
	@include font-not-light;
	ul {
		width: 960px;
		overflow: hidden;
		li {
			list-style: none;
			width: 304px;
			float: left;
			margin-right: 20px;		
			a { 
				margin: 0 auto;
				text-indent: -9999em;
				display: block;
				.terms, .privacy, .faq {
					background: url('../images/homepage/help-icon2.png') no-repeat -814px 0;
					width: 312px;
					height: 89px;	
					margin-bottom: 15px;
				}
				.privacy { background-position: -407px 0; }
				.faq { background-position: 0 0; }
				&:hover {
					.terms, .privacy, .faq {
						background-position: -814px -180px;
					}
					.privacy {
						background-position: -407px -180px; 
					}
					.faq {
						background-position: 0 -180px; 
					}
				}
			}
		}
		.first { margin-left: 3px; }
		.last { margin-right: 0; }
	}
}
.radio {
	float: left;
	font-size: 0.8em;
}
/* Register Page */
.register {
	@include font-not-light;
}
.register-wrapper {
	width: 960px;
	overflow: hidden;
	h2 { padding: 70px 0 30px; }
	.title {
		margin-bottom: 20px;
	}
}
#register-form {
	width: 565px;
	float: left;
	text-align: left;
	line-height: 3em;
	text-shadow: 0 1px 1px white;
	input[type="text"] {
		width: 300px;
		padding: 5px 10px;
	}
	select {
		font-size: 16px;
	}
}
.desc-contract, .desc-free {
	width: 285px;
	margin-right: 3px;
	text-shadow: none;
	border-radius: 5px;
	float: right;
	text-align: left;
	background-color: #ffae35;
	padding: 20px;
	margin-bottom: 30px;
	font-size: 1.2em;
	color: white;
	.desc,.list-feature {
		font-size: 1.5em;
		color: black;
		text-shadow: 0 1px 1px white;
	}
	.list-feature {
		font-size: 0.9em;
		margin: 0 20px;
	}
}
.desc-free {
	text-shadow: none;
	background-color: #f7f6f6;
	@include box-shadow;
	margin-right: 3px;
	color: #5f5f5f;
	font-size: 0.9em;
}
.feature-desc-list {
 position: relative;
 height: 400px;
 overflow: hidden;
}

.after-click {
 position: absolute;
 top: 0;
 left: 0;
}

.help-block {
	font-size: 12px;
	line-height: 20px;
	font-style: italic;
	.example {
		color: #FFAE35;
		font-size: 15px;
	}
}