@import "../libs/bootstrap/lib/variables.less";

@publication-published: #d8e0bd;

@publication-unfinished: #e2c3b5;
@publication-unfinished-bg: #f0e1da;

@publication-scheduled: #abced5;
@publication-scheduled-bg: #deecee;

@publication-unpublished: #CCC;
@publication-unpublished-bg: #F3F3F3;

.content_link() {
    &:link, &:active, &:visited {
        text-decoration:underline;
        color:@linkColor;
    }

    &:hover {
        background-color:@linkColor !important;
        color:#FFF !important;
        text-shadow:none;
    }
}

.danger_link() {
    color:#C30;
    text-decoration:underline;

    &:hover {
        background-color:#C30;
        color:#FFF;
    }
}

.schedule_date_styles() {
    font-size:1.2em;
    color:#444;

    .yui_date_picker_panel {
        margin-left:5px;
    }
}

.schedule_time_styles() {
    font-size:1.2em;
    color:#444;

    select {
        width:60px;
        margin:0px 5px;
    }
}

.publication_row_styles() {
    padding:15px 0px;
    min-height:95px;

    .cover {
        width:70px;
        height:85px;
        background-color:#D34;
        float:left;
    }

    .right {
        margin-left:85px;
    }

    .name {
        a {
            .content_link;
        }

        font-size:1.2em;
        color:#000;
    }

    .details {
        color:#555;
        margin-top:7px;
    }

    .publish_status {
        margin-top:7px;
        color:#555;
    
        span {
            color:#000;
            padding:0px 6px;
        }

        .unpublished {
            background-color:@publication-unpublished;
        }

        .scheduled {
            background-color:@publication-scheduled;
        }

        .published {
            background-color:@publication-published;
        }

        .unfinished {
            background-color:@publication-unfinished;
        }
    }

    .links {
        margin-top:15px;

        a, button {
            margin-right:15px;
        }

        a.btn.small {
            padding:5px 9px;
            font-size:12px;
        }

        .link {
            &:link, &:active, &:visited {
                text-decoration:underline;
                color:#666;
            }

            &:hover {
                background-color:@linkColor !important;
                color:#FFF !important;
                text-shadow:none;
            }
        }
    }

    .statistics {
        float:right;
        width:300px;
        height:85px;
        background-color:#CCC;
    }
}

.publication_list_styles() {
    li.publication {
        margin-bottom:10px;
        border-bottom:1px dashed #999;

        .publication_row_styles;
    }

    .unfinished_list {
        background-color:@publication-unfinished-bg;
        border-top:8px solid @publication-unfinished;

        li {
            padding:15px;
        }
    }

    
}

/* *************** Base *************** */

body {
    background:url(/static/images/bg.png);
}

.topbar {
    height:50px;
    position:absolute;
    border-bottom:2px solid #DDD;

    .fill {
        background:url(/static/images/bg-topbar.png);
        padding-top:10px;
    }

    h1 {
        font-size:18px;
        position:relative;
        line-height:18px;
        margin:0px;

        a {
            float: left;
            display: block;
            padding: 8px 20px 12px;
            margin-left: -20px;
            color: #ffffff;
            font-size: 20px;
            font-weight: 200;
            line-height: 1;
        }

        span {
            color:#CCC;
        }
    }

    li a {
        text-decoration:underline !important;
    }

    li.active a {
        background-color:#272e34 !important;
    }

    .accounts_prefix {
        padding:12px 10px 9px 0px;
        color:#CCC;
        margin-left:10px;
    }

    .accounts {
        line-height: 19px;
        padding: 10px 0px 11px;

        &:hover {
            background-color:#272e34 !important;
        }

        a {
            font-weight:normal;
            display:inline;
            color:#FFF;
            text-decoration:none !important;
        }
    }
}

.body_authenticated {
    margin:75px 20px 0px;
}

.container-body {
    padding:0px;
}

.container-fluid {
    .sidebar {
        left:0px;
        width:230px;

        .head {
            font-weight:bold;
            color:#777;
            font-size:1.2em;
            margin:0px 0px 10px 10px;

            a {
                color:#777;
            }
        }

        ul li {
            margin-bottom:5px;
            
            padding:10px 10px 10px 25px;

            a {
                color:#444;
                font-size:1.1em;
                margin-left:6px;
                display:block;
            }

            &.publication {background:url(/static/images/menu/publication.png) 10px 50% transparent no-repeat;}
            &.publisher {background:url(/static/images/menu/publisher.png) 10px 50% transparent no-repeat;}
            &.shelf {background:url(/static/images/menu/shelf.png) 10px 50% transparent no-repeat;}
            &.user {background:url(/static/images/menu/user.png) 10px 50% transparent no-repeat;}
            &.manage {background:url(/static/images/menu/manage.png) 10px 50% transparent no-repeat;}

            &.add {
                background:url(/static/images/menu/add.png) 10px 50% transparent no-repeat;
                border:1px dashed #CCC;
                margin-top:15px;
            }

            &.active {
                background-color:#FFF;
                border:1px solid #CCC;
                
                a {
                    color:#444;
                    font-weight:bold;
                }
            }
        }
    }

    .content-full {
        margin:0px;
    }

    .content, .content-full {
        margin-right:0px;
        padding:1px;
        border:1px solid #EEE;
        background-color:#DDD;

        .content-inner {
            border:1px solid #BBB;
            padding:15px;
            background-color:#FFF;
        }

        h2 {
            margin-bottom:20px;
            padding-bottom:7px;
            border-bottom:3px solid #BBB;
            font-size:1.8em;

            /*
            div {
                color:#666;
                font-size:0.60em;
                font-weight:normal;
                line-height:1;
                margin:10px 0px;
            }*/

            span {
                color:#666;
                margin-right:8px;
            }
        }

        h3 {
            margin:20px 0px 15px;
            line-height:1;
            font-size:1.4em;
            color:#11717a;
            font-weight:normal;

            span {
                color:#666;
                font-size:0.9em;
            }
        }

        .header_actions {
            float:right;
        }

        .breadcrumb {
            background:#FAFAFA;
            margin-bottom:10px;

            a {
                .content_link;
            }
        }

        .page_actions {
            margin-bottom:25px;
            a, button {
                margin-right:15px;
            }
        }
    }
}

/* *************** Buttons *************** */

button.upload_publication_button span {
    background:url(/static/images/buttons/button_upload_white.png) 0px 50% no-repeat;
    padding-left:24px;
}

a.create_magazine span {
    background:url(/static/images/buttons/button_magazine_white.png) 0px 50% no-repeat;
    padding-left:24px;
}

a.action-schedule span {
    background:url(/static/images/buttons/button_scheduled_black_small.png) 0px 50% no-repeat;
    padding-left:18px;
}

a.edit_publication_button span {
    background:url(/static/images/buttons/button_edit_black.png) 0px 50% no-repeat;
    padding-left:24px;
}

/* Messages */

.alert-message.block-message {
    padding:5px 20px;

    p {
        font-size:1.1em;
    }
}

.alert-message.block-message.success p {
    background:url(/static/images/messages/success.png) 0px 50% no-repeat;
    padding:10px 35px;
    vertical-align:middle;
}


/* *************** Form *************** */

input, textarea {
    color:#444;
}

select {
    color:#444;
}

form, .form-stacked {
    .clearfix {
        margin-bottom:20px;
    }

    label {
        color:#11717a;
        font-weight:normal;
        font-size:1.1em;

        span {
            color:#888;
        }
    }

    .help-block {
        margin-top:5px;
    }
}

form {
    label {
        padding-top:3px;
    }
}

ul.errorlist {
    margin-top:5px;

    li {
        color:#c30;
    }
}

form .note {
    color:#444;
    margin:0px 0px 20px;
    background-color:#FFC;
    padding:20px 15px 10px;

    p {
        margin-bottom:10px;
        font-size:1.1em;
    }
}

/* Input Lists */

form .inputs-list {
    li {
        margin-bottom:10px;
    }

    label {
        margin-left:5px;
        color:#444;
        display:inline;
    }

    input[type='radio'], input[type='checkbox'] {
        float:none;
        margin-left:0px;
        margin-right:8px;
    }

    .errorlist {
        margin-bottom:20px;
    }

    .schedule_date {
        padding:10px 0px 10px 30px;
        .schedule_date_styles;
    }

    .schedule_time {
        padding:10px 0px 10px 30px;
        .schedule_time_styles;
    }
}

form .pub_cat_checkboxs {
    label {
        margin:0px 30px 0px 0px;
        color:#444;
        width:auto;
        float:none;
    }

    li {
        margin-bottom:15px;
    }

    .checkbox_column {
        width:210px;
        display:inline;
        float:left;

    }
}

form .form_actions {
    margin:30px 0px 40px 150px;

    button {
        margin-right:15px;
    }
}

form .left_form_actions {
    margin:0px 0px 30px 0px;
}

/* *************** Default Styles *************** */

form, ul {margin:0px;padding:0px;}
li {list-style:none;}
a.btn:visited {color:#333333;}

.no_row {
    text-align:center;
    font-size:1.1em;
    background-color:#F5F5F5;
    padding:10px 0px;
}

table td.row_actions a {
    .content_link;
}

/* *************** Upload Publication *************** */

.upload-publication-modal {
    .parent_name {
        font-size:1.1em;
        font-weight:bold;
        margin:0px 0px 15px 150px;
    }
    
    .uploading {
        font-size:1.2em;
        color:#555;
        margin-bottom:10px;

        #upload_progressbar {
            margin-top:10px;
        }
    }

    .error_message {
        color:#C30;
        font-size:1.1em;
        margin-bottom:10px;

        div {
            margin-top:10px;
        }

        a {
            .content_link;
        }
    }
}

.upload_publication_page {
    .uploading {
        margin-left:150px;
    }

    .error_message {
        margin-left:150px;
    }
}

.finishing_upload_publication_page {
    .cover {
        width:200px;
        height:250px;
        background-color:#ABC;
        border:1px solid #999;
        margin-left:10px;
    }

    label {
        margin-bottom:5px;
    }

    .file_name {
        h3 {
            line-height:1;
            color:#666;
            font-size:1.1em;
        }

        div {
            font-size:1.2em;
            color:#333;
            background:url('/static/images/icons/file.png') left top no-repeat;
            padding-left:23px;
        }
        
        margin-bottom:15px;
        border-bottom:1px solid #CCC;
        padding-bottom:15px;
    }

    .magazine_name {
        font-size:1.2em;
    }

    .form_actions {
        margin-top:20px;
        color:#666;
    }

    .form_actions a {
        padding:2px 7px;

        .danger_link;
    }
}

/* Modal */

#schedule-publication-modal {
    .modal-body {
        .schedule_date {
            padding:0px 0px 15px;
            .schedule_date_styles;
        }

        .schedule_time {
            padding:0px 0px 15px;
            .schedule_time_styles;
        }
    }
}

/* *************** Publication Page *************** */

.publication_page {
    .cover {
        width:200px;
        height:250px;
        background-color:#CCC;
        border:1px solid #999;
    }

    h2 {
        .uploaded {
            font-weight:normal;
            line-height:1;
            margin:5px 0px;
            font-size:0.55em;
            color:#888;
        }
    }

    .status {
        margin-bottom:25px;

        span {
            color:#333;
            padding:5px 10px;
            border-radius:3px;
        }

        .unpublished {
            background-color:@publication-unpublished;
        }

        .scheduled {
            background-color:@publication-scheduled;
        }

        .published {
            background-color:@publication-published;
        }
    }

    .details {
        margin-bottom:20px;

        p {
            font-size:1.1em;
            color:#444;
        }

        .no {
            color:#666;
            font-size:1.1em;
        }
    }

    .statistics {
        margin-top:25px;
    }
}

/* *************** Dashboard *************** */

.publisher_dashboard_page {
    .recent_publications {
        li {
            list-style:disc;
            margin-left:20px;
            margin-bottom:10px;
        }

        div {
            margin-bottom:5px;
        }

        .type {
            color:#333;
            font-size:1.1em;
            margin-right:7px;
        }

        .title {
            .content_link;
            font-size:1.1em;
        }

        .uploaded {
            color:#888;
        }
    }
}

#id_welcome_modal {
    .modal-body {
        .title {
            font-size:1.3em;
            color:#11717a;
            margin-bottom:15px;
        }

        li {
            margin:0px 0px 25px 20px;
        }

        p {
            color:#555;
            margin-bottom:10px;
        }
    }
}

/* *************** Publisher Magazines *************** */

/* Magazines */

.publisher_magazines_page {
    

    .no_magazine {
        text-align:center;
        margin:30px 0px;
        p {
            font-size:1.2em;
            margin-bottom:20px;
        }

        a {
            color:#FFF;
        }
    }

    .recent_publications {
        li {
            list-style:disc;
            margin-left:20px;
            margin-bottom:10px;
        }

        div {
            margin-bottom:5px;
        }

        .title {
            .content_link;
            font-size:1.1em;
        }

        .uploaded {
            color:#888;
        }
    }

    .orphan_publications {
        .publication_list_styles();
        margin-bottom:40px;
    }
}

/* Magazine */

.publisher_magazine_page {
    .publications {
        .publication_list_styles;
    }
}

/* *************** Publisher Books *************** */

.publisher_books_page {
    .publications {
        .publication_list_styles;
    }
}

/* *************** Publisher Management *************** */
.publisher_manage_page {

    .publisher_stats {
        h4 {
            line-height:1;
            margin-bottom:10px;
        }

        ul {
            margin:0px 0px 20px 20px;

            li {
                list-style:disc;
                color:#666;
                font-size:1.1em;
                margin-bottom:5px;
            }
        }
    }
}


/* Footer */

.footer {
    border-top:1px solid #DDD;
    text-align:center;
    padding-top:10px;
    margin-top:20px;
}