a {
  color: #725228;
}
a:hover {
  color: #BB8C54;
}
/* DEFAULT
==================================================================================================== */
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
a.btn:visited {
  color: #333333;
}
.clear {
  clear: both;
}
a.danger {
  color: #C30;
}
a.danger:hover {
  background-color: #C30;
  color: #FFF;
}
.nav-tabs a {
  outline: none;
}
.chzn-container {
  margin-bottom: 10px;
}
/* PAGE
==================================================================================================== */
body {
  background: url(/static/images/bg-wood.jpg);
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  background-color: transparent;
}
.navbar {
  position: relative;
}
.navbar .navbar-inner {
  background: url(/static/images/bg-topbar.png);
  padding: 10px 0;
}
.navbar .navbar-inner .container {
  margin: 0px;
  padding: 5px 0;
  width: auto;
  border-bottom: 1px dashed #696161;
  border-top: 1px dashed #696161;
}
.navbar h1 {
  margin-left: 10px;
}
.navbar h1 a {
  float: left;
  display: block;
  padding: 8px 20px 12px 8px;
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  background: url(/static/images/logo-small.png) no-repeat 10px 3px;
  width: 40px;
  height: 20px;
  text-indent: -9999em;
}
.navbar h1 a:hover {
  color: #999;
}
.navbar h1 span {
  color: #CCC;
}
.navbar li a.nav_top_link {
  color: #EEE;
  font-size: 1.1em;
  padding: 12px 10px 8px;
}
.navbar li.active a.nav_top_link {
  background-color: transparent;
  color: #999;
}
.navbar li a.nav_top_link:hover {
  color: #999;
}
.navbar a.logout {
  color: #CCC !important;
  font-size: 1em !important;
  padding: 12px 10px 8px !important;
}
.navbar .dropdown-menu a {
  font-size: 1.1em;
  padding-bottom: 10px;
  padding-top: 10px;
}
.navbar .accounts {
  padding: 12px 0px 8px;
}
.navbar .accounts a {
  display: inline;
}
.authenticated-container {
  margin-top: 20px;
}
.container-fluid .content {
  padding: 1px;
  border-radius: 10px;
  background: -moz-linear-gradient(90deg, rgba(239, 236, 224, 0.37) 0%, rgba(253, 250, 237, 0.44) 66%);
  background: -webkit-linear-gradient(90deg, rgba(239, 236, 224, 0.37) 0%, rgba(253, 250, 237, 0.44) 66%);
  background: -o-linear-gradient(90deg, rgba(239, 236, 224, 0.37) 0%, rgba(253, 250, 237, 0.44) 66%);
  background: -ms-linear-gradient(90deg, rgba(239, 236, 224, 0.37) 0%, rgba(253, 250, 237, 0.44) 66%);
  background: linear-gradient(90deg, rgba(239, 236, 224, 0.37) 0%, rgba(253, 250, 237, 0.44) 66%);
  box-shadow: 0 0 6px rgba(117, 111, 111, 0.68);
  -webkit-box-shadow: 0 0 6px 0 rgba(117, 111, 111, 0.68);
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.container-fluid .content .inner-content {
  padding: 15px;
  background-color: rgba(252, 251, 250, 0.27);
}
.container-fluid h2 {
  margin-bottom: 20px;
  padding-bottom: 7px;
  font-size: 1.8em;
}
.container-fluid h2 span {
  color: #666;
  margin-right: 8px;
}
.container-fluid h3 {
  margin: 20px 0px 15px;
  line-height: 1;
  font-size: 1.4em;
  color: #11717a;
  font-weight: normal;
}
.container-fluid h3 span {
  color: #666;
  font-size: 0.9em;
}
.container-fluid .breadcrumb {
  margin-bottom: 10px;
}
.container-fluid .breadcrumb a:link,
.container-fluid .breadcrumb a:active,
.container-fluid .breadcrumb a:visited {
  text-decoration: underline;
  color: #725228;
}
.container-fluid .breadcrumb a:hover {
  color: #bb8c54 !important;
  text-shadow: none;
}
.container-fluid .page_actions {
  margin-bottom: 25px;
}
.container-fluid .page_actions a,
.container-fluid .page_actions button {
  margin-right: 15px;
  vertical-align: top;
}
.container-fluid .page_actions a.btn-primary {
  color: #FFF;
  background-color: #796346;
  background-image: -ms-linear-gradient(top, #796346, #352c20);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#796346), to(#352c20));
  background-image: -webkit-linear-gradient(top, #796346, #352c20);
  background-image: -o-linear-gradient(top, #796346, #352c20);
  background-image: -moz-linear-gradient(top, #796346, #352c20);
  background-image: linear-gradient(top, #796346, #352c20);
  background-repeat: repeat-x;
}
.container-fluid .page_actions a.btn-primary:visited,
.container-fluid .page_actions a.btn-primary:active {
  color: #FFF;
}
/* COMPONENT
==================================================================================================== */
/* No Information */
.no_information {
  font-size: 1.1em;
  background-color: #F5F5F5;
  padding: 10px;
}
/* Modal */
.modal .modal-header {
  padding: 10px 15px;
}
.modal h3 em {
  color: #369;
  font-style: normal;
}
.modal .modal-message {
  color: #FFF;
  padding: 8px 15px;
}
.modal .modal-message i {
  vertical-align: -2px;
}
.modal .modal-message-success {
  background-color: #51a351;
}
.modal .modal-message-error {
  background-color: #e56068;
}
.modal .modal-footer button {
  margin-left: 15px;
}
#message_modal p {
  margin-top: 20px;
  font-size: 1.1em;
}
/* Alert */
.alert {
  margin: 0px 20px 15px;
}
.alert p {
  font-size: 1.1em;
  padding: 5px 45px;
  vertical-align: middle;
  margin: 0px;
}
.alert-success p {
  background: url(../images/messages/success.png) 5px 50% no-repeat;
}
.alert-warning p {
  background: url(../images/messages/warning.png) 5px 50% no-repeat;
}
.alert-error p {
  background: url(../images/messages/error.png) 5px 50% no-repeat;
}
/* Form */
button i,
a i {
  vertical-align: -2px !important;
}
form .control-group {
  padding: 0px 0px 10px 20px;
}
form .control-group label.control-label {
  color: #333;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 8px;
}
form .control-group .row-controls li {
  margin: 0px 0px 7px 10px;
}
form .control-group .row-controls li label {
  color: #444;
  display: inline;
  font-size: 1.1em;
  vertical-align: middle;
}
form .control-group .row-controls li input {
  margin-right: 4px;
  display: inline;
  vertical-align: middle;
}
form .control-group .fixed-controls {
  font-size: 1.1em;
  font-style: italic;
  line-height: 18px;
}
form .controls .input-normal {
  width: 350px;
}
form .controls .input-large {
  width: 500px;
}
form label.checkbox {
  color: #444;
  margin-bottom: 7px;
}
form .form-actions {
  margin-top: 30px;
}
form .form-actions button,
form .form-actions a {
  margin-right: 15px;
  vertical-align: middle;
}
form .form-actions a:link,
form .form-actions a:active,
form .form-actions a:visited {
  text-decoration: underline;
  color: #725228;
}
form .form-actions a:hover {
  color: #bb8c54 !important;
  text-shadow: none;
}
form .form-actions a.danger {
  color: #C30;
}
form .form-actions a.danger:hover {
  background-color: #C30;
  color: #FFF;
}
form ul.errorlist li {
  color: #c30;
}
form .fixed-value {
  font-size: 1.1em;
  line-height: 21px;
}
form .input label.checkbox {
  display: inline;
  margin-left: 0px;
  padding-left: 0px;
}
form .radio input[type="radio"],
form .checkbox input[type="checkbox"] {
  float: none;
  margin-left: 0px;
  display: inline;
  margin-right: 7px;
}
form .row-inputs li {
  margin: 0px 0px 7px 0px;
  line-height: 25px;
}
form .row-inputs label {
  color: #444;
  display: inline;
}
form .row-inputs input {
  margin-right: 4px;
  display: inline;
  vertical-align: middle;
}
form .row-inputs .errorlist {
  margin-bottom: 20px;
}
table th.edit_column {
  width: 70px;
}
table th.datetime_column {
  width: 170px;
}
table th.checkbox_column {
  width: 10px;
}
table td.row_actions {
  text-align: center;
}
table td.row_actions a.link:link,
table td.row_actions a.link:active,
table td.row_actions a.link:visited {
  text-decoration: underline;
  color: #725228;
}
table td.row_actions a.link:hover {
  color: #bb8c54 !important;
  text-shadow: none;
}
table tr.checked td {
  background-color: #FFD !important;
}
.delete-panel {
  border: 1px dashed #CCC;
  padding: 15px 15px 15px 45px;
  margin-bottom: 20px;
  background: url(/static/images/icons/danger_icon.png) 15px 50% no-repeat;
}
.delete-panel a.danger:link,
.delete-panel a.danger:active,
.delete-panel a.danger:visited {
  text-decoration: underline;
  color: #666;
}
.delete-panel a.danger:hover {
  background-color: #C30;
  color: #FFF;
  text-shadow: none;
}
#select-lang {
  margin-top: 20px;
}
#select-lang ul {
  text-align: center;
}
#select-lang ul li {
  display: inline;
  margin-left: 20px;
}
#select-lang ul li a {
  display: inline;
  padding: 3px 8px 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.organization_users_page .nav-tabs {
  margin-bottom: 0;
  border: none;
}
.organization_users_page .nav-tabs li.active a {
  border: none;
  background-color: rgba(252, 251, 250, 0.27);
}
.organization_users_page .tab-content {
  background-color: rgba(252, 251, 250, 0.27);
  padding: 20px 10px 0;
}
.organization_users_page .tab-content table thead {
  background-color: #30281E;
  color: white;
}
