@import "styles.base.less";

body {
    background:url(/static/images/bg.png);
}

.single-container {
    .outer-container {
        padding:1px;
        border:1px solid #EEE;
        background-color:#DDD;

        .inner-container {
            border:1px solid #BBB;
            padding:15px;
            background-color:#FFF;
        }
    }
}

.logo {
    font-size:3em;
    font-weight:bold;
    color:#777;
    text-align:center;
    margin:80px 0px 40px;

    a:link, a:visited, a:active {
        color:#555;
        text-decoration:none;
    }

    a:hover {
        text-decoration:underline;
    }
}

h1 {
    color:#444;
    font-size:1.7em;
    padding-bottom:10px;
    border-bottom:1px solid #CCC;
    text-align:center;
    margin-bottom:25px;
}

form {
    padding:0px 20px;

    .item {
        margin-bottom:15px;
    }

    label {
        color:#11717a;
        font-weight:normal;
        font-size:1.1em;
        margin-bottom:5px;
    }

    .input input {
        width:350px;
    }

    .form_actions {
        button {
            margin-right:15px;
        }

        a {
            .content_link;
        }

        .login_button {
            width:120px;
        }
    }

    .errorlist {
        margin:0px 0px 20px;
        
        li {
            list-style:none;
            color:#C30;
        }
    }
}

p {
    line-height:28px;
    font-size:1.1em;
    text-align:center;

    a.link {
        .content_link;
    }

    &.headline {
        font-size:1.2em;
    }
}

#select-lang {
    margin-top: 20px;
    ul {
        text-align: center;

        li {
            display: inline;
            margin-left: 20px;
            a {
                display: inline;
                padding: 3px 8px 1px;
                background: #CCC;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
            }
        }
    }
}