{% extends 'base_authenticated.html' %}
{% load helper_tags %}

{% block head_title %}ไฟล์ | {% if not shelf %}สร้างชั้นหนังสือ{% else %}แก้ไขชั้นหนังสือ{% endif %}{% endblock %}
{% block topnav %}{% include 'publisher/snippets/publisher_topnav.html' with active_menu='file' %}{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body publisher_magazines_page">
  <div class="sidebar">
    <div class="head">ชั้นหนังสือ</div>
    <ul>
      <li class="all_shelf"><a href="{% url view_files publisher.id %}">ทุกไฟล์</a></li>
      {% if shelf %}{% generate_shelf_list publisher 'file' 'view_files_by_shelf' shelf %}{% else %}{% generate_shelf_list publisher 'file' 'view_files_by_shelf' %}{% endif %}
      <li class="add{% if not shelf %} active{% endif %}"><a href="{% url create_file_shelf publisher.id %}">สร้างชั้นหนังสือใหม่</a></li>
    </ul>
  </div>
  <div class="content"><div class="content-inner">
    {% if shelf %}
    <ul class="breadcrumb">
      <li><a href="{% url view_publisher_profile publisher.id %}">ไฟล์ชั้นหนังสือ {{shelf.name}}</a> <span class="divider">/</span></li>
      <li class="active">แก้ไขชั้นหนังสือ</li>
    </ul>
    {% endif %}

    <h2>{% if not shelf %}สร้างชั้นหนังสือ{% else %}แก้ไขชั้นหนังสือ{% endif %}</h2>

    <form method="POST" action=".">
      {% csrf_token %}
      {{form.non_field_errors}}

      <div class="clearfix"><label for="id_name">ชื่อชั้นหนังสือ</label><div class="input">{{form.name}}{{form.name.errors}}</div></div>
      <div class="clearfix"><label for="id_description">คำอธิบาย</label><div class="input">{{form.description}}<span class="help-block">ไม่จำเป็นต้องกรอก</span>{{form.description.errors}}</div></div>
      
      <div class="form_actions">
        <button type="submit" class="btn primary">{% if not shelf %}สร้างชั้นหนังสือ{% else %}แก้ไขชั้นหนังสือ{% endif %}</button>
        <button type="reset" class="btn">ล้างข้อมูล</button>
      </div>

    </form>

  </div></div>
</div>

{% endblock %}