{% extends 'base_authenticated.html' %}
{% load helper_tags pagination_tags %}

{% block head_title %}ไฟล์{% endblock %}
{% block topnav %}{% include 'publisher/snippets/publisher_topnav.html' with active_menu='file' %}{% endblock %}

{% block html_head %}
{{block.super}}
<script>
$(document).ready(function () {
  {% can user 'edit' publisher %}
  bind_all_upload_publication_modal();
  bind_all_upload_publication_form();

  $('.upload_publication_button').on('click', function(e) {
    {% if shelf %}
    open_upload_publication_modal('upload-file-form', '/publisher/files/shelf/{{shelf.id}}/');
    {% else %}
    open_upload_publication_modal('upload-file-form');
    {% endif %}
    
    return false;
  });

  bind_publication_actions();
  {% endcan %}
})
</script>
{% endblock %}

{% block body_authenticated %}

{% has_module publisher 'shelf' %}
{% include 'publisher/snippets/just_finishing_upload.html' %}

  <div class="container-fluid container-body publisher_files_page">
    <div class="sidebar">
      <div class="head"><a href="{% url view_files publisher.id %}">ชั้นหนังสือ</a></div>
      <ul>
        {% if shelf %}{% generate_shelf_list user publisher 'file' 'view_files_by_shelf' shelf %}{% else %}{% generate_shelf_list user publisher 'file' 'view_files_by_shelf' %}{% endif %}
        {% can user 'manage' publisher %}<li class="add"><a href="{% url create_file_shelf publisher.id %}">สร้างชั้นหนังสือใหม่</a></li>{% endcan %}
      </ul>
    </div>

    {% autopaginate files 20 %}

    <div class="content"><div class="content-inner">
      <h2>{% if not shelf %}ไฟล์ทั้งหมด{% else %}ไฟล์ชั้นหนังสือ {{shelf.name}}{% endif %}</h2>
      
      {% can user 'edit' publisher %}<div class="page_actions"><button class="btn primary upload_publication_button"><span>อัพโหลดไฟล์{% if shelf %}เข้าชั้นหนังสือ{% endif %}</span></button></div>{% endcan %}

      {% if files %}
      <div class="publications">
        <ul>
          {% for publication in files %}
          <li class="publication{% if forloop.last %} last{% endif %}">
            {% if publication.status == PUBLICATION_STATUS_PUBLISHED %}<div class="statistics"></div>{% endif %}
            <div class="name">{% if publication.status == PUBLICATION_STATUS_UPLOADED %}{{publication.original_file_name}}.{{publication.file_ext}}{% else %}<a href="{% url view_publication publication.id %}">{{publication.title}}</a>{% endif %}</div>
            <div class="details">อัพโหลดเมื่อวันที่ {{publication.uploaded|format_abbr_datetime}}</div>
            <div class="status">สถานะ - {% print_publication_status publication %}</div>
            {% can user 'edit' publisher %}<div class="links">{% generate_publication_actions publication %}</div>{% endcan %}
          </li>
          {% endfor %}
        </ul>

        {% paginate %}

      </div>

      {% else %}
      <div class="no_row">ไม่มีไฟล์</div>
      {% endif %}

      {% can user 'edit' publisher %}{% generate_publication_module_upload_modal 'file' %}{% endcan %}

    </div></div>
  </div>
{% else %}
  <div class="container-fluid container-body publisher_files_page">
    <div class="content-full"><div class="content-inner">
      <h2>ไฟล์ทั้งหมด</h2>

      {% can user 'edit' publisher %}<div class="page_actions"><button class="btn primary upload_publication_button"><span>อัพโหลดไฟล์</span></button></div>{% endcan %}

      {% if files %}
      <div class="publications">
        <ul>
          {% for publication in files %}
          <li class="publication{% if forloop.last %} last{% endif %}">
            {% if publication.status == PUBLICATION_STATUS_PUBLISHED %}<div class="statistics"></div>{% endif %}
            <div class="name">{% if publication.status == PUBLICATION_STATUS_UPLOADED %}{{publication.original_file_name}}.{{publication.file_ext}}{% else %}<a href="{% url view_publication publication.id %}">{{publication.title}}</a>{% endif %}</div>
            <div class="details">อัพโหลดเมื่อวันที่ {{publication.uploaded|format_abbr_datetime}}</div>
            <div class="status">สถานะ - {% print_publication_status publication %}</div>
            {% can user 'edit' publisher %}<div class="links">{% generate_publication_actions publication %}</div>{% endcan %}
          </li>
          {% endfor %}
        </ul>
      </div>

      {% else %}
      <div class="no_row">ไม่มีไฟล์</div>
      {% endif %}

      {% can user 'edit' publisher %}{% generate_publication_module_upload_modal 'file' %}{% endcan %}

    </div></div>
  </div>
{% end_has_module %}

{% endblock %}