{% extends 'base_authenticated.html' %}
{% load helper_tags %}

{% block head_title %}{{publication.title}} | เปลี่ยนสถานะ{% endblock %}
{% block topnav %}{% include 'publisher/snippets/publisher_topnav.html' with active_menu='file' %}{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body publisher_magazines_page">
  <div class="content-full"><div class="content-inner">

    <ul class="breadcrumb">
      <li><a href="{% url view_files publisher.id %}">ไฟล์ทั้งหมด</a> <span class="divider">/</span></li>
      <li><a href="{% url view_publication publication.id %}">{{publication.title}}</a> <span class="divider">/</span></li>
      <li class="active">เปลี่ยนสถานะ</li>
    </ul>

    <h2>เปลี่ยนสถานะ</h2>

    <form method="POST" action=".">
      {% csrf_token %}
      {{form.non_field_errors}}
      <fieldset>
        {% include 'publisher/snippets/publish_status.html' with form=form %}

        <div class="form_actions">
          <button type="submit" class="btn primary">บันทึกข้อมูล</button>
          <button type="reset" class="btn">ล้างข้อมูล</button>
        </div>
      </fieldset>
    </form>

  </div></div>
</div>
{% endblock %}