{% extends 'base_authenticated.html' %}
{% load helper_tags %}

{% block head_title %}{{publication.title}} | แก้ไขรายละเอียด{% endblock %}
{% block topnav %}{% include 'publisher/snippets/publisher_topnav.html' with active_menu='file' %}{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body publisher_magazines_page">
  <div class="content-full"><div class="content-inner">

    <ul class="breadcrumb">
      <li><a href="{% url view_files publisher.id %}">ไฟล์ทั้งหมด</a> <span class="divider">/</span></li>
      <li><a href="{% url view_publication publication.id %}">{{publication.title}}</a> <span class="divider">/</span></li>
      <li class="active">แก้ไขรายละเอียด</li>
    </ul>

    <h2>แก้ไขรายละเอียด</h2>

    <form method="POST" action="{% url edit_publication publication.id %}">
      {% csrf_token %}
      {{form.non_field_errors}}
      <div class="clearfix"><label for="id_title">ชื่อไฟล์</label><div class="input">{{form.title}}{{form.title.errors}}</div></div>
      <div class="clearfix"><label for="id_description">เนื้อหาโดยย่อ</label><div class="input">{{form.description}}{{form.description.errors}}</div></div>

      {% has_module publisher 'shelf' %}
      {% has_publisher_shelf publisher %}
      <div class="clearfix"><label for="id_shelf">ชั้นหนังสือ</label><div class="input inputs-list">{{form.shelf}}{{form.shelf.errors}}</div></div>
      {% end_has_publisher_shelf %}
      {% end_has_module %}

      <div class="form_actions">
        <button type="submit" class="btn primary">บันทึกข้อมูล</button>
        <button type="reset" class="btn">ล้างข้อมูล</button>
      </div>
    </form>

    <div class="delete_panel">
      <a href="{% url delete_publication publication.id %}" class="danger">ลบไฟล์</a>
    </div>

  </div></div>
</div>
{% endblock %}