{% load helper_tags %}
{% if unfinished or scheduled or unpublished %}
<h3>สถานะของไฟล์สิ่งพิมพ์</h3>
<div class="publication_outstandings">
  <div class="numbers">
    <ul>
      {% if unfinished %}<li class="unfinished"><a href="#outstanding-unfinished">กรอกข้อมูลยังไม่ครบ {{unfinished|length}} เล่ม</a></li>{% endif %}
      {% if scheduled %}<li class="scheduled"><a href="#outstanding-scheduled">ตั้งเวลาตีพิมพ์ไว้ {{scheduled|length}} เล่ม</a></li>{% endif %}
      {% if unpublished %}<li class="unpublished"><a href="#outstanding-unpublished">ไฟล์ยังไม่ได้ตีพิมพ์ {{unpublished|length}} เล่ม</a></li>{% endif %}
    </ul>
  </div>

  {% if unfinished %}
  <div class="list" id="outstanding-unfinished" style="display:none;">
    <div class="close_list"><a href="#">ปิด</a></div>
    <ul>
      {% for uploading_publication in unfinished %}{% include 'publisher/snippets/outstanding_unfinished.html' with uploading_publication=uploading_publication %}{% endfor %}
    </ul>
    <div style="clear:both;"></div>
  </div>
  {% endif %}

  {% if scheduled %}
  <div class="list" id="outstanding-scheduled" style="display:none;">
    <div class="close_list"><a href="#">ปิด</a></div>
    <ul>
      {% for publication in scheduled %}{% include 'publisher/snippets/outstanding_scheduled.html' with publication=publication %}{% endfor %}
    </ul>
    <div style="clear:both;"></div>
  </div>
  {% endif %}

  {% if unpublished %}
  <div class="list" id="outstanding-unpublished" style="display:none;">
    <div class="close_list"><a href="#">ปิด</a></div>
    <ul>
      {% for publication in unpublished %}{% include 'publisher/snippets/outstanding_unpublished.html' with publication=publication %}{% endfor %}
    </ul>
    <div style="clear:both;"></div>
  </div>
  {% endif %}
</div>
{% endif %}