{% load helper_tags module_tags %}
<div class="publication_outstandings">
  <div class="numbers">
    <ul>
      {% if unfinished %}<li class="unfinished"><a href="#outstanding-unfinished">กรอกข้อมูลยังไม่ครบ {{unfinished|length}} เล่ม</a></li>{% endif %}
      {% if scheduled %}<li class="scheduled"><a href="#outstanding-scheduled">ตั้งเวลาตีพิมพ์ไว้ {{scheduled|length}} เล่ม</a></li>{% endif %}
      {% if unpublished %}<li class="unpublished"><a href="#outstanding-unpublished">ไฟล์ยังไม่ได้ตีพิมพ์ {{unpublished|length}} เล่ม</a></li>{% endif %}
    </ul>
  </div>

  {% if unfinished %}
  <div class="list" id="outstanding-unfinished" style="display:none;">
    <div class="close_list"><a href="#">ปิด</a></div>
    <ul>
      {% generate_publication_outstanding_list unfinished module_name 'unfinished' %}
    </ul>
    <div style="clear:both;"></div>
  </div>
  {% endif %}

  {% if scheduled %}
  <div class="list" id="outstanding-scheduled" style="display:none;">
    <div class="close_list"><a href="#">ปิด</a></div>
    <ul>
      {% generate_publication_outstanding_list scheduled module_name 'scheduled' %}
    </ul>
    <div style="clear:both;"></div>
  </div>
  {% endif %}

  {% if unpublished %}
  <div class="list" id="outstanding-unpublished" style="display:none;">
    <div class="close_list"><a href="#">ปิด</a></div>
    <ul>
      {% generate_publication_outstanding_list unpublished module_name 'unpublished' %}
    </ul>
    <div style="clear:both;"></div>
  </div>
  {% endif %}
</div>