{% load module_tags %}
<div class="modal hide fade upload-publication-modal" style="display: none;">
  <form enctype="multipart/form-data" method="POST" action="{% url upload_publication publisher.id %}" id="upload-publication-form" class="upload-publication-form">
    <div class="modal-header"><a class="close" href="#">×</a><h3>อัพโหลด</h3></div>
    <div class="modal-body">
      <div class="inputs">
        {% csrf_token %}
        <div class="clearfix"><label for="id_module">ประเภทสิ่งพิมพ์</label><div class="input"><select name="module" id="id_module">{% generate_publication_module_option_list publisher %}</select></div></div>
        <div class="clearfix"><label for="id_publication_file">ไฟล์</label><div class="input"><input type="file" id="id_publication_file" name="publication"></div></div>
        <input type="hidden" name="X-Progress-ID" value=""/>
      </div>
    </div>
    <div class="modal-footer actions"><input class="btn primary" type="submit" value="อัพโหลด" /></div>
  </form>
</div>