{% load helper_tags %}
<li class="publication">
    <div class="cover"></div>
    <div class="right">
      <div class="name">{{publication.original_file_name}}.{{publication.file_ext}}</div>
      <div class="details">อัพโหลดเมื่อวันที่ <span>{{publication.uploaded|format_abbr_datetime}}</span> โดย <span>{{publication.uploaded_by.get_profile.get_fullname}}</span></div>
      <div class="links">
        <a href="{% url finishing_upload_publication publication.id %}" class="btn">แก้ไขข้อมูลหนังสือ</a>
      </div>
    </div>
</li>