{% load magazine_tags %}
<div class="modal hide fade upload-publication-modal" style="display: none;">
  <form enctype="multipart/form-data" method="POST" action="{% url upload_module_publication publisher.id 'magazine' %}" id="upload-magazine-form" class="upload-publication-form">
    <div class="modal-header"><a class="close" href="#">×</a><h3>อัพโหลดนิตยสาร</h3></div>
    <div class="modal-body">
      <div class="inputs">
        {% csrf_token %}
        
        {% if magazines %}<div class="clearfix"><label for="id_magazine">เลือกนิตยสาร</label><div class="input"><select name="magazine" id="id_magazine">{% generate_magazine_option_list publisher %}</select></div></div>{% endif %}
        {% if magazine %}<div class="parent_name">{{magazine.title}}</div><input type="hidden" name="magazine" id="id_magazine" value="{{magazine.id}}" />{% endif %}
        
        <div class="clearfix"><label for="id_magazine_file">ไฟล์นิตยสาร</label><div class="input"><input type="file" id="id_magazine_file" name="publication"></div></div>
        <input type="hidden" name="X-Progress-ID" value=""/>
        <input type="hidden" name="next" value=""/>
        <input type="hidden" name="module" value="magazine"/>
      </div>
    </div>
    <div class="modal-footer actions"><input class="btn primary" type="submit" value="อัพโหลด" /></div>
  </form>
</div>