<form method="POST" action="{% url auth_login %}">
  {% csrf_token %}
  {{form.non_field_errors}}
  <input type="hidden" name="next" value="{{next}}" />

  <div class="item">
    <label for="id_email">อีเมล</label>
    <div class="input">{{form.email}}{{form.email.errors}}</div>
  </div>

  <div class="item">
    <label for="id_password">รหัสผ่าน</label>
    <div class="input">{{form.password}}{{form.password.errors}}</div>
  </div>

  <div class="form_actions">
    <button type="submit" class="btn primary login_button">เข้าสู่ระบบ</button>
    <a href="/accounts/password_reset/">ลืมรหัสผ่าน?</a>
  </div>

</form>