{% extends 'accounts/manage/organization_base.html' %}

{% block organization_manage_head_title %} - ถอดออกจากทีม{% endblock %}
{% block organization_manage_sidebar %}{% include 'accounts/manage/snippets/organization_sidebar.html' with active_manage_menu='user' %}{% endblock %}

{% block organization_manage_content %}
<ul class="breadcrumb">
  <li><a href="{% url view_organization_users organization.slug %}">บัญชีผู้ใช้ระบบ</a> <span class="divider">/</span></li>
  <li class="active">ถอดผู้ใช้</li>
</ul>

<h2>ถอดผู้ใช้ {{user_organization.user.get_profile.get_fullname}} ออกจาก{{organization.prefix}}</h2>

<form method="POST" action=".">
  {% csrf_token %}
  {{form.non_field_errors}}

  <div class="note">
    <p>ผู้ใช้ที่ถูกถอดออกจาก{{organization.prefix}}จะไม่สามารถดูข้อมูลใน{{organization.prefix}}นี้ได้อีก</p>
  </div>

  <div class="form_actions left_form_actions">
    <button type="submit" name="submit-remove" class="btn danger">ยืนยันการถอดผู้ใช้</button>
    <button type="submit" name="submit-cancel" class="btn">ยกเลิก</button>
  </div>

</form>
{% endblock %}