{% extends 'base_authenticated.html' %}
{% load helper_tags %}

{% block head_title %}ข้อมูล{{organization.prefix}}{% block organization_manage_head_title %}{% endblock %}{% endblock %}
{% block topnav %}{% include 'snippets/organization_topnav.html' with active_menu='management' %}{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body publisher_manage_page">

  <div class="sidebar">
    <ul>
      {% block organization_manage_menu %}{% endblock %}
    </ul>
  </div>

  <div class="content"><div class="content-inner">
    {% block organization_manage_content %}{% endblock %}
  </div></div>
</div>
{% endblock %}