{% extends 'accounts/manage/organization_base.html' %}

{% block organization_manage_head_title %} - ถอดออกจากทีม{% endblock %}
{% block organization_manage_menu %}{% include 'accounts/manage/snippets/organization_nav.html' with active_manage_menu='user' %}{% endblock %}

{% block organization_manage_content %}
<ul class="breadcrumb">
  <li><a href="{% url view_organization_users organization.slug %}">ทีมงาน</a> <span class="divider">/</span></li>
  <li class="active">ถอดออกจากทีม</li>
</ul>

<h2>ถอดผู้ใช้ {{user_organization.user.get_profile.get_fullname}} ออกจากทีม</h2>

<form method="POST" action=".">
  {% csrf_token %}
  {{form.non_field_errors}}

  <div class="note">
    <p>ผู้ใช้ที่ถูกถอดออกจากสำนักพิมพ์จะไม่สามารถเข้ามาดูข้อมูลในสำนักพิมพ์นี้ได้อีก</p>
    <p>(* ถ้าบัญชีผู้ใช้นี้ผูกอยู่กับหลายสำนักพิมพ์ ผู้ใช้จะยังสามารถเข้าสู่ระบบเพื่อดูข้อมูลของสำนักพิมพ์อื่นๆ ได้ตามปกติ)</p>
  </div>

  <div class="form_actions left_form_actions">
    <button type="submit" name="submit-delete" class="btn danger">ยืนยันถอดออกจากทีม</button>
    <button type="submit" name="submit-cancel" class="btn">ยกเลิก</button>
  </div>

</form>
{% endblock %}