{% extends 'accounts/manage/organization_base.html' %}

{% block organization_manage_head_title %} - แก้ไขข้อมูลทีมงาน{% endblock %}
{% block organization_manage_sidebar %}{% include 'accounts/manage/snippets/organization_sidebar.html' with active_manage_menu='user' %}{% endblock %}

{% block organization_manage_content %}
<ul class="breadcrumb">
  <li><a href="{% url view_organization_users organization.slug %}">บัญชีผู้ใช้ระบบ</a> <span class="divider">/</span></li>
  <li class="active">แก้ไขข้อมูลผู้ใช้</li>
</ul>

<h2>แก้ไขข้อมูลผู้ใช้</h2>

<form method="POST" action=".">
  {% csrf_token %}
  {{form.non_field_errors}}

  <div class="item"><label for="id_position">ชื่อตำแหน่ง</label><div class="input">{{form.position}}{{form.position.errors}}</div></div>
  <div class="item"><label for="id_is_admin">สิทธิ์การจัดการ</label><div class="input"><label class="checkbox">{{form.is_admin}} ผู้ใช้สามารถจัดการระบบ เช่น บัญชีผู้ใช้ ชั้นหนังสือ และสิทธิ์การใช้งาน</label>{{form.is_admin.errors}}</div></div>
  <div class="item">
    <label for="id_groups">กลุ่มผู้ใช้</label>
    <div class="input row-inputs">{{form.groups}}{{form.groups.errors}}</div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> บันทึกข้อมูล</button>
    <button type="reset" class="btn">ล้างข้อมูล</button>
  </div>
</form>

<div class="delete-panel">
  <a href="{% url remove_organization_user user_organization.id %}" class="danger">ถอดผู้ใช้ออกจาก{{organization.prefix}}</a>
</div>
{% endblock %}