{% extends 'base_authenticated.html' %}
{% load helper_tags %}

{% block head_title %}ข้อมูล{{organization.prefix}}{% block organization_manage_head_title %}{% endblock %}{% endblock %}
{% block topnav %}{% include 'snippets/organization_topnav.html' with active_menu='management' %}{% endblock %}

{% block body_authenticated %}
<div class="container-fluid account_manage_page"><div class="row-fluid">
  <div class="span3 content-sidebar"><ul>{% block organization_manage_sidebar %}{% endblock %}</ul></div>
  <div class="span9"><div class="content"><div class="inner-content">
  {% block organization_manage_content %}{% endblock %}
  </div></div></div>
</div></div>

{% block organization_manage_modal %}{% endblock %}
{% endblock %}