{% extends 'accounts/manage/organization_base.html' %}
{% load helper_tags pagination_tags %}

{% block organization_manage_head_title %} - ผู้ใช้งาน{% endblock %}
{% block organization_manage_sidebar %}{% include 'accounts/manage/snippets/organization_sidebar.html' with active_manage_menu='user' %}{% endblock %}

{% block organization_manage_content %}
<h2>บัญชีผู้ใช้ระบบ</h2>

{% can user 'admin' organization=organization %}
  <div class="page_actions"><a href="{% url invite_organization_user organization.slug %}" class="btn"><i class="icon-plus"></i> เพิ่มผู้ใช้ระบบ</a></div>
{% endcan %}

{% if invited_users %}
{% can user 'admin' organization=organization %}
<h3>คำขอเพิ่มผู้ใช้ระบบ</h3>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>อีเมล</th>
      <th>ส่งเมื่อวันที่</th>
      <th class="edit_column"></th>
    </tr>
  </thead>
  <tbody>
    {% for invitation in invited_users %}
    <tr>
      <td>{{invitation.email}}</td>
      <td>{{invitation.created|format_abbr_datetime}}</td>
      <td class="row_actions"><a href="{% url view_user_invitation invitation.id %}" class="small btn"><i class="icon edit"></i> แก้ไข</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3>ผู้ใช้ระบบทั้งหมด</h3>
{% endcan %}
{% endif %}

{% autopaginate organization_users 20 %}

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ชื่อ</th>
      <th>อีเมล</th>
      <th>ตำแหน่ง</th>
      {% can user 'admin' organization=organization %}<th class="edit_column"></th>{% endcan %}
    </tr>
  </thead>
  <tbody>
    {% for organization_user in organization_users %}
    <tr>
      <td>{{organization_user.user.get_profile.get_fullname}}</td>
      <td>{{organization_user.user.get_profile.email}}</td>
      <td>{{organization_user.position}}</td>
      {% can user 'admin' organization=organization %}<td class="row_actions"><a href="{% url edit_organization_user organization_user.id %}" class="small btn"><i class="icon edit"></i> แก้ไข</a></td>{% endcan %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% paginate %}

{% endblock %}