{% extends 'accounts/manage/organization_base.html' %}

{% block organization_manage_head_title %} - ยกเลิกคำขอ{% endblock %}
{% block organization_manage_menu %}{% include 'accounts/manage/snippets/organization_nav.html' with active_manage_menu='user' %}{% endblock %}

{% block organization_manage_content %}
<ul class="breadcrumb">
  <li><a href="{% url view_organization_users organization.slug %}">บัญชีผู้ใช้ระบบ</a> <span class="divider">/</span></li>
  <li class="active">ยกเลิกคำขอเพิ่มผู้ใช้ระบบ</li>
</ul>

<h2>ยกเลิกคำขอเพิ่มผู้ใช้ระบบสำหรับ {{invitation.user_email}}</h2>

<form method="POST" action=".">
  {% csrf_token %}
  {{form.non_field_errors}}

  <div class="form_actions left_form_actions">
    <button type="submit" name="submit-remove" class="btn danger">ยืนยันการยกเลิกคำขอ</button>
    <button type="submit" name="submit-cancel" class="btn">ไม่ยกเลิก</button>
  </div>

</form>
{% endblock %}