{% extends 'base_authenticated.html' %}
{% load helper_tags %}

{% block head_title %}ข้อมูล{{organization.prefix}}{% block organization_manage_head_title %}{% endblock %}{% endblock %}
{% block topnav %}{% include 'snippets/organization_topnav.html' with active_menu='management' %}{% endblock %}

{% block body_authenticated %}
<div class="fluid-container sidebar-left page-accounts-manage">
  <div class="fluid-sidebar"><ul>{% block organization_manage_sidebar %}{% endblock %}</ul></div>
  <div class="fluid-content"><div class="inner-content">
  {% block organization_manage_content %}{% endblock %}
  </div></div>
</div>
{% endblock %}