{% extends 'accounts/manage/organization_base.html' %}
{% load document_tags %}

{% block organization_manage_head_title %} - {% if not role %}เพิ่มกลุ่มผู้ใช้{% else %}แก้ไขกลุ่มผู้ใช้{% endif %}{% endblock %}
{% block organization_manage_sidebar %}{% include 'accounts/manage/snippets/organization_sidebar.html' with active_manage_menu='group' %}{% endblock %}

{% block organization_manage_content %}
<ul class="breadcrumb">
  <li><a href="{% url view_organization_groups organization.slug %}">กลุ่มผู้ใช้</a> <span class="divider">/</span></li>
  <li class="active">{% if not group %}เพิ่มกลุ่มผู้ใช้{% else %}แก้ไขกลุ่มผู้ใช้{% endif %}</li>
</ul>

<h2>{% if not group %}เพิ่มกลุ่มผู้ใช้{% else %}แก้ไขกลุ่มผู้ใช้{% endif %}</h2>

<form method="POST" action=".">
  {% csrf_token %}
  {{form.non_field_errors}}

  <div class="item"><label for="id_name">ชื่อกลุ่มผู้ใช้</label><div class="input">{{form.name}}{{form.name.errors}}</div></div>
  <div class="item"><label for="id_description">คำอธิบาย</label><div class="input">{{form.description}}{{form.description.errors}}</div></div>

  <div class="item">
    <label>สมาชิกกลุ่ม</label>
    <div class="input row-inputs">{{form.members}}{{form.members.errors}}</div></div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {% if not group %}เพิ่มกลุ่มผู้ใช้{% else %}แก้ไขกลุ่มผู้ใช้{% endif %}</button>
    <button type="reset" class="btn">ล้างข้อมูล</button>
  </div>
</form>

{% if group %}
<div class="delete-panel">
  <a href="{% url remove_organization_group group.id %}" class="danger">ลบกลุ่มผู้ใช้</a>
</div>
{% endif %}
{% endblock %}