{% extends 'accounts/manage/organization_base.html' %}
{% load helper_tags pagination_tags %}

{% block organization_manage_head_title %} - กลุ่มผู้ใช้{% endblock %}
{% block organization_manage_sidebar %}{% include 'accounts/manage/snippets/organization_sidebar.html' with active_manage_menu='group' %}{% endblock %}

{% block organization_manage_content %}
<h2>กลุ่มผู้ใช้</h2>

{% can user 'admin' organization=organization %}
  <div class="page_actions"><a href="{% url add_organization_group organization.slug %}" class="btn"><i class="icon-plus"></i> เพิ่มกลุ่มผู้ใช้</a></div>
{% endcan %}

{% autopaginate organization_groups 20 %}

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ชื่อกลุ่มผู้ใช้</th>
      <th>จำนวนผู้ใช้</th>
      <th>คำอธิบาย</th>
      {% can user 'admin' organization=organization %}<th class="edit_column"></th>{% endcan %}
    </tr>
  </thead>
  <tbody>
    {% for group in organization_groups %}
    <tr>
      <td>{{group.name}}</td>
      <td>{{group.user_counter}} คน</td>
      <td>{% if group.description %}{{group.description}}{% else %}-{% endif %}</td>
      {% can user 'admin' organization=organization %}<td class="row_actions"><a href="{% url edit_organization_group group.id %}" class="small btn"><i class="icon edit"></i> แก้ไข</a></td>{% endcan %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% paginate %}

{% endblock %}