{% extends 'accounts/manage/organization_base.html' %}
{% load helper_tags pagination_tags %}

{% block organization_manage_head_title %} - ผู้ใช้งาน{% endblock %}
{% block organization_manage_menu %}{% include 'accounts/manage/snippets/organization_nav.html' with active_manage_menu='user' %}{% endblock %}

{% block organization_manage_content %}
<h2>บัญชีผู้ใช้ระบบ</h2>

{% can user 'manage' organization %}<div class="page_actions"><a href="{% url invite_organization_user organization.slug %}" class="btn">เพิ่มผู้ใช้ระบบ</a></div>{% endcan %}

{% if invited_users %}
<h3>คำขอเพิ่มผู้ใช้ระบบ</h3>

<table class="zebra-striped">
  <col />
  <col width="240"/>
  <col width="240"/>
  <col width="165"/>
  <thead>
    <tr>
      <th>อีเมล</th>
      <th>กลุ่มผู้ใช้</th>
      <th>ส่งเมื่อวันที่</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for invitation in invited_users %}
    <tr>
      <td>{{invitation.user_email}}</td>
      <td>{{invitation.role.name}}</td>
      <td>{{invitation.created|format_abbr_datetime}}</td>
      <td class="row_actions"><a href="{% url resend_user_invitation invitation.id %}">ส่งอีเมลอีกครั้ง</a> | <a href="{% url cancel_user_invitation invitation.id %}">ยกเลิก</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3>ผู้ใช้ระบบทั้งหมด</h3>
{% endif %}

{% autopaginate organization_users 20 %}

<table class="zebra-striped">
  <col />
  <col width="300"/>
  <col width="260"/>
  <col width="100"/>
  <thead>
    <tr>
      <th>ชื่อ</th>
      <th>อีเมล</th>
      <th>กลุ่มผู้ใช้</th>
      {% can user 'manage' organization %}<th></th>{% endcan %}
    </tr>
  </thead>
  <tbody>
    {% for organization_user in organization_users %}
    <tr>
      <td>{{organization_user.user.get_profile.get_fullname}}</td>
      <td>{{organization_user.user.email}}</td>
      <td>{{organization_user.role.name}}</td>
      {% can user 'manage' organization %}<td class="row_actions"><a href="{% url edit_organization_user organization_user.id %}">แก้ไขข้อมูล</a></td>{% endcan %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% paginate %}

{% endblock %}