{% extends 'accounts/manage/organization_base.html' %}
{% load helper_tags %}

{% block organization_manage_head_title %} - แก้ไขข้อมูล{{organization.prefix}}{% endblock %}
{% block organization_manage_menu %}{% include 'accounts/manage/snippets/organization_nav.html' with active_manage_menu='profile' %}{% endblock %}

{% block organization_manage_content %}
  <ul class="breadcrumb">
    <li><a href="{% url view_organization_profile organization.slug %}">ข้อมูล{{organization.prefix}}</a> <span class="divider">/</span></li>
    <li class="active">แก้ไขข้อมูล{{organization.prefix}}</li>
  </ul>

  <h2>แก้ไขข้อมูล{{organization.prefix}}</h2>

  <form method="POST" action=".">
    {% csrf_token %}
    {{form.non_field_errors}}

    <div class="clearfix"><label for="id_name">ชื่อ{{organization.prefix}}</label><div class="input">{{form.name}}{{form.name.errors}}</div></div>

    <div class="form_actions">
      <button type="submit" class="btn primary">บันทึกข้อมูล</button>
      <button type="reset" class="btn">ล้างข้อมูล</button>
    </div>

  </form>
{% endblock %}