{% extends 'accounts/manage/organization_base.html' %}

{% block organization_manage_head_title %} - เพิ่มทีมงาน{% endblock %}
{% block organization_manage_sidebar %}{% include 'accounts/manage/snippets/organization_sidebar.html' with active_manage_menu='user' %}{% endblock %}

{% block html_head %}
{{block.super}}
<script>
$(document).ready(function () {
  $("#id_groups").chosen();
  /*
  var t5 = new $.TextboxList('#tag_input', {
    unique:true, plugins: {
      autocomplete: {
        minLength: 1,
        queryRemote: true,
        remote: {url: '{% url ajax_query_groups organization.slug %}'}
      }
    }
  });
*/


});
</script>
{% endblock %}

{% block organization_manage_content %}
<ul class="breadcrumb">
  <li><a href="{% url view_organization_users organization.slug %}">บัญชีผู้ใช้ระบบ</a> <span class="divider">/</span></li>
  <li class="active">เพิ่มผู้ใช้ระบบ</li>
</ul>

<h2>เพิ่มผู้ใช้ระบบ</h2>

<form method="POST" action=".">
  {% csrf_token %}
  {{form.non_field_errors}}

  <div class="item"><label for="id_email">อีเมลผู้ใช้</label><div class="input">{{form.email}}{{form.email.errors}}</div></div>
  <div class="item">
    <label for="id_is_admin">สิทธิ์การจัดการระบบ</label>
    <div class="input row-inputs">{{form.admin_permissions}}{{form.admin_permissions.errors}}</div>
  </div>

  <div class="item">
    <label for="id_groups">กลุ่มผู้ใช้</label>
    <div class="input">{{form.groups}}{{form.groups.errors}}</div>
  </div>

  <!-- <input id="tag_input" value="Test1,Test2"/> -->

  <div class="form-actions">
    <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> บันทึกข้อมูล</button>
    <button type="reset" class="btn">ล้างข้อมูล</button>
  </div>
</form>
{% endblock %}