{% load helper_tags %}
<li class="publication">
    <div class="cover"></div>
    <div class="name">{{uploading_publication.original_file_name}}.{{uploading_publication.file_ext}}</div>
    <div class="details">อัพโหลดเมื่อวันที่ <span>{{uploading_publication.uploaded|format_abbr_datetime}}</span> โดย <span>{{uploading_publication.uploaded_by.get_profile.get_fullname}}</span></div>
    <div class="links">
      <a href="{% url finishing_upload_publication uploading_publication.id %}" class="btn">แก้ไขข้อมูลหนังสือ</a>
    </div>
</li>