<div class="modal hide fade upload-publication-modal" style="display: none;">
  <form enctype="multipart/form-data" method="POST" action="{% url upload_module_publication publisher.id 'book' %}" id="upload-book-form" class="upload-publication-form">
    <div class="modal-header"><a class="close" href="#">×</a><h3>อัพโหลดไฟล์หนังสือ</h3></div>
    <div class="modal-message"></div>
    <div class="modal-body">
      <div class="inputs">
        {% csrf_token %}
        <div class="clearfix"><label for="id_book_file">ไฟล์หนังสือ</label><div class="input"><input type="file" id="id_book_file" name="publication"><span class="help-block">รับเฉพาะไฟล์ PDF เท่านั้น</span></div></div>
        <input type="hidden" name="X-Progress-ID" value=""/>
        <input type="hidden" name="next" value=""/>
        <input type="hidden" name="module" value="book"/>
      </div>
    </div>
    <div class="modal-footer actions"><input class="btn primary" type="submit" value="อัพโหลด" /></div>
  </form>
</div>