{% extends 'base.html' %}

{% block head_title %}{% endblock %}

{% block html_head %}
{{block.super}}
<script type="text/javascript" src="{{STATIC_URL}}libs/jquery-1.7.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}libs/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/styles.single.css">
{% endblock %}

{% block body %}
<div class="container single-container">
  <!--div class="logo"><a href="{% url view_user_home %}">OpenReader</a></div-->
  <a href="https://openreaderplatform.com" class="logo">OpenReader</a>
  <div class="row">{% block body_single %}{% endblock %}</div>
</div>
{% endblock %}