<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Open Reader | {% block head_title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />

    <script type="text/javascript" src="{{STATIC_URL}}libs/jquery-1.6.4.min.js"></script>
    
    <link rel="stylesheet" href="{{STATIC_URL}}libs/normalize.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css">

    {% block html_head %}{% endblock %}
  </head>
  <body>
    <div id="body_header">
      <ul>
        <li><a href="/">Home</a></li>
        {% if user.is_authenticated %}
        <li>Welcome, {{ user.username }}. <a href="{% url auth_logout %}">Log out</a></li>
        {% else %}
        <li><a href="{% url registration_register %}">Register</a></li>
        <li><a href="{% url auth_login %}">Log in</a></li>
        {% endif %}
      </ul>
    </div>
    <div id="body_body">
        {% if messages %}
        <div class="messages">
          <ul>
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% block body %}{% endblock %}
    </div>
    <div id="body_footer">
    </div>
  </body>
</html>
