{% extends 'base.html' %}
{% load page_tags module_tags helper_tags %}

{% block head_title %}{% endblock %}

{% block html_head %}
{{block.super}}
<script src="{{STATIC_URL}}libs/bootstrap/js/bootstrap-dropdown.js"></script>
<script src="{{STATIC_URL}}libs/bootstrap/js/bootstrap-modal.js"></script>
<link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}libs/bootstrap/lib/bootstrap.less">

<link rel="stylesheet" media="all" type="text/css" href="{{STATIC_URL}}libs/yui/build/container/assets/skins/sam/container.css">
<link rel="stylesheet" media="all" type="text/css" href="{{STATIC_URL}}libs/yui/build/calendar/assets/skins/sam/calendar.css">
<link rel="stylesheet" media="all" type="text/css" href="{{STATIC_URL}}css/yui.calendar.widget.css">
<script type="text/javascript" src="{{STATIC_URL}}libs/yui/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/yui/build/element/element-min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/yui/build/container/container-min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/yui/build/calendar/calendar-min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/yui.calendar.widget.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}libs/jquery.form.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/progressbar/jquery.progressbar.js"></script>


<link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}css/styles.less">

<script type="text/javascript" src="{{STATIC_URL}}js/scripts.js"></script>

<script>
var var_publisher_id = '{{publisher.id}}';
$(document).ready(function () {initialize();})
</script>
{% endblock %}

{% block body %}
<div class="topbar">
  <div class="fill">
    <div class="container-fluid">
      {% block topnav %}{% endblock %}
      
      <ul class="nav secondary-nav" data-dropdown="dropdown">
        {% generate_publisher_menu user %}

        <li class="accounts_prefix">ชื่อผู้ใช้ระบบ</li>

        <li class="accounts">
          <a href="{% url view_my_profile %}">{{user.get_profile.get_fullname}}</a>
        </li>

        <li><a href="/accounts/logout/">ออกจากระบบ</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="body_authenticated">
{% block body_authenticated %}{% endblock %}
</div>

<!-- PAGE without SIDEBAR: <div class="content"><div class="content-inner"></div></div> -->
<!-- PAGE with SIDEBAR: <div class="sidebar"></div><div class="content"><div class="content-inner"></div></div> -->

<div class="footer">
  <p>&copy; OpenReader 2011</p>
</div>

{% endblock %}