<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>{% block head_title %}{% endblock %} | OpenReader</title>
  <meta charset="utf-8">
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
  {% block html_head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<div id="select-lang">
    <ul class="nav">
        <li><a href="{% url set_lang %}?lang=th&next={{request.path}}"{% if LANGUAGE_CODE == 'th' %} class="active"{% endif %} title="Thai">TH</a></li> 
        <li><a href="{% url set_lang %}?lang=en&next={{request.path}}"{% if LANGUAGE_CODE == 'en' %} class="active"{% endif %} title="English">EN</a></li>
    </ul>
</div>
</body>
</html>
