{% extends 'base.html' %}
{% load page_tags module_tags %}

{% block head_title %}{% endblock %}

{% block html_head %}
{{block.super}}
<link rel="stylesheet" media="all" type="text/css" href="{{STATIC_URL}}libs/yui/build/container/assets/skins/sam/container.css">
<link rel="stylesheet" media="all" type="text/css" href="{{STATIC_URL}}libs/yui/build/calendar/assets/skins/sam/calendar.css">
<link rel="stylesheet" media="all" type="text/css" href="{{STATIC_URL}}css/yui.calendar.widget.css">
<script type="text/javascript" src="{{STATIC_URL}}libs/yui/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/yui/build/element/element-min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/yui/build/container/container-min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/yui/build/calendar/calendar-min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/yui.calendar.widget.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}libs/jquery.form.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}libs/progressbar/jquery.progressbar.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/binding.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/scripts.js"></script>

<script>
var var_publisher_id = '{{publisher.id}}';
$(document).ready(function () {initialize();})
</script>
{% endblock %}

{% block body %}
<div class="publisher-topbar-wrapper">
  <div class="topbar" id="topbar-example" data-dropdown="dropdown">
    <div class="topbar-inner">
      <div class="container">
        <h3><a href="{% url view_publisher_dashboard publisher.id %}">{{publisher.name}}</a></h3>
        <ul class="nav">
          <li><a href="{% url view_publisher_dashboard publisher.id %}">Dashboard</a></li>
          {% generate_publication_menu publisher %}
          <li><a href="{% url view_publisher_management publisher.id %}">Publisher Management</a></li>
        </ul>
        {% generate_publisher_menu user %}
      </div>
    </div>
  </div>
</div>

<div id="body_content">
  {% block body_authenticated %}{% endblock %}
</div>
{% endblock %}