<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>OpenReader</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link id="page_favicon" href="{{STATIC_URL}}images/icons/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.market.css" />
        <script type="text/javascript" src="{{STATIC_URL}}libs/jquery.js"></script> 
  </head>
  <body id="home">
    <!-- START: Header -->
    <div id="header">
    <div id="headerWrap">
      <div id="logo">
        <a href="#introduction" title="OpenReader"><h1>OpenReader</h1></a>
      </div>
      <div id="nav">
        <ul class="menu-big">
          <li><a href="#introduction" title="Introduction"  class="nav-item-1">Introduction</a></li>
          <li><a href="#features" title="Features" class="nav-item-2">Features</a></li>
          <li><a href="#price-plan" title="Price & Plan" class="nav-item-3">Price &amp; Plan</a></li>
          <li><a href="#contact-us" title="Contact us" class="nav-item-4">Contact us</a></li>
          <li class="login"><a href="{% url auth_login %}" title="Login" class="nav-item-5">Login</a></li>
        </ul>

      </div>
    </div>

    </div>
    <!-- END: Header -->  

    <!-- START Section 1: Introduction -->
    <div id="introduction" class="sec sec1">
        <div class="sec-wrapper">
            <h2>Access your company's files anywhere, anytime</h2>
            <h3>Secure . Simple . Cloud .</h3>
            <div class="intro-images">
	            <img src="{{STATIC_URL}}images/homepage/feature.png" alt="Access your company's files anywhere anytime" />
		          <a href="https://itunes.apple.com/th/app/openreader/id576267910" title="Available on the App Store" class="app-store" target="_blank">AppStore</a>
            </div>
        </div>
    </div>
    <!-- END: Section 1 -->

    <!-- START Section 2: FEATURES -->
    <div id="features" class="sec sec2">
        <div class="sec-wrapper">
            <h2>Features</h2>
        </div>
       
        <div class="feature1_3 feature-item">
            <ul>
                 <li class="feature-item-1 feature-icon">
                    <a href="#" title="Wide range document format support" class="showr showr-1 " data-id="feature-desc-1">
                        Wide range <br />file support
                    </a>
                </li>

                <li class="feature-item-2 feature-icon">
                    <a href="#" title="Banking industry grade security" class="showr showr-2" data-id="feature-desc-2">
                        Banking industry grade security
                    </a>
                </li>

                <li class="feature-item-3 feature-icon">
                    <a href="#" title="Hierarchical document permission" class="showr showr-3" data-id="feature-desc-3">
                        Hierarchical document permission
                    </a>
                </li>
            </ul>
        </div>

    
        <!--     </div>   -->
        <!--  End of sec2 bg    -->

        <div class="feature-desc-list">

            <!-- Features item 1-3 -->
            <div class="after-click feature feature-1" id="feature-desc-1">
                <div class="pop-wrapper">
                    <a href="#" class="hidr-1 hidr" data-id="feature-desc-1">Hide</a>
                    <img src="{{STATIC_URL}}images/homepage/feature1-img.jpg alt="Wide range file support"/>
                    <h3>Wide range file support</h3>
                    <p class="desc-pop">Quickly share or view documents witch colleagues without having to think about what type of file it is. All files can be used, without any converting, directly on the iPad. A wide range of document files are supported, including MS Word, MS Excel, txt, MP4, PDF and of course Powerpoint.</p>
                </div>
            </div>

            <div class="after-click feature feature-2" id="feature-desc-2">
                 <div class="pop-wrapper">
                    <a href="#" class="hidr-2 hidr" data-id="feature-desc-2">Hide</a>
                    <img src="{{STATIC_URL}}images/homepage/feature2-img.jpg" alt="Banking industry grade security"/>
                    <h3>Banking industry grade security</h3>
                    <p class="desc-pop">Do you trust internet banking? Good! Than you can trust your documents are safe with us. We use the same data encryption that is used in E-banking. Our specific server configuration ensures optimal security. The safety and confidentiality of your company documents is our main priority at all times.</p> 
                 </div>
            </div>

            <div class="after-click feature feature-3" id="feature-desc-3">
                <div class="pop-wrapper">
                    <a href="#" class="hidr-3 hidr" data-id="feature-desc-3">Hide</a>
                    <img src="{{STATIC_URL}}images/homepage/feature3-img.jpg alt="Hierarchical document permission" />
                    <h3>Hierarchical document permission</h3>
                    <p class="desc-pop">This platform enables you to give hierarchical document permission. Meaning that some people or groups have permission to different documents than others. Just like you intern now does not see all company files, he won't using the OpenReader platform.</p> 
                </div>
            </div>
            <!--  End of Features item 1-3   -->

            <!-- Features item 4-6 -->
            <div class="after-click feature feature-4" id="feature-desc-4">
                <div class="pop-wrapper feature_4-6">
                    <a href="#" class="hidr-4 hidr" data-id="feature-desc-4">Hide</a>
                    <img src="{{STATIC_URL}}images/homepage/feature4-img.jpg" alt="Automatic document sync on all devices" />
                    <h3>Automatic document sync on all devices</h3>
                    <p class="desc-pop">All devices are synchronized with the same company library. Therefore everyone has every file they need available to them. Using and sharing information in this way makes working together in teams so much easier!</p>
                </div>
            </div>

            <div class="after-click feature feature-5" id="feature-desc-5">
                <div class="pop-wrapper feature_4-6">
                    <a href="#" class="hidr-5 hidr" data-id="feature-desc-5">Hide</a>
                    <img src="{{STATIC_URL}}images/homepage/feature5-img.jpg" alt="Dramatically reduce your environmental impact" />
                    <h3>Dramatically reduce your environmental impact</h3>
                    <p class="desc-pop">It won't come as a surprise that using paper is far from good for our planet, considering it is made from the very things that normally absorb our CO<sub>2</sub> emissions. For example, by using this platform for just one year a company of 30 employees will save 28 trees, 528 liters of oil and enough energy to power the average home for 10 months!</p>
                </div>
            </div>

            <div class="after-click feature feature-6" id="feature-desc-6">
                <div class="pop-wrapper feature_4-6">
                    <a href="#" class="hidr-6 hidr" data-id="feature-desc-6">Hide</a>
                    <img src="{{STATIC_URL}}images/homepage/feature6-img.jpg" alt="Offline document reading" />
                    <h3>Offline document reading</h3>
                    <p class="desc-pop">Documents stored in the cloud can also be downloaded to your device. So don't worry about having an internet connection, even without being connected you will still have all your documents right there with you.</p>
                </div>
            </div>
            <!--  End of Features item 4-6   -->

        </div>
    </div>
        <!-- 4-6 -->
        <div class="bg-desc">
	        <div class="feature4_6 feature-item">
	            <ul>
	                <li class="feature-item-4 feature-icon">
	                    <a href="#" title="Automatic document sync all devices" class="showr showr-4" data-id="feature-desc-4">
	                        Automatic document sync on all devices
	                    </a>
	                </li>
	                <li class="feature-item-5 feature-icon">
	                    <a href="#" title="Environment" class="showr showr-5" data-id="feature-desc-5">
	                        Environment
	                    </a>
	                </li>
	                <li class="feature-item-6 feature-icon">
	                    <a href="#" title="Offline useable" class="showr showr-6" data-id="feature-desc-6">
	                        Offline useable
	                    </a>
	                </li>
	            </ul>
	        </div>        
        

        <!-- Feature List -->
        <ul class="feature-desc">
            <li class="nav-item-1">Paperless meeting</li>
            <li class="nav-item-2">Self-learning</li>
            <li class="nav-item-3">Reduce CO<sub>2</sub> pollution </li>
            <li class="nav-item-4">Secured sales documents</li>
            <li class="nav-item-5">Digital asset management</li>
        </ul>
        </div>

    <!--  End of sec2 bg    -->
    <!-- END: Section 2 -->

    <div id="price-plan" class="sec sec3">
        <div class="sec-wrapper">
            <h2>Price &amp; Plan</h2>
            <ul>
                <li class="peryear">
                    <h3>1 year contract</h3>
                    <div class="price">
                        <span>&#8364; 6 &nbsp;</span> per user per month <br />
                    </div>
                    <div class="desc"> 
                        <strong>Users:</strong> as much as you want<br />
                        <strong>Storage:</strong> as much as you need<br />
                    </div>
                    <a href="{% url plan_organization %}" class="more">More information</a>
                </li>
                <li class="permonth">
                    <h3>1 month contract</h3>
                    <div class="price">
                        <span>&#8364; 7.50 &nbsp;</span> per user per month <br />
                    </div>
                    <div class="desc"> 
                        <strong>Users:</strong> as much as you want<br />
                        <strong>Storage:</strong> as much as you need<br />
                    </div>
                    <a href="{% url plan_organization %}" class="more">More information</a>
                </li>
        <li class="terms">
          <h3>1 month trial</h3>
          <strong>FAQ</strong> <br />
          <strong>Privacy/security</strong> <br />
          <a href="{{STATIC_URL}}pdf/privacy-policy.pdf" class="term">Terms &amp; Conditions</a>
          <a href="{% url plan_organization %}" class="more">More information</a>
        </li>
            </ul>
        </div>
    </div>
    <!-- END: Section 3 -->

    <!-- START Section 4: Contact -->
    <div id="contact-us" class="sec sec4">
        <div class="sec-wrapper">
            <ul>
                <li>
                    <a href="http://openreaderplatform.tumblr.com/">
                        <span  class="keep-up-date-img">&nbsp;</span>
                        <h4>Keep up to date</h4>
                    </a>
                </li>
                <li>
                    <a href="https://openreader.uservoice.com/">
                        <span  class="get-help-img">&nbsp;</span>
                        <h4>Get help</h4>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/openreader1">
                        <span  class="follow-us">&nbsp;</span>
                        <h4>Follow us</h4>
                    </a> 
                </li>
            </ul>
            <p class="contact-us">Contact us : +66.2.274.8534</p>
            <span>299/92 Areeya Mandarina, Suttisan Winijchai Rd. <br />
            Samsennok, Huaykwang Bangkok 10310</span>
        </div>
    </div>
    <!-- END: Section 4 -->

    <!-- Features item 7-9 -->

    <!-- Smooth scroll effect & Hide show div tag -->
    <script src="{{STATIC_URL}}libs/jquery.smoothscroll.js"></script>
    <script>
    window.front = true;
    $(document).ready(function() {
        var scrolling = false;
        $('html').smoothScroll({
            'speed': 500,
            'onStart': function(hash, cleaned) {
              scrolling = true;
            },
            'onFinish': function(hash, cleaned) {
              scrolling = false;
            }
        });
    })
    </script>
    <script src="{{STATIC_URL}}js/open_reader.js"></script>
    </body>
</html>