{% extends 'base_authenticated.html' %}
{% load helper_tags pagination_tags presentation_tags %}
{% load i18n %}

{% block head_title %}{% trans 'Documents' %}{% endblock %}
{% block topnav %}{% include 'snippets/organization_topnav.html' with active_menu='document' %}{% endblock %}

{% block extra_head %}
<script>
var MAX_PUBLICATION_FILE_SIZE = {{ settings.MAX_PUBLICATION_FILE_SIZE }};
var MAX_PUBLICATION_FILE_SIZE_TEXT = '{{ settings.MAX_PUBLICATION_FILE_SIZE_TEXT }}';

$(document).ready(function () {
    initializeDocumentsShelfPage("{{ shelf.id }}");

    $('#id_upload_shelf').chosen();

    $('.documents_table .js-open-publication').live('click', function() {
        $('#publication-modal').on('publication_deleted', function() {
            $('.documents_table .js-open-publication[uid="' + $('#publication-modal').data('uid') + '"]').closest('tr').remove();
            if(!$('.documents_table tr').length) {
                $('.checkbox_actions').hide();
                $('.no_publication').show();
            }
        });
        return false;
    });

    function split( val ) {
        return val.split(/,\s*/);
    }

    function extractLast(term) {
        return split(term).pop();
    }
    $('#banner-image').tooltip({
        'html': true,
        'placement': 'right',
        'title': '<img src="{{settings.MEDIA_URL}}{{shelf.banner}}" />'
    });
});
</script>
{% endblock %}

{% block body_authenticated %}
<div class="container-fluid documents_page"><div class="row-fluid">
    <div class="content"><div class="inner-content">
        <ul class="breadcrumb">
            <li>
                <a href="{% url view_documents organization.slug %}">{% trans 'All shelves' %}</a> <span class="divider">/</span>
            </li>
            <li class="active">{% trans 'Shelf' %} {{ shelf.name }}</li>
        </ul>

        <div class="btn-group shelf_selection pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">{% trans 'Change shelf' %} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                {% generate_shelf_selection user organization %}
                {% can user 'can_manage_shelf' organization %}
                <li class="divider"/>
                <li><a href="{% url create_document_shelf organization.slug %}"><i class="icon-plus-sign"></i> {% trans 'Create shelf' %}</a></li>
                {% endcan %}
            </ul>
        </div>

        <h2><span>{% trans 'Shelf' %}</span> {{ shelf.name }}<span>{% if shelf.priority %} [{{ shelf.priority }}]{% endif %}{% if shelf.banner %}<i class="icon-picture" id="banner-image"></i>{% endif %}</h2>

        <div class="page_actions">
            {% if uploadable_shelves %}<button class="btn btn-primary js-upload-publication" data-toggle="button"><i class="icon-upload icon-white"></i> {% trans 'Upload file' %}</button>{% endif %}
            {% can user 'can_manage_shelf' organization %}<a href="{% url edit_document_shelf organization.slug shelf.id %}" class="btn"><i class="icon-pencil"></i> {% trans 'Edit shelf' %}</a>{% endcan %}
        </div>

        <div class="upload_tool hide">
            <form>
                <label for="id_upload_shelf">{% trans 'Select shelf' %}</label>
                <select multiple id="id_upload_shelf" class="js-upload-tool-shelf-input"><option></option>{% for shelf in uploadable_shelves %}<option value="{{ shelf.id }}">{{ shelf.name }}</option>{% endfor %}</select>
                <span class="js-upload-tool-file-input"><label for="id_upload_file">{% trans 'Choose file' %}</label><input type="file" id="id_upload_file" multiple="" /></span>
            </form>
        </div>

        {% can user 'can_upload_shelf' organization shelf=shelf %}
        <ul class="js-uploading"></ul>

        <div class="checkbox_actions" {% if not publications %}style="display:none;"{% endif %}>
            <div class="inner">
                <span class="check"><input type="checkbox"/></span>
                <a href="#add-tags-modal" class="btn-small btn add_tag_button disabled" data-toggle="modal"><i class="icon-tag"></i> {% trans 'Add tags' %}</a>
                <a href="#delete-files-confirmation-modal" class="btn-small btn disabled" data-toggle="modal"><i class="icon-trash"></i> Remove file from shelf</a>
            </div>
        </div>
        {% endcan %}

        <div class="documents-content">
            {% if publications %}
            <table class="table documents_table">
                <tbody>
                {% for publication in publications %}
                    <tr id="{{publication.uid}}">
                        {% can user 'can_upload_shelf' organization shelf=shelf %}<td class="row_checkbox"><input type="checkbox" /></td>{% endcan %}
                        <td class="download"><a href="{% url download_publication publication.uid %}" title="{% trans 'Download file' %} {{publication.file_ext|upper}}" data-content="{% trans 'File size' %} {{publication.uploaded_file.size|file_size}}">{% trans 'Download file' %}</a></td>
                        <td class="file">
                            <div class="filename"><a href="#" class="js-open-publication" uid="{{ publication.uid }}" title="{{ publication.title }}">{{publication.title}}</a></div>
                            <div class="uploaded">{% trans 'Uploaded on' %} {{publication.uploaded|format_abbr_datetime}} {% if publication.is_processing %} <span class="processing">{% trans 'Processing' %}</span>{% endif %}</div>
                            <div class="tag">{% print_publication_tags publication %}</div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="no_publication">{% trans 'No files' %}</div>
            {% endif %}
        </div>

    </div></div>
</div></div>

{% include 'document/snippets/publication_modal.html' %}

<div class="modal hide" id="add-tags-modal">
    <div class="modal-header"><a class="close" data-dismiss="modal">×</a><h3>{% trans 'Add tags' %}</h3></div>
    <div class="modal-body">
        <form method="POST" action=".">
            {% csrf_token %}
            <div class="item"><div class="input"><input type="text" name="tag" /><div class="help-block">{% trans 'seperate each tag name with colon' %} (,)</div></div></div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary"><i class="icon-tag icon-white"></i> {% trans 'Add tags' %}</button>
        <button class="btn" data-dismiss="modal">{% trans 'Cancel' %}</button>
    </div>
</div>

{% comment %}
<div class="modal hide" id="delete-files-confirmation-modal">
    <div class="modal-header"><a class="close" data-dismiss="modal">×</a><h3>{% trans 'Confirm deleting file' %}</h3></div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="submit">{% trans 'Confirm deleting file' %} <span></span> {% trans 'file' %}</button>
        <button class="btn" data-dismiss="modal">{% trans 'Cancel' %}</button>
    </div>
</div>
{% endcomment %}

<div class="modal hide" id="delete-files-confirmation-modal">
    <div class="modal-header"><a class="close" data-dismiss="modal">×</a><h3>Remove file from shelf</h3></div>
    <div class="modal-body">
        If this file only in this shelf, it will also be deleted.
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="submit">Confirm removing file <span></span> {% trans 'file' %}</button>
        <button class="btn" data-dismiss="modal">{% trans 'Cancel' %}</button>
    </div>
</div>


{% endblock %}
