{% extends 'base_authenticated.html' %}
{% load helper_tags document_tags %}

{% block head_title %}{{document.publication.title}} | แก้ไขรายละเอียด{% endblock %}
{% block topnav %}{% include 'snippets/organization_topnav.html' with active_menu='document' %}{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body document_page">
  <div class="content-full"><div class="content-inner">

    <ul class="breadcrumb">
      <li><a href="{% url view_documents organization.slug %}">ไฟล์ทั้งหมด</a> <span class="divider">/</span></li>
      <li><a href="{% url view_document document.publication.uid %}">{{document.publication.title}}</a> <span class="divider">/</span></li>
      <li class="active">แก้ไขรายละเอียด</li>
    </ul>

    <h2>แก้ไขรายละเอียด</h2>

    <form method="POST" action=".">
      {% csrf_token %}
      {{form.non_field_errors}}
      <div class="clearfix"><label for="id_title">ชื่อไฟล์</label><div class="input">{{form.title}}{{form.title.errors}}</div></div>
      <div class="clearfix"><label for="id_description">เนื้อหาโดยย่อ</label><div class="input">{{form.description}}{{form.description.errors}}</div></div>

      {% has_shelf organization %}
      <div class="clearfix"><label for="id_shelves">ชั้นหนังสือ</label><div class="input inputs-list">{{form.shelves}}{{form.shelves.errors}}</div></div>
      {% end_has_shelf %}

      {{form.from_page}}
      <div class="form-actions">
        <button type="submit" class="btn primary">บันทึกข้อมูล</button>
        <button type="reset" class="btn">ล้างข้อมูล</button>
      </div>
    </form>

    <div class="delete_panel">
      <a href="{% url delete_document document.publication.uid %}" class="danger">ลบไฟล์</a>
    </div>

  </div></div>
</div>
{% endblock %}