{% extends 'base_authenticated.html' %}
{% load helper_tags %}

{% block head_title %}{{document.publication.title}}{% endblock %}
{% block topnav %}{% include 'snippets/organization_topnav.html' with active_menu='document' %}{% endblock %}

{% block html_head %}
{{block.super}}
<script>
$(document).ready(function () {
  $('button.publish_button').on('click', function(e) {
    open_publish_modal('{{document.publication.uid}}');
    return false;
  });

  $('button.unpublish_button').on('click', function(e) {
    open_unpublish_modal('{{document.publication.uid}}');
    return false;
  });
});
</script>
{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body publication_page document_page">
  <div class="sidebar">
    <div class="cover"></div>
  </div>

  <div class="content"><div class="content-inner">
    <ul class="breadcrumb">
      <li><a href="{% url view_documents organization.slug %}">ไฟล์ทั้งหมด</a> <span class="divider">/</span></li>
      <li class="active">{{document.publication.title}}</li>
    </ul>

    <h2>
      {{document.publication.title}}
      <div class="uploaded">อัพโหลดเมื่อวันที่ {{document.publication.uploaded|format_abbr_datetime}} โดย {{document.publication.uploaded_by.get_profile.get_fullname}}</div>
    </h2>
  
    {% can user 'edit' organization %}
    <div class="page_actions">
      {% if document.publication.status == PUBLICATION_STATUS_UNPUBLISHED %}{% if document.publication.is_publish_when_ready %}<button class="primary btn unpublish_button"><span>หยุดการเผยแพร่</span></button>{% else %}<button class="primary btn publish_button"><span>เผยแพร่</span></button>{% endif %}{% endif %}
      {% if document.publication.status == PUBLICATION_STATUS_PUBLISHED %}<button class="primary btn unpublish_button"><span>หยุดการเผยแพร่</span></button>{% endif %}

      <a href="{% url edit_document document.publication.uid %}" class="btn edit_publication_button"><span>แก้ไขรายละเอียด</span></a>
    </div>
    {% endcan %}
  
    <h3>สถานะ</h3>
    <div class="status">
      <div class="text">{% print_publication_status document.publication %}
        {% if document.publication.scheduled %}<span class="datetime_text">ตั้งไว้วันที่ {{document.publication.scheduled|format_abbr_datetime}} โดย {{document.publication.scheduled_by.get_profile.get_fullname}}</span>{% endif %}
        {% if document.publication.published %}<span class="datetime_text">เผยแพร่เมื่อวันที่ {{document.publication.published|format_abbr_datetime}} โดย {{document.publication.published_by.get_profile.get_fullname}}</span>{% endif %}
      </div>

    </div>

    {% if shelves %}
    <h3>ชั้นหนังสือ</h3>
    <ul class="shelves">
      {% for shelf in shelves %}
        <li><a href="{% url view_documents_by_shelf organization.slug shelf.shelf.id %}">{{shelf.shelf.name}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="details">
      <h3>เนื้อหาไฟล์</h3>
      {% if publication.description %}
      <p>{{publication.description}}</p>
      {% else %}
      <div class="no">ไม่มีข้อมูลเนื้อหาไฟล์</div>
      {% endif %}
    </div>

    {% if publication.book.categories.all %}
    <div class="details">
      <h3>ประเภทสิ่งพิมพ์</h3>
      <p>{{publication.book.categories.all|join:", " }}</p>
    </div>
    {% endif %}

    <!-- 
    <div class="statistics">
      <h3>สถิติ</h3>
      statistics
    </div>
    -->

  </div></div>
</div>
{% endblock %}