{% extends 'base_authenticated.html' %}
{% load helper_tags pagination_tags document_tags %}

{% block head_title %}ไฟล์เอกสาร{% endblock %}
{% block topnav %}{% include 'snippets/organization_topnav.html' with active_menu='document' %}{% endblock %}

{% block html_head %}
{{block.super}}

<script>
var MAX_PUBLICATION_FILE_SIZE = {{MAX_PUBLICATION_FILE_SIZE}};
var MAX_PUBLICATION_FILE_SIZE_TEXT = '{{MAX_PUBLICATION_FILE_SIZE_TEXT}}';

$(document).ready(function () {
  function split( val ) {
    return val.split(/,\s*/);
  }

  function extractLast(term) {
    return split(term).pop();
  }

  initializeDocumentsPage({% if shelf %}'{{shelf.id}}'{% else %}''{% endif %});
});
</script>
{% endblock %}

{% block body_authenticated %}
{% autopaginate publications 50 %}

<div class="container-fluid documents_page"><div class="row-fluid">
  {% include 'document/snippets/documents_sidebar.html' %}
  <div class="span9"><div class="content"><div class="inner-content">
    <h2>{% if shelf_type == 'all' %}ไฟล์ทั้งหมด{% endif %}{% if shelf_type == 'none' %}ไฟล์ที่ไม่อยู่ในชั้นหนังสือ{% endif %}{% if shelf %}<span>ชั้นหนังสือ</span>{{shelf.name}}{% endif %}</h2>

    {% if shelf %}
    <div class="page_actions">
      {% can user 'upload_shelf' organization shelf=shelf %}<button class="btn btn-primary upload_publication_button" data-toggle="button"><i class="icon-upload icon-white"></i> อัพโหลดไฟล์เข้าชั้นหนังสือ</button>{% endcan %}
      {% can user 'manage_shelf' organization %}<a href="{% url edit_document_shelf organization.slug shelf.id %}" class="btn edit_shelf_button"><i class="icon-edit"></i> แก้ไขชั้นหนังสือ</a>{% endcan %}
    </div>
    {% endif %}

    <div class="upload_dropzone" id="upload_dropzone">
      <span class="btn" id="select_files_button">
        <input id="fileupload" type="file" name="files[]" multiple>
        <span><i class="icon-plus"></i> เลือกไฟล์</span>
      </span>
      <div class="dragdrop">หรือลากไฟล์มาวางที่กรอบนี้</div>
    </div>

    <table class="table documents-upload-table" style="display:none;">
      <thead><tr><th>กำลังอัพโหลดไฟล์</th><th class="progress_column"></th><th class="action_column"></th></tr></thead>
      <tbody></tbody>
    </table>

    <div class="checkbox_actions" {% if not publications %}style="display:none;"{% endif %}>
      <div class="inner">
        <span class="check"><input type="checkbox"/></span>
        <a href="#add_tag_modal" class="btn-small btn add_tag_button disabled" data-toggle="modal"><i class="icon-tag"></i> เพิ่มแถบป้าย</a>
        <a href="#delete_files_confirmation_modal" class="btn-small btn disabled" data-toggle="modal"><i class="icon-trash"></i> ลบไฟล์</a>
      </div>
    </div>

    <table class="table documents-table" {% if not publications %}style="display:none;"{% endif %}>
      <tbody>
        {% for publication in publications %}
        <tr id="{{publication.uid}}">
          <td class="row_checkbox"><input type="checkbox" /></td>
          <td class="download"><a href="{% url download_publication publication.uid %}" title="ดาวน์โหลดไฟล์ {{publication.file_ext|upper}}" data-content="ขนาดไฟล์ {{publication.uploaded_file.size|file_size}}">ดาวน์โหลดไฟล์</a></td>
          <td class="file">
            <div class="filename">{{publication.title}}</div>
            <div class="uploaded">อัพโหลดเมื่อวันที่ {{publication.uploaded|format_abbr_datetime}}</div>
            <div class="tag">{% print_publication_tags publication %}</div>
          </td>
          <td class="row_actions">
            <input type="hidden" name="description" value="{{publication.description}}"/>
            <input type="hidden" name="thumbnail" value="{{publication.get_large_thumbnail}}"/>
            <button class="btn-small btn edit_publication_button" data-toggle="button">แก้ไข</button>
          </td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>

    {% paginate %}

    {% if not publications %}
    <div class="no_information">ไม่มีไฟล์</div>
    {% endif %}
  </div></div></div>
</div></div>

<div class="modal fade hide" id="add_tag_modal">
  <div class="modal-header"><a class="close" data-dismiss="modal">×</a><h3>เพิ่มแถบป้าย</h3></div>
  <div class="modal-body">
    <form method="POST" action=".">
      {% csrf_token %}
      <div class="item"><label for="id_tag">ชื่อแถบป้าย</label><div class="input"><input type="text" name="tag" /></div></div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">ยกเลิก</button>
    <button class="btn btn-primary"><i class="icon-tag icon-white"></i> เพิ่มแถบป้าย</button>
  </div>
</div>

<div class="modal fade hide" id="replace_publication_modal">
  <div class="modal-header"><a class="close" data-dismiss="modal">×</a><h3>เปลี่ยนไฟล์ใหม่</h3></div>
  <div class="modal-body">
    <form method="POST" action=".">
      {% csrf_token %}
      <div class="item"><label for="id_replace_file">เลือกไฟล์</label><div class="input"><input type="file" class="replace_file_input"/></div></div>
    </form>
  </div>
</div>

<div class="modal fade hide" id="delete_confirmation_modal">
  <div class="modal-header"><a class="close" data-dismiss="modal">×</a><h3>ยืนยันการลบไฟล์</h3></div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">ยกเลิก</button>
    <button class="btn btn-danger" type="submit">ยืนยันการลบไฟล์</button>
  </div>
</div>

<div class="modal fade hide" id="delete_files_confirmation_modal">
  <div class="modal-header"><a class="close" data-dismiss="modal">×</a><h3>ยืนยันการลบไฟล์</h3></div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">ยกเลิก</button>
    <button class="btn btn-danger" type="submit">ยืนยันการลบไฟล์ <span></span> ไฟล์</button>
  </div>
</div>

{% endblock %}