{% extends 'base_authenticated.html' %}
{% load helper_tags pagination_tags document_tags %}

{% block head_title %}ไฟล์เอกสาร{% endblock %}
{% block topnav %}{% include 'snippets/organization_topnav.html' with active_menu='document' %}{% endblock %}

{% block html_head %}
{{block.super}}
<script>
function increaseShelfCount(shelf_id) {
  var count_num = $('#shelf-' + shelf_id + ' span').text().split(' ')[0].substring(1) * 1;
  count_num = count_num + 1;
  $('#shelf-' + shelf_id + ' span').text('(' + count_num + ' ไฟล์)');
}

$(document).ready(function () {
  $('.move_to_shelf_button').on('click', function(e) {
    var rowObject = $(this).closest('tr');
    var uid = rowObject.attr('id');
    var selected_shelf = rowObject.find('select option:selected').val();

    if(uid && selected_shelf) {
      $.post('{% url move_document_to_shelf %}', {uid:uid, shelf_id:selected_shelf}, function(result) {
        rowObject.find('.table_actions').html('<span class="success">บันทึกเข้าชั้นหนังสือ ' + result.shelf_name + ' เรียบร้อย</span><a href="' + result.edit_url + '" class="small btn" >แก้ไข</a>');

        increaseShelfCount(selected_shelf);
      
      }, 'json').error(function(e) {
        if(e.responseText == 'document-not-found') rowObject.find('.table_actions').remove('.error').append('<div class="error">ไม่พบไฟล์เอกสารที่ต้องการบันทึกข้อมูล</div>');
        if(e.responseText == 'shelf-not-found') rowObject.find('.table_actions').remove('.error').append('<div class="error">ไม่พบชั้นหนังสือที่ต้องการบันทึกข้อมูล</div>');
        if(e.responseText == 'access-denied') rowObject.find('.table_actions').remove('.error').append('<div class="error">ผู้ใช้ไม่มีสิทธิ์เข้าถึงข้อมูลที่ต้องการบันทึก</div>');
      });;
    }
  });
})
</script>
{% endblock %}

{% block body_authenticated %}
{% autopaginate documents 50 %}

<div class="container-fluid container-body documents_page">
{% include 'document/snippets/documents_sidebar.html' %}

<div class="content"><div class="content-inner">
  <h2>ไฟล์ที่ยังไม่อยู่ในชั้นหนังสือ</h2>
  
  <div class="upload_dropzone" id="upload_dropzone" style="display:none;">
    <div class="close_panel"><a href="#">ปิดช่องอัพโหลด</a></div>
    <a href="#" class="btn select_files_button" id="select_files_button"><span>เลือกไฟล์</span></a>
    <div class="dragdrop">หรือลากไฟล์มาวางที่กรอบนี้</div>
  </div>

  <ul id="upload_errors"></ul>
  <ul id="upload_jobs"></ul>

  <table class="publications_table" {% if not documents %}style="display:none;"{% endif %}>
    <colgroup>
      <col width=""/>
      <col width="400"/>
    </colgroup>
    
    <tbody>
      {% for document in documents %}
      <tr id="{{document.publication.uid}}">
        <td class="name">
          <div><a href="{% url view_document document.publication.uid %}">{{document.publication.title}}</a></div>
          <div class="uploaded">อัพโหลดเมื่อ {{document.publication.uploaded|format_abbr_datetime}}</div>
        </td>
        <td class="table_actions">
          ชั้นหนังสือ
          <select name="shelf"><option></option>{% generate_shelf_options organization %}</select>
          <button class="small btn move_to_shelf_button" >บันทึก</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% paginate %}

  {% if not documents %}
  <div class="no_row">ไม่มีไฟล์</div>
  {% endif %}

</div></div>
</div>

{% endblock %}