{% extends 'base_authenticated.html' %}
{% load helper_tags pagination_tags presentation_tags %}

{% block head_title %}ไฟล์เอกสาร{% endblock %}
{% block topnav %}{% include 'snippets/organization_topnav.html' with active_menu='document' %}{% endblock %}

{% block extra_head %}
<script>
var MAX_PUBLICATION_FILE_SIZE = {{ settings.MAX_PUBLICATION_FILE_SIZE }};
var MAX_PUBLICATION_FILE_SIZE_TEXT = '{{ settings.MAX_PUBLICATION_FILE_SIZE_TEXT }}';

$(document).ready(function () {
    initializeDocumentsShelfPage("{{ shelf.id }}");


    $('.documents_table .js-open-publication').live('click', function() {
        $('#publication-modal').on('publication_deleted', function() {
            $('.documents_table .js-open-publication[uid="' + $('#publication-modal').data('uid') + '"]').closest('tr').remove();
            if(!$('.documents_table tr').length) {
                $('.checkbox_actions').hide();
                $('.no_publication').show();
            }
        });
        return false;
    });

    function split( val ) {
        return val.split(/,\s*/);
    }

    function extractLast(term) {
        return split(term).pop();
    }
});
</script>
{% endblock %}

{% block body_authenticated %}
<div class="container-fluid documents_page"><div class="row-fluid">
    <div class="content"><div class="inner-content">
        <ul class="breadcrumb">
            <li>
                <a href="{% url view_documents organization.slug %}">กลุ่มเอกสารทั้งหมด</a> <span class="divider">/</span>
            </li>
            <li class="active">กลุ่มเอกสาร {{ shelf.name }}</li>
        </ul>

        <div class="btn-group shelf_selection pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">เปลี่ยนกลุ่มเอกสาร <span class="caret"></span></a>
            <ul class="dropdown-menu">
                {% generate_shelf_selection user organization %}
                {% can user 'can_manage_shelf' organization %}
                <li class="divider"/>
                <li><a href="{% url create_document_shelf organization.slug %}"><i class="icon-plus-sign"></i> สร้างกลุ่มเอกสารใหม่</a></li>
                {% endcan %}
            </ul>
        </div>

        <h2><span>กลุ่มเอกสาร</span> {{ shelf.name }}</h2>

        <div class="page_actions">
            {% if uploadable_shelves %}<button class="btn btn-primary js-upload-publication" data-toggle="button"><i class="icon-upload icon-white"></i> อัพโหลดไฟล์</button>{% endif %}
            {% can user 'can_manage_shelf' organization %}<a href="{% url edit_document_shelf organization.slug shelf.id %}" class="btn"><i class="icon-pencil"></i> แก้ไขกลุ่มเอกสาร</a>{% endcan %}
        </div>

        <div class="upload_tool hide">
            <form>
                <label for="id_upload_shelf">เลือกกลุ่มเอกสาร</label>
                <select id="id_upload_shelf" class="js-upload-tool-shelf-input"><option></option>{% for shelf in uploadable_shelves %}<option value="{{ shelf.id }}">{{ shelf.name }}</option>{% endfor %}</select>
                <span class="js-upload-tool-file-input"><label for="id_upload_file">เลือกไฟล์</label><input type="file" id="id_upload_file" multiple="" /></span>
            </form>
        </div>

        {% can user 'can_upload_shelf' organization shelf=shelf %}
        <ul class="js-uploading"></ul>

        <div class="checkbox_actions" {% if not publications %}style="display:none;"{% endif %}>
            <div class="inner">
                <span class="check"><input type="checkbox"/></span>
                <a href="#add-tags-modal" class="btn-small btn add_tag_button disabled" data-toggle="modal"><i class="icon-tag"></i> เพิ่มแถบป้าย</a>
                <a href="#delete-files-confirmation-modal" class="btn-small btn disabled" data-toggle="modal"><i class="icon-trash"></i> ลบไฟล์</a>
            </div>
        </div>
        {% endcan %}

        <table class="table documents_table" {% if not publications %}style="display:none;"{% endif %}>
            <tbody>
            {% for publication in publications %}
                <tr id="{{publication.uid}}">
                    {% can user 'can_upload_shelf' organization shelf=shelf %}<td class="row_checkbox"><input type="checkbox" /></td>{% endcan %}
                    <td class="download"><a href="{% url download_publication publication.uid %}" title="ดาวน์โหลดไฟล์ {{publication.file_ext|upper}}" data-content="ขนาดไฟล์ {{publication.uploaded_file.size|file_size}}">ดาวน์โหลดไฟล์</a></td>
                    <td class="file">
                        <div class="filename"><a href="#" class="js-open-publication" uid="{{ publication.uid }}" title="{{ publication.title }}">{{publication.title}}</a></div>
                        <div class="uploaded">อัพโหลดเมื่อวันที่ {{publication.uploaded|format_abbr_datetime}} {% if publication.is_processing %} <span class="processing">กำลังประมวลผล</span>{% endif %}</div>
                        <div class="tag">{% print_publication_tags publication %}</div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="no_publication"{% if publications %} style="display:none;"{% endif %}>ไม่มีไฟล์</div>

    </div></div>
</div></div>

{% include 'document/snippets/publication_modal.html' %}

<div class="modal hide" id="add-tags-modal">
    <div class="modal-header"><a class="close" data-dismiss="modal">×</a><h3>เพิ่มแถบป้าย</h3></div>
    <div class="modal-body">
        <form method="POST" action=".">
            {% csrf_token %}
            <div class="item"><div class="input"><input type="text" name="tag" /><div class="help-block">คั่นแต่ละชื่อด้วยเครื่องหมายลูกน้ำ (,)</div></div></div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary"><i class="icon-tag icon-white"></i> เพิ่มแถบป้าย</button>
        <button class="btn" data-dismiss="modal">ยกเลิก</button>
    </div>
</div>

<div class="modal hide" id="delete-files-confirmation-modal">
    <div class="modal-header"><a class="close" data-dismiss="modal">×</a><h3>ยืนยันการลบไฟล์</h3></div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="submit">ยืนยันการลบไฟล์ <span></span> ไฟล์</button>
        <button class="btn" data-dismiss="modal">ยกเลิก</button>
    </div>
</div>


{% endblock %}