{% extends 'base_authenticated.html' %}
{% load helper_tags pagination_tags document_tags %}

{% block head_title %}ไฟล์เอกสาร{% endblock %}
{% block topnav %}{% include 'snippets/organization_topnav.html' with active_menu='document' %}{% endblock %}

{% block html_head %}
{{block.super}}

{% if shelf %}
{% can user 'upload_shelf' organization=organization shelf=shelf %}

<script type="text/javascript" src="{{STATIC_URL}}libs/plupload/plupload.full.js"></script>

<script>
function increaseAllCount(shelf_id) {
  var count_num = $('.sidebar .shelf-all span').text().split(' ')[0].substring(1) * 1;
  count_num = count_num + 1;
  $('.sidebar .shelf-all span').text('(' + count_num + ' ไฟล์)');
}

function increaseShelfCount(shelf_id) {
  var count_num = $('#shelf-' + shelf_id + ' span').text().split(' ')[0].substring(1) * 1;
  count_num = count_num + 1;
  $('#shelf-' + shelf_id + ' span').text('(' + count_num + ' ไฟล์)');
}

$(document).ready(function () {
  var uploader = new plupload.Uploader({
    runtimes : 'html5,flash',
    browse_button : 'select_files_button',
    container : 'upload_dropzone',
    drop_element: 'upload_dropzone',
    url : '{% url upload_documents_to_shelf organization.slug shelf.id %}',
    flash_swf_url : '{{STATIC_URL}}libs/plupload/plupload.flash.swf',
    multipart: true,
    headers: {'X-Requested-With':'XMLHttpRequest', 'X-CSRFToken':'{{csrf_token}}'}
  });

  uploader.init();

  uploader.bind('FilesAdded', function(up, files) {
    $.each(files, function(i, file) {
      var new_job = $('<li class="uploading" id="' + file.id + '"><div class="filename">' + file.name + '</div><div class="upload_progressbar"></div></li>');
      new_job.find('.upload_progressbar').progressBar({width:262, height:20, boxImage:'/static/libs/progressbar/images/progressbar.png', barImage:{0:'/static/libs/progressbar/images/progressbg.png', 30:'/static/libs/progressbar/images/progressbg.png', 70:'/static/libs/progressbar/images/progressbg.png'}});
      new_job.prependTo('.uploading_panel');
    });

    up.refresh(); // Reposition Flash/Silverlight
    up.start();

    $('.working_panel').show();
  });

  uploader.bind('UploadProgress', function(up, file) {
    $('#' + file.id + ' .upload_progressbar').progressBar(file.percent);
  });

  uploader.bind('FileUploaded', function(up, file, response) {
    var file_id = file.id;
    var responseObject = eval('(' + response.response + ')'); // Django returns response as JSON

    if(responseObject.status == 'success') {
      $('#' + file_id).removeClass('uploading').addClass('uploaded').find('.upload_progressbar').remove();
      $('#' + file_id + ' .filename').html('<a href="/document/' + responseObject.uid + '/">' + file.name + '</a>');
      
      increaseAllCount();
      increaseShelfCount(responseObject.shelf);

    } else if(responseObject.status == 'error') { // UPLOAD ERRORS
      if(responseObject.error == 'file-missing') $('#' + file_id + ' .upload_actions').append('<span class="error">ไม่สามารถอ่านไฟล์ที่ต้องการอัพโหลดได้</span>')
    }
  });

});
</script>

{% endcan %}
{% endif %}


{% endblock %}

{% block body_authenticated %}

<div class="container-fluid container-body documents_upload_page">
{% include 'document/snippets/documents_sidebar.html' %}

<div class="content"><div class="content-inner">
  <ul class="breadcrumb">
    <li><a href="{% url view_documents_by_shelf organization.slug shelf.id %}">ชั้นหนังสือ{{shelf.name}}</a> <span class="divider">/</span></li>
    <li class="active">อัพโหลดไฟล์เข้าชั้นหนังสือ</li>
  </ul>
  
  <h2>อัพโหลดไฟล์เข้าชั้นหนังสือ</h2>

  <div class="upload_dropzone" id="upload_dropzone">
    <a href="#" class="btn select_files_button" id="select_files_button"><span>เลือกไฟล์</span></a>
    <div class="dragdrop">หรือลากไฟล์มาวางที่กรอบนี้</div>
  </div>

  <div class="working_panel" style="display:none;">
    <div class="metadata_panel">
      <form>
        <div><label>ป้ายกำกับไฟล์</label><input type="text" /></div>


        <div>
          <button class="primary btn">บันทึกข้อมูล</button>
        </div>
      </form>
    </div>

    <div class="uploading_panel">
      <ul></ul>
    </div>
    
  </div>
  <div class="clear"></div>





</div></div>
</div>

{% endblock %}