{% extends 'base_authenticated.html' %}
{% load helper_tags document_tags %}

{% block head_title %}{% if not shelf %}สร้างชั้นหนังสือใหม่{% else %}แก้ไขชั้นหนังสือ{% endif %}{% endblock %}
{% block topnav %}{% include 'snippets/organization_topnav.html' with active_menu='document' %}{% endblock %}

{% block html_head %}
{{block.super}}
<script>
function _append_shelf_permission(str, value) {
  if(!$('.shelf_permissions_input .permissions input[value="' + value + '"]').length) {
    $('.shelf_permissions_input .permissions').append('<li>' + str + ' <span>[ <a href="#">ลบออก</a> ]</span><input type="hidden" name="permission" value="' + value + '" /></li>');
  }
}

$(document).ready(function () {
  /* Select Shelf Icon */
  $('#shelf_icons_modal .modal-body a').on('click', function(e) {
    $('.icon_input img').attr('src', $(this).find('img').attr('src'));
    $('.icon_input input').val($(this).attr('rel'));
    $('#shelf_icons_modal').modal('hide');
    return false;
  });

  $('.shelf_permissions_input li a').live('click', function(e) {
    $(this).closest('li').fadeOut(function() {
      $(this).remove();
    });
    return false;
  });

  /* Add Shelf Permission */
  $('.shelf_permissions_input .actions button').button();

  $('.shelf_permissions_input .add_permissions a').on('click', function(e) {
    e.preventDefault();
    if(!$(this).hasClass('active')) {
      $('.permission_panel').hide();
      $(this).prevAll('a').removeClass('active');
      $(this).nextAll('a').removeClass('active');
      $($(this).attr('href')).slideDown('fast').trigger('afterShow');
      $($(this).attr('href') + ' .add_button').attr('disabled', true);
    } else {
      $($(this).attr('href')).slideUp('fast');
    }
  });

  $('.permission_panel .cancel_button').on('click', function(e) {
    e.preventDefault();
    $(this).closest('.permission_panel').slideUp('fast');
    $('.shelf_permissions_input .add_permissions a').removeClass('active');
  });

  // All People Shelf Permission
  $('#add-all-permission').on('afterShow', function(e) {
    $(this).find('input').attr('checked', false);

  }).find('.add_button').on('click', function(e) {
    e.preventDefault();

    var permission_value = $('#add-all-permission input[type="radio"]:checked').val();
    if(permission_value == '2') {
      _append_shelf_permission('ทุกคนในบริษัทสามารถอัพโหลดไฟล์และแก้ไขไฟล์ได้', 'all-2');
    } else if(permission_value == '1') {
      _append_shelf_permission('ทุกคนในบริษัทสามารถดูไฟล์ได้อย่างเดียว (ยกเว้นผู้ดูแลระบบ)', 'all-1');
    }

    $('#add-all-permission').slideUp('fast');
    $('.shelf_permissions_input .add_permissions a').removeClass('active');
  });

  $('#add-all-permission input[type="radio"]').on('click', function(e) {
    $('#add-all-permission .add_button').attr('disabled', false);
  });

  // Group Shelf Permission
  $('#add-group-permission').on('afterShow', function(e) {
    $(this).find('input').attr('checked', false);
    $(this).find('select option:first').attr('selected', true);

  }).find('.add_button').on('click', function(e) {
    e.preventDefault();

    var group_id = $('#add-group-permission select option:selected').val();
    var group_name = $('#add-group-permission select option:selected').text();
    var permission_value = $('#add-group-permission input[type="radio"]:checked').val();

    if(permission_value == '2') {
      _append_shelf_permission('กลุ่มผู้ใช้ <em>' + group_name + '</em> สามารถอัพโหลดไฟล์และแก้ไขไฟล์ได้', 'group-' + group_id + '-2');
    } else if(permission_value == '1') {
      _append_shelf_permission('กลุ่มผู้ใช้ <em>' + group_name + '</em> สามารถดูไฟล์ได้อย่างเดียว', 'group-' + group_id + '-1');
    }

    $('#add-group-permission').slideUp('fast');
    $('.shelf_permissions_input .add_permissions a').removeClass('active');
  });

  $('#add-group-permission input[type="radio"]').on('click', function(e) {
    if($('#add-group-permission select').val() && $('#add-group-permission input[name="group-shelf-permission"]:checked').length) {
      $('#add-group-permission .add_button').attr('disabled', false);
    }
  });

  $('#add-group-permission select').on('change', function(e) {
    if($('#add-group-permission select').val() && $('#add-group-permission input[name="group-shelf-permission"]:checked').length) {
      $('#add-group-permission .add_button').attr('disabled', false);
    } else {
      $('#add-group-permission .add_button').attr('disabled', true);
    }
  });

  // Individual Shelf Permission
  $('#add-individual-permission').on('afterShow', function(e) {
    $(this).find('input').attr('checked', false);
    $('#add-individual-permission .select_individual .as-selection-item').remove();
    $('#add-individual-permission .select_individual .as-values').val('');

  }).find('.add_button').on('click', function(e) {
    e.preventDefault();
    var permission_text;
    var permission_value = $('#add-individual-permission input[type="radio"]:checked').val();

    if(permission_value == '2') {
      permission_text = 'อัพโหลดไฟล์และแก้ไขไฟล์ได้';
    } else if(permission_value == '1') {
      permission_text = 'ดูไฟล์ได้อย่างเดียว';
    }

    $('#add-individual-permission .as-selection-item').each(function() {
      _append_shelf_permission('ผู้ใช้ <em>' + $(this).data('user_name') + '</em> สามารถ' + permission_text, 'user-' + $(this).data('user_id') + '-' + permission_value);
    });

    $('#add-individual-permission').slideUp('fast');
    $('.shelf_permissions_input .add_permissions a').removeClass('active');
  });

  $('#add-individual-permission input[type="radio"]').on('click', function(e) {
    if($('#add-individual-permission .select_individual .as-values').val() && $('#add-individual-permission input[name="individual-shelf-permission"]:checked').length) {
      $('#add-individual-permission .add_button').attr('disabled', false);
    }
  });

  $('#add-individual-permission .select_individual input').autoSuggest('{% url ajax_query_users organization.slug %}', {
    startText:"พิมพ์ชื่อผู้ใช้", emptyText:"ไม่พบผู้ใช้", selectedItemProp:'name', searchObjProps:'name',
    selectionAdded:function(elem, data) {
      elem.data('user_name', data['name']).data('user_id', data['value']);

      if($('#add-individual-permission input[name="individual-shelf-permission"]:checked').length) {
        $('#add-individual-permission .add_button').attr('disabled', false);
      }
    },
    selectionRemoved:function(elem) {
      if($('#add-individual-permission .select_individual .as-values').val() == '' || $('#add-individual-permission input[name="individual-shelf-permission"]:checked').length == 0) {
        $('#add-individual-permission .add_button').attr('disabled', true);
      }
      elem.fadeTo("fast", 0, function(){ elem.remove(); });
    }
  });
})
</script>
{% endblock %}

{% block body_authenticated %}
<div class="container-fluid modify_shelf_page"><div class="row-fluid">
  {% include 'document/snippets/documents_sidebar.html' %}
  <div class="span9"><div class="content"><div class="inner-content">
    {% if not shelf %}
    <h2>สร้างชั้นหนังสือใหม่</h2>
    {% else %}
    <ul class="breadcrumb">
      <li><a href="{% url view_documents_by_shelf organization.slug shelf.id %}">ชั้นหนังสือ {{shelf.name}}</a> <span class="divider">/</span></li>
      <li class="active">แก้ไขชั้นหนังสือ</li>
    </ul>
    <h2>แก้ไขชั้นหนังสือ</h2>
    {% endif %}

    <form method="POST" action=".">
      {% csrf_token %}
      {{form.non_field_errors}}

      <div class="item"><label for="id_name">ชื่อชั้นหนังสือ</label><div class="input">{{form.name}}{{form.name.errors}}</div></div>
      <div class="item"><label for="id_autosync">Auto-Sync</label><div class="input"><label class="checkbox">{{form.auto_sync}} ทุกไฟล์ในชั้นหนังสือนี้จะถูกดาวน์โหลดลงเครื่องผู้ใช้โดยอัตโนมัติ</label>{{form.auto_sync.errors}}</div></div>
      <div class="item"><label for="id_shelf_icon">ไอคอนชั้นหนังสือ</label><div class="input icon_input"><input type="hidden" name="shelf_icon" id="id_shelf_icon" value="{{form.shelf_icon.value}}" /><img src="{{STATIC_URL}}images/shelficons/24/{{form.shelf_icon.value}}.png" /><button class="btn btn-small" data-toggle="modal" data-target="#shelf_icons_modal">เปลี่ยนไอคอน</button></div></div>
      <div class="item">
        <label>การเข้าถึงชั้นหนังสือ</label>
        <div class="input shelf_permissions_input">
          <ul class="permissions">
            {% generate_shelf_permission_list shelf_permissions %}
          </ul>
          {{form.permission.errors}}
          <div class="add_permissions">
            <span><i class="icon-plus"></i> เพิ่มการเข้าถึงสำหรับ</span>
            <a href="#add-all-permission" class="btn btn-small" data-toggle="button">ทุกคนในบริษัท</a>
            <a href="#add-group-permission" class="btn btn-small" data-toggle="button">กลุ่มผู้ใช้</a>
            <a href="#add-individual-permission" class="btn btn-small" data-toggle="button">รายบุคคล</a>
          </div>

          <div class="permission_panel" id="add-all-permission">
            <div class="head">ทุกคนในบริษัทสามารถ</div>
            <ul><li><label><input type="radio" name="all-shelf-permission" value="2"/> อัพโหลดไฟล์และแก้ไขไฟล์ได้</label></li><li><label><input type="radio" name="all-shelf-permission" value="1"/> ดูไฟล์ได้อย่างเดียว (ยกเว้นผู้ดูแลระบบ)</label></li></ul>
            <div class="permission_actions"><button class="btn add_button"><i class="icon-plus"></i> เพิ่มการเข้าถึง</button><button class="btn cancel_button">ยกเลิก</button></div>
          </div>

          <div class="permission_panel" id="add-group-permission">
            <div class="head">กลุ่มผู้ใช้ <select>{% generate_group_select_options organization %}</select> สามารถ</div>
            <ul><li><label><input type="radio" name="group-shelf-permission" value="2"/> อัพโหลดไฟล์และแก้ไขไฟล์ได้</label></li><li><label><input type="radio" name="group-shelf-permission" value="1"/> ดูไฟล์ได้อย่างเดียว</label></li></ul>
            <div class="permission_actions"><button class="btn add_button"><i class="icon-plus"></i> เพิ่มการเข้าถึง</button><button class="btn cancel_button">ยกเลิก</button></div>
          </div>

          <div class="permission_panel" id="add-individual-permission">
            <div class="select_individual"><input type="text" /></div>
            <div class="head">ผู้ใช้สามารถ</div>
            <ul><li><label><input type="radio" name="individual-shelf-permission" value="2"/> อัพโหลดไฟล์และแก้ไขไฟล์ได้</label></li><li><label><input type="radio" name="individual-shelf-permission" value="1"/> ดูไฟล์ได้อย่างเดียว</label></li></ul>
            <div class="permission_actions"><button class="btn add_button"><i class="icon-plus"></i> เพิ่มการเข้าถึง</button><button class="btn cancel_button">ยกเลิก</button></div>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {% if not shelf %}สร้างชั้นหนังสือ{% else %}แก้ไขชั้นหนังสือ{% endif %}</button>
        <button type="reset" class="btn">ล้างข้อมูล</button>
      </div>
    </form>

    {% if shelf %}
    <div class="delete-panel">
      <a href="{% url delete_document_shelf organization.slug shelf.id %}" class="danger">ลบชั้นหนังสือ</a>
    </div>
    {% endif %}
  </div></div></div>
</div></div>

<div class="modal fade hide" id="shelf_icons_modal">
  <div class="modal-header"><a class="close" data-dismiss="modal">×</a><h3>เลือกไอคอน</h3></div>
  <div class="modal-body">
    <ul>
      {% generate_shelf_icons %}
    </ul>
  </div>
</div>
{% endblock %}