{% extends 'base_authenticated.html' %}
{% load helper_tags document_tags %}

{% block head_title %}{{shelf.name}} | ลบชั้นหนังสือ{% endblock %}
{% block topnav %}{% include 'snippets/organization_topnav.html' with active_menu='document' %}{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body shelf_modify_page">
  <div class="sidebar">
    {% can user 'edit' organization %}<div class="buttons"><a href="{% url upload_documents organization.slug %}" class="btn primary span2"><span>อัพโหลดไฟล์</span></a></div>{% endcan %}
    
    <div class="head"><a href="{% url view_documents organization.slug %}">ชั้นหนังสือ</a></div>
    <ul>
      <li class="shelf-all{% if shelf_type == 'all' %} active{% endif %}"><a href="{% url view_documents organization.slug %}">ไฟล์ทั้งหมด ({% print_all_publication_count user organization %} ไฟล์)</a></li>
      {% generate_shelf_list user organization shelf %}
      {% if no_shelf_count %}<li class="shelf-none{% if shelf_type == 'none' %} active{% endif %}"><a href="{% url view_documents_with_no_shelf organization.slug %}">ไฟล์ที่ไม่อยู่ในชั้น ({{no_shelf_count}} ไฟล์)</a></li>{% endif %}
      {% can user 'manage' organization %}<li class="add{% if shelf_type == 'create' %} active{% endif %}"><a href="{% url create_document_shelf organization.slug %}">สร้างชั้นหนังสือใหม่</a></li>{% endcan %}
    </ul>
  </div>

  <div class="content"><div class="content-inner">
    <ul class="breadcrumb">
      <li><a href="{% url view_documents_by_shelf organization.slug shelf.id %}">ชั้นหนังสือ {{shelf.name}}</a> <span class="divider">/</span></li>
      <li class="active">ลบชั้นหนังสือ</li>
    </ul>
    <h2>ลบชั้นหนังสือ</h2>
    
    <form method="POST" action=".">
      {% csrf_token %}
      {{form.non_field_errors}}

      <div class="delete_documents">
        <input type="checkbox" name="delete_documents" id="id_delete_documents" /><label for="id_delete_documents">ลบไฟล์ที่อยู่ในชั้น {{shelf.name}} ทั้งหมด ({{shelf_documents_count}} ไฟล์)</label>
      </div>

      <div class="form_actions left_form_actions">
        <button type="submit" name="submit-delete" class="btn danger">ยืนยันการลบชั้นหนังสือ</button>
        <button type="submit" name="submit-cancel" class="btn">ยกเลิก</button>
      </div>
    </form>

  </div></div>
</div>
{% endblock %}