{% extends 'base_authenticated.html' %}
{% load helper_tags presentation_tags %}
{% load i18n %}

{% block head_title %}{{shelf.name}} | {% trans 'Delete shelf' %}{% endblock %}
{% block topnav %}{% include 'snippets/organization_topnav.html' with active_menu='document' %}{% endblock %}

{% block body_authenticated %}
<div class="container-fluid modify_shelf_page"><div class="row-fluid">
    <div class="content"><div class="inner-content">
        <ul class="breadcrumb">
            <li><a href="{% url view_documents organization.slug %}">{% trans 'All shelves' %}</a> <span class="divider">/</span></li>
            <li><a href="{% url view_documents_by_shelf organization.slug shelf.id %}">{% trans 'Shelf' %} {{shelf.name}}</a> <span class="divider">/</span></li>
            <li class="active">{% trans 'Delete shelf' %}</li>
        </ul>

        <form method="POST" action=".">
            {% csrf_token %}
            {{form.non_field_errors}}

            {% if shelf_documents_count %}
                <div class="delete_documents">
                    <input type="checkbox" name="delete_documents" id="id_delete_documents" /><label for="id_delete_documents">{% trans 'Delete all files in shelf' %} {{shelf.name}} ({{shelf_documents_count}} {% if shelf_documents_count > 1 %}{% trans 'files' %}{% else %}{% trans 'file' %}{% endif %})</label>
                </div>
            {% endif %}

            <div class="form-actions">
                <button type="submit" name="submit-delete" class="btn btn-danger">{% trans 'Confirm delete shelf' %}</button>
                <button type="submit" name="submit-cancel" class="btn">{% trans 'Cancel' %}</button>
            </div>
        </form>

    </div></div>
</div></div>
{% endblock %}
