{% extends 'publisher/manage/publisher_manage_base.html' %}
{% load helper_tags %}

{% block publisher_manage_head_title %}ชั้นหนังสือ{% endblock %}
{% block publisher_manage_menu %}{% include 'publisher/snippets/publisher_manage_nav.html' with active_publisher_manage_menu='shelf' %}{% endblock %}

{% block publisher_manage_content %}
<h2>ชั้นหนังสือ</h2>

{% can user 'manage' publisher %}
<div class="page_actions">
  <a href="{% url create_publisher_shelf publisher.id %}" class="btn">สร้างชั้นหนังสือ</a>
</div>
{% endcan %}

{% if publisher_shelves %}
<table class="zebra-striped">
  <col width="270"/>
  <col/>
  <col width="190"/>
  <thead>
    <tr>
      <th>ชื่อชั้นหนังสือ</th>
      <th>คำอธิบาย</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for shelf in publisher_shelves %}
    <tr>
      <td>{{shelf.name}}</td>
      <td>{{shelf.description}}</td>
      <td class="row_actions"><a href="{% url edit_publisher_shelf shelf.id %}">แก้ไขชั้นหนังสือ</a> | <a href="{% url delete_publisher_shelf shelf.id %}">ลบชั้นหนังสือ</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="no_row">ไม่มีชั้นหนังสือ</div>
{% endif %}

{% endblock %}