{% extends 'publisher/manage/publisher_manage_base.html' %}
{% load helper_tags %}

{% block publisher_manage_head_title %}ทีมงาน{% endblock %}
{% block publisher_manage_menu %}{% include 'publisher/snippets/publisher_manage_nav.html' with active_publisher_manage_menu='user' %}{% endblock %}

{% block publisher_manage_content %}
<h2>ทีมงาน</h2>

{% can user 'manage' publisher %}<div class="page_actions"><a href="{% url invite_publisher_user publisher.id %}" class="btn">เพิ่มทีมงาน</a></div>{% endcan %}

{% if invited_users %}
<h3>คำขอเพิ่มทีมงาน</h3>

<table class="zebra-striped">
  <col />
  <col width="240"/>
  <col width="240"/>
  <col width="180"/>
  <thead>
    <tr>
      <th>อีเมล</th>
      <th>ตำแหน่ง</th>
      <th>เมื่อวันที่</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for invitation in invited_users %}
    <tr>
      <td>{{invitation.user_email}}</td>
      <td>{{invitation.role.name}}</td>
      <td>{{invitation.created|format_abbr_datetime}}</td>
      <td class="row_actions"><a href="{% url resend_publisher_invitation invitation.id %}">ส่งอีเมลอีกครั้ง</a> | <a href="{% url cancel_publisher_invitation invitation.id %}">ยกเลิก</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3>ทีมงานทั้งหมด</h3>
{% endif %}

<table class="zebra-striped">
  <col />
  <col width="240"/>
  <col width="240"/>
  <col width="180"/>
  <thead>
    <tr>
      <th>ชื่อ</th>
      <th>อีเมล</th>
      <th>ตำแหน่ง</th>
      {% can user 'manage' publisher %}<th></th>{% endcan %}
    </tr>
  </thead>
  <tbody>
    {% for publisher_user in publisher_users %}
    <tr>
      <td>{{publisher_user.user.get_profile.get_fullname}}</td>
      <td>{{publisher_user.user.email}}</td>
      <td>{{publisher_user.role.name}}</td>
      {% can user 'manage' publisher %}<td class="row_actions"><a href="{% url edit_publisher_user publisher_user.id %}">แก้ไขข้อมูล</a> | <a href="{% url remove_publisher_user publisher_user.id %}">ถอดออกจากทีม</a></td>{% endcan %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}