{% extends 'manage/manage_base.html' %}
{% load helper_tags %}

{% block manage_head_title %}สำนักพิมพ์{% endblock %}
{% block topnav %}{% include 'manage/snippets/manage_topnav.html' with active_menu='publisher' %}{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body">
  <div class="content-full"><div class="content-inner">
    <h2>สำนักพิมพ์</h2>
    <div class="page_actions"><a href="{% url manage.create_publisher %}" class="btn">เพิ่มสำนักพิมพ์</a></div>

    <table class="zebra-striped">
      <col />
      <col width="400"/>
      <col width="180"/>
      <thead>
        <tr>
          <th>ชื่อสำนักพิมพ์</th>
          <th>สถานะ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for publisher in publishers %}
        <tr>
          <td>{{publisher.name}}</td>
          <td>{% print_publisher_status publisher %}</td>
          <td class="row_actions"><a href="{% url manage_publisher publisher.id %}">จัดการสำนักพิมพ์</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div></div>
</div>
{% endblock %}