{% extends 'manage/manage_base.html' %}
{% load helper_tags %}

{% block manage_head_title %}สำนักพิมพ์{% endblock %}
{% block topnav %}{% include 'manage/snippets/manage_topnav.html' with active_menu='publisher' %}{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body">
  <div class="content-full"><div class="content-inner">
    <ul class="breadcrumb">
      <li><a href="{% url manage_publishers %}">สำนักพิมพ์ทั้งหมด</a> <span class="divider">/</span></li>
      <li class="active">เพิ่มสำนักพิมพ์</li>
    </ul>

    <h2>เพิ่มสำนักพิมพ์</h2>

    <form method="POST" action=".">
      {% csrf_token %}
      {{form.non_field_errors}}
      
        <div class="clearfix"><label for="id_publisher_name">ชื่อสำนักพิมพ์</label><div class="input">{{form.publisher_name}}{{form.publisher_name.errors}}</div></div>
        <div class="clearfix"><label for="id_admin_email">อีเมลผู้ดูแล</label><div class="input">{{form.admin_email}}{{form.admin_email.errors}}</div></div>

        <div class="clearfix"><label for="id_modules">โมดูล</label><div class="input inputs-list">{{form.modules}}{{form.modules.errors}}</div></div>
        

        <div class="form_actions">
          <button type="submit" class="btn primary">เพิ่มสำนักพิมพ์</button>
          <button type="reset" class="btn">ล้างข้อมูล</button>
        </div>
      
    </form>

  </div></div>
</div>
{% endblock %}