{% extends 'manage/manage_base.html' %}
{% load helper_tags %}
{% load i18n %}

{% block manage_head_title %}{% trans 'Organizations' %}{% endblock %}
{% block topnav %}{% include 'manage/snippets/manage_topnav.html' with active_menu='management' %}{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body">
  <div class="content-full"><div class="content-inner">
    <h2>บริษัท</h2>
    <div class="page_actions"><a href="{% url manage.create_organization %}" class="btn">{% trans 'Add organization' %}</a></div>

    {% if organizations_invited_count > 0 %}
      <div class="user_invitations"><a href="{% url view_organizations_invited %}">
        {% if organizations_invited_count > 1 %}
        {% blocktrans %}There are {{ organizations_invited_count }} organizations that not accept organization invitation{% endblocktrans %}
        {% else %}
        {% blocktrans %}There is {{ organizations_invited_count }} organization that not accept organization invitation{% endblocktrans %}
        {% endif %}
        </a></div>
    {% endif %}

    <table class="zebra-striped">
      <col />
      <col width="400"/>
      <col width="180"/>
      <thead>
        <tr>
          <th>{% trans 'Organization name' %}</th>
          <th>{% trans 'status' %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for organization in organizations %}
        <tr>
          <td>{{organization.name}}</td>
          <td>{% print_organization_status organization %}</td>
          <td class="row_actions"><a href="{% url view_organization_profile organization.slug %}">{% trans 'Organization' %}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div></div>
</div>
{% endblock %}