{% extends 'manage/manage_base.html' %}
{% load helper_tags pagination_tags %}
{% load i18n %}

{% block manage_head_title %}{% trans 'Organizions' %}{% endblock %}
{% block topnav %}{% include 'manage/snippets/manage_topnav.html' with active_menu='management' %}{% endblock %}

{% block body_authenticated %}
<div class="container-fluid organization_users_page"><div class="row-fluid">
    <div class="content"><div class="inner-content">
        <ul class="breadcrumb">
            <li><a href="{% url manage_organizations %}">{% trans 'Organizations' %}</a> <span class="divider">/</span></li>
            <li class="active">{% trans 'Organizion invitation' %}</li>
        </ul>

        <h2>{% trans 'Organizion invitation' %}</h2>

        {% if organizations_invited|length > 0 %}
            {% autopaginate organizations_invited 50 %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>{% trans 'Organization' %}</th>
                    <th>{% trans 'Administrator email' %}</th>
                    <th>{% trans 'Sent at' %}</th>
                    <th class="edit_column"></th>
                </tr>
                </thead>
                <tbody>
                {% for invitation in organizations_invited %}
                    <tr>
                        <td>{{invitation.organization_name}}</td>
                        <td>{{invitation.admin_email}}</td>
                        <td>{{invitation.created|format_abbr_datetime}}</td>
                        <td class="row_actions"><a href="{% url edit_organization_invitation invitation.id %}" class="btn btn-small">{% trans 'Edit' %}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% paginate %}
        {% else %}
            <div class="no_information">{% trans 'No organization invitations' %}</div>
        {% endif %}

    </div></div>
</div></div>
{% endblock %}