{% extends 'base_authenticated.html' %}
{% load helper_tags module_tags %}

{% block head_title %}หนังสือ{% endblock %}
{% block topnav %}{% include 'publisher/snippets/publisher_topnav.html' with active_menu='book' %}{% endblock %}

{% block html_head %}
{{block.super}}
<script>
$(document).ready(function () {
  {% can user 'upload' publisher %}
  bind_upload_publication_modal();
  bind_upload_publication_form();

  $('.upload_publication_button').on('click', function(e) {
    open_upload_publication_modal();
    return false;
  });
  {% endcan %}
  
  {% if outstandings %}
  bind_publication_outstandings();
  {% endif %}
})
</script>
{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body publisher_books_page">

  <div class="content-full"><div class="content-inner">

    <h2>หนังสือ</h2>

    {% can user 'upload' publisher %}
    <div class="page_actions">
      {% can user 'upload' publisher %}<button class="btn primary upload_publication_button">อัพโหลดหนังสือ</button>{% endcan %}
    </div>
    {% endcan %}

    <h3>ไฟล์หนังสือ</h3>

    {% if books or outstandings.unfinished or outstandings.scheduled or outstandings.unpublished %}
    <div class="publication_outstandings">
      {% if outstandings.unfinished %}
      <div class="unfinished_list">
        <div class="type">UNFINISHED ISSUES</div>
        <ul>{% for uploading_publication in outstandings.unfinished %}{% include 'publisher/snippets/outstanding_unfinished.html' with uploading_publication=uploading_publication %}{% endfor %}</ul>
      </div>
      {% endif %}

      {% if outstandings.scheduled %}
      <div class="scheduled_list">
        <div class="type">SCHEDULED BOOKS</div>
        <ul>{% for publication in outstandings.scheduled %}{% include 'publisher/snippets/outstanding_scheduled.html' with publication=publication %}{% endfor %}</ul>
      </div>
      {% endif %}

      {% if outstandings.unpublished %}
      <div class="unpublished_list">
        <div class="type">UNPUBLISHED BOOKS</div>
        <ul>{% for publication in outstandings.unpublished %}{% include 'publisher/snippets/outstanding_unpublished.html' with publication=publication %}{% endfor %}</ul>
      </div>
      {% endif %}
      
      {% if books %}
      <div>
        <div class="type">PUBLISHED BOOKS - {{magazine.issues|length}} issues</div>
        <ul>
          {% for issue in magazine.issues %}
          <li {% if forloop.last %}class="last"{% endif %}>
            <div class="cover"></div>
            <div class="statistics"></div>
            <div class="name"><a href="{% url view_publication publication.id %}">{{publication.title}}</a></div>
            <div class="status">ตีพิมพ์เมื่อวันที่ {{publication.published|format_abbr_datetime}}</div>
            <div class="stats"></div>
            {% can user 'upload' publisher %}<div class="links"><a href="{% url edit_publication publication.id %}">Edit publication</a></div>{% endcan %}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>

    {% else %}
    <div class="no_row">ยังไม่มีไฟล์หนังสือ</div>
    {% endif %}

    {% can user 'upload' publisher %}{% generate_publication_module_upload_modal 'book' %}{% endcan %}

  </div></div>
</div>
{% endblock %}