{% extends 'base_authenticated.html' %}
{% load helper_tags page_tags %}

{% block head_title %}Edit Magazine - {{publication.title}}{% endblock %}
{% block topnav %}{% include 'snippets/topnav.html' with active_menu='book' %}{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body publisher_magazines_page">
  <div class="content-full"><div class="content-inner">

    <ul class="breadcrumb">
      <li><a href="{% url view_books publisher.id %}">หนังสือทั้งหมด</a> <span class="divider">/</span></li>
      <li><a href="{% url view_publication publication.id %}">{{publication.title}}</a> <span class="divider">/</span></li>
      <li class="active">แก้ไขรายละเอียด</li>
    </ul>

    <h2>แก้ไขรายละเอียด</h2>

    <form method="POST" action="{% url edit_publication publication.id %}">
      {% csrf_token %}
      {{form.non_field_errors}}
      <div class="clearfix"><label for="id_title">ชื่อหนังสือ</label><div class="input">{{form.title}}{{form.title.errors}}</div></div>
      <div class="clearfix"><label for="id_author">ผู้แต่ง</label><div class="input">{{form.author}}{{form.author.errors}}</div></div>
      <div class="clearfix"><label for="id_description">คำอธิบาย</label><div class="input">{{form.description}}<span class="help-block">ไม่จำเป็นต้องกรอก</span>{{form.description.errors}}</div></div>
      <div class="clearfix"><label for="id_title">ประเภทสิ่งพิมพ์</label><div class="input multiple_checkbox row">{% genetate_publication_category_multiple_checkbox form.categories.value %}</div></div>

      {% can user 'publish' publisher %}{% include 'publisher/snippets/publish_status.html' with form=form %}{% endcan %}

      <div class="form_actions">
        <button type="submit" class="btn primary">บันทึกข้อมูล</button>
        <button type="reset" class="btn">ล้างข้อมูล</button>
      </div>
    </form>

  </div></div>
</div>
{% endblock %}