{% extends 'base_authenticated.html' %}
{% load helper_tags %}

{% block head_title %}{{publication.title}}{% endblock %}
{% block topnav %}{% include 'publisher/snippets/publisher_topnav.html' with active_menu='book' %}{% endblock %}

{% block body_authenticated %}
<div class="container-fluid container-body publication_page">
  <div class="sidebar">
    <div class="cover"></div>
  </div>

  <div class="content"><div class="content-inner">
    <ul class="breadcrumb">
      <li><a href="{% url view_books publisher.id %}">หนังสือทั้งหมด</a> <span class="divider">/</span></li>
      <li class="active">{{publication.title}}</li>
    </ul>

    <h2>
      {{publication.title}}
      <div class="uploaded">อัพโหลดเมื่อวันที่ {{publication.uploaded|format_abbr_datetime}} โดย {{publication.uploaded_by.get_profile.get_fullname}}</div>
    </h2>

    {% can user 'edit' publisher %}<div class="page_actions"><a href="{% url edit_publication publication.id %}" class="btn edit_publication_button"><span>แก้ไขรายละเอียด</span></a></div>{% endcan %}

    <h3>สถานะ</h3>
    <div class="publish_status">
      {% print_publication_status publication %}
      {% can user 'edit' publisher %}<div class="change"><a href="{% url edit_publication_status publication.id %}" class="btn small">เปลี่ยนสถานะ</a></div>{% endcan %}
    </div>

    <div class="details">
      <h3>ผู้แต่ง</h3>
      <p>{{publication.book.author}}</p>
    </div>

    <div class="details">
      <h3>เนื้อหาโดยย่อ</h3>
      {% if publication.description %}
      <p>{{publication.description}}</p>
      {% else %}
      <div class="no">ไม่มีเนื้อหาโดยย่อ</div>
      {% endif %}
    </div>

    {% if publication.book.categories.all %}
    <div class="details">
      <h3>ประเภทสิ่งพิมพ์</h3>
      <p>{{publication.book.categories.all|join:", " }}</p>
    </div>
    {% endif %}

    <div class="statistics">
      <h3>สถิติ</h3>
      statistics
    </div>

  </div></div>
</div>
{% endblock %}